[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Bluetooth Manager
GenericName=Bluetooth Device Manager
Comment=Manage Bluetooth devices and connections
Icon=bluetooth
TryExec=noexecme
Exec=noexecme
Terminal=false
Categories=Video

