[Desktop Entry]
Type=Application
Name=calibre
Comment=E-book library management
Comment[az]=E-kitab kitabxanasının idarə edilməsi
Comment[bg]=Управление на електронни книги
Comment[bn]=ই বই গ্রন্থাগার ব্যবস্থাপনা
Comment[ca]=Gestió de llibres electrònics
Comment[cs]=Správa knihoven elektronických knih
Comment[da]=E-bog bibliotek ledelse
Comment[el]=Διαχείριση βιβλιοθήκης ηλεκτρονικών βιβλίων
Comment[eo]=E-libra biblioteko-administrado
Comment[et]=E-raamatute raamatukogu haldamine
Comment[fi]=E-kirjakirjaston hallinta
Comment[fr]=Gestion de la bibliothèque de livres électroniques
Comment[hi]=ई-बुक लाइब्रेरी प्रबंधन
Comment[hr]=Upravljanje knjižnicama e-knjiga
Comment[hu]=E-könyv könyvtárkezelés
Comment[id]=Pengelolaan perpustakaan e-book
Comment[it]=Gestione librerie di libri elettronici
Comment[ja]=電子ブックライブラリ管理
Comment[ko]=전자 도서 라이브러리 관리
Comment[lt]=E-knygų bibliotekos valdymas
Comment[lv]=E-grāmatu bibliotēkas vadība
Comment[ms]=Pengurusan perpustakaan E-book
Comment[nb]=E-bok bibliotek ledelse
Comment[nl]=E-book bibliotheekbeheer
Comment[no]=E-bok bibliotek ledelse
Comment[pl]=Zarządzanie biblioteką e-booków
Comment[pt]=E-book library management
Comment[ro]=Administrarea bibliotecii e-book
Comment[sk]=Správa knižnice elektronických kníh
Comment[sl]=Upravljanje knjižnice elektronskih knjig
Comment[sr]=Управљање библиотеком е-књига
Comment[sv]=E-bok bibliotekshantering
Comment[te]=ఇ-పుస్తకం గ్రంథాలయ నిర్వహణ
Comment[tl]=Pamamahala ng library ng E-libro
Comment[tr]=E-kitap kütüphanesi yönetimi
Comment[uk]=Управління бібліотекою електронних книг
Comment[vi]=Quản lý thư viện điện tử
Comment[es]=aplicación para la gestión de libros electrónicos
Comment[de]=E-Book Bibliotheksverwaltung
Exec=calibre
Icon=calibre
Categories=Education
MimeType=application/vnd.amazon.ebook;application/vnd.ms-htmlhelp;image/vnd.djvu;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-dtbncx+xml;application/epub+zip;application/x-zip-compressed-fb2;application/xml

