[Desktop Entry]
Name=Files
Name[az]=Fayllar
Name[bg]=Файлове
Name[bn]=নথি পত্র
Name[ca]=Fitxers
Name[cs]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[el]=Αρχεία
Name[eo]=Dosieroj
Name[es]=Archivos
Name[et]=Failid
Name[fi]=Tiedostot
Name[fr]=Des dossiers
Name[hi]=फ़ाइलें
Name[hr]=Datoteke
Name[hu]=Files
Name[id]=File
Name[it]=File
Name[ja]=ファイル
Name[ko]=파일들
Name[lt]=Failai
Name[lv]=Faili
Name[ms]=Fail
Name[nb]=Filer
Name[nl]=Bestanden
Name[no]=Filer
Name[pl]=Akta
Name[pt]=Arquivos
Name[ro]=Fișiere
Name[sk]=Súbory
Name[sl]=Datoteke
Name[sr]=Фајлови
Name[sv]=Filer
Name[te]=ఫైళ్లు
Name[tl]=Mga file
Name[tr]=Dosyalar
Name[uk]=Файли
Name[vi]=Các tập tin
Comment=Thunar File manager
Comment[az]=Thunar Fayl meneceri
Comment[bg]=Файлов мениджър за тунерите
Comment[bn]=থুনার ফাইল ম্যানেজার
Comment[ca]=Administrador d'arxius de Thunar
Comment[cs]=Správce souborů Thunar
Comment[da]=Thunar Filhåndtering
Comment[de]=Thunar Dateimanager
Comment[el]=Thunar File Manager
Comment[eo]=Thunar Dosiera administranto
Comment[es]=Thunar File manager
Comment[et]=Thunari failihaldur
Comment[fi]=Thunar Tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers Thunar
Comment[hi]=थुनर फ़ाइल प्रबंधक
Comment[hr]=Thunar Upravitelj datoteka
Comment[hu]=Thunar Fájlkezelő
Comment[id]=Manajer file Thunar
Comment[it]=File manager Thunar
Comment[ja]=Thunarファイルマネージャ
Comment[ko]=Thunar 파일 관리자
Comment[lt]='Thunar'failų tvarkyklė
Comment[lv]=Thunar failu pārvaldnieks
Comment[ms]=Pengurus Fail Thunar
Comment[nb]=Thunar Filbehandling
Comment[nl]=Thunar Bestandsbeheer
Comment[no]=Thunar Filbehandling
Comment[pl]=Thunar File manager
Comment[pt]=Thunar File manager
Comment[ro]=Thunar File manager
Comment[sk]=Thunar Správca súborov
Comment[sl]=Upravitelj datotek Thunar
Comment[sr]=Тхунар Филе манагер
Comment[sv]=Thunar Filhanterare
Comment[te]=థునార్ ఫైల్ మేనేజర్
Comment[tl]=Thunar File manager
Comment[tr]=Thunar Dosya yöneticisi
Comment[uk]=Thunar File Manager
Comment[vi]=Trình quản lý tệp Thunar
Exec=Thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
