[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Visually move
Name[az]=Görmə qabiliyyəti
Name[bg]=Визуално движение
Name[bn]=দৃশ্যত সরানো
Name[ca]=Mou-te visualment
Name[cs]=Vizuálně se pohybujte
Name[da]=Flyt visuelt
Name[de]=Visuell bewegen
Name[el]=Μετακινήστε οπτικά
Name[en]=Visually move
Name[eo]=Vere movi
Name[es]=Mover visualmente
Name[et]=Visuaalselt liikuma
Name[fi]=Visuaalisesti liikkua
Name[fr]=Déplacer visuellement
Name[hi]=नेत्रहीन कदम
Name[hr]=Vizualno se kretati
Name[hu]=Vizuális mozog
Name[id]=Bergerak secara visual
Name[it]=Mezzo visivo
Name[ja]=視覚的に移動する
Name[ko]=시각적으로 움직인다.
Name[lt]=Vizualiai judėti
Name[lv]=Vizuāli pārvietoties
Name[ms]=Bergerak secara visual
Name[nb]=Flytt visuelt
Name[nl]=Visueel bewegen
Name[no]=Flytt visuelt
Name[pl]=Wizualnie się ruszaj
Name[pt]=Movimento visual
Name[ro]=Mută ​​vizual
Name[sk]=Vizuálne pohybovať
Name[sl]=Vizualno premikanje
Name[sr]=Визуелно кретање
Name[sv]=Flytta visuellt
Name[te]=దృశ్యమానంగా తరలించండి
Name[tl]=Biswal na lumipat
Name[tr]=Görme hareket et
Name[uk]=Візуально рухатися
Name[vi]=Di chuyển trực quan
Comment=GIF player
Exec=animate %U
MimeType=image/gif
