# This is a replacement of the arandr tool to ours one, because it already uses arandr, so its a replacement
[Desktop Entry]
Name=Screen settings
Name[az]=Ekran parametrləri
Name[bg]=Настройки на екрана
Name[bn]=স্ক্রিন সেটিংস
Name[ca]=Configuració de la pantalla
Name[cs]=Nastavení obrazovky
Name[da]=Skærmindstillinger
Name[de]=Bildschirmeinstellungen
Name[el]=Ρυθμίσεις οθόνης
Name[eo]=Ekranaj agordoj
Name[es]=Ajustes de pantalla
Name[et]=Ekraani seaded
Name[fi]=Näytön asetukset
Name[fr]=Paramètres d'écran
Name[hi]=स्क्रीन सेटिंग्स
Name[hr]=Postavke zaslona
Name[hu]=A képernyő beállításai
Name[id]=Pengaturan layar
Name[it]=Impostazioni dello schermo
Name[ja]=画面設定
Name[ko]=화면 설정
Name[lt]=Ekrano nustatymai
Name[lv]=Ekrāna iestatījumi
Name[ms]=Tetapan skrin
Name[nb]=Skjerminnstillinger
Name[nl]=Scherminstellingen
Name[no]=Skjerminnstillinger
Name[pl]=Ustawienia ekranu
Name[pt]=Configurações de tela
Name[ro]=Setările ecranului
Name[sk]=Nastavenia obrazovky
Name[sl]=Nastavitve zaslona
Name[sr]=Подешавања екрана
Name[sv]=Skärminställningar
Name[te]=స్క్రీన్ సెట్టింగ్లు
Name[tl]=Mga setting ng screen
Name[tr]=Ekran ayarları
Name[uk]=Налаштування екрана
Name[vi]=Cài đặt màn hình
GenericName=Resolutions and multiple screens with their positionings
GenericName[az]=Qərarlar və mövqeləri ilə çox ekranlar
GenericName[bg]=Резолюции и множество екрани с тяхното разположение
GenericName[bn]=তাদের অবস্থান সঙ্গে রেজোলিউশন এবং একাধিক স্ক্রিন
GenericName[ca]=Resolucions i pantalles múltiples amb les seves posicions
GenericName[cs]=Rozlišení a více obrazovek s jejich polohováním
GenericName[da]=Beslutninger og flere skærme med deres positioneringer
GenericName[de]=Auflösungen und mehrere Bildschirme mit ihren Positionen
GenericName[el]=Αναλύσεις και πολλαπλές οθόνες με τη θέση τους
GenericName[eo]=Rezolucioj kaj multoblaj ekranoj kun iliaj pozicioj
GenericName[es]=Resoluciones y pantallas múltiples con sus posiciones
GenericName[et]=Resolutsioonid ja mitmed ekraanid nende positsioonidega
GenericName[fi]=Päätelmät ja useat näytöt niiden sijainnin kanssa
GenericName[fr]=Résolutions et écrans multiples avec leurs positionnements
GenericName[hi]=संकल्प और उनकी स्थिति के साथ कई स्क्रीन
GenericName[hr]=Rezolucije i više zaslona s njihovim pozicioniranjem
GenericName[hu]=Megoldások és több képernyő a pozícionálásukkal
GenericName[id]=Resolusi dan beberapa layar dengan posisi mereka
GenericName[it]=Risoluzioni e schermi multipli con i loro posizionamenti
GenericName[ja]=決まった位置の解像度と複数の画面
GenericName[ko]=해상도와 여러 화면의 위치 지정
GenericName[lt]=Rezoliucijos ir keli ekranai su jų padėtimi
GenericName[lv]=Rezolūcijas un vairāki ekrāni ar to izvietojumu
GenericName[ms]=Resolusi dan pelbagai skrin dengan kedudukan mereka
GenericName[nb]=Oppløsninger og flere skjermer med sine posisjoner
GenericName[nl]=Resoluties en meerdere schermen met hun positionering
GenericName[no]=Oppløsninger og flere skjermer med sine posisjoner
GenericName[pl]=Uchwały i wiele ekranów z ich pozycjami
GenericName[pt]=Resoluções e múltiplas telas com seus posicionamentos
GenericName[ro]=Rezoluții și ecrane multiple cu poziționarea lor
GenericName[sk]=Rozlíšenia a viac obrazoviek s ich polohou
GenericName[sl]=Resolucije in več zaslonov s svojimi pozicijami
GenericName[sr]=Резолуције и више екрана са њиховим позиционирањем
GenericName[sv]=Upplösningar och flera skärmar med sina positioner
GenericName[te]=వాటి స్థానాలతో తీర్మానాలు మరియు బహుళ తెరలు
GenericName[tl]=Mga resolusyon at maraming mga screen sa kanilang mga posisyon
GenericName[tr]=Çözünürlükleri ve konumlandırmaları ile çoklu ekranlar
GenericName[uk]=Резолюції та кілька екранів з їх позиціонуванням
GenericName[vi]=Độ phân giải và nhiều màn hình với vị trí của chúng
Icon=display
TryExec=elive-multiscreens
Exec=elive-multiscreens
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
