[Desktop Entry]
Name=ARandR
GenericName=Settings of screens and resolutions
GenericName[az]=Ekranların və qətnamələrin parametrləri
GenericName[bg]=Настройки на екрани и резолюции
GenericName[bn]=পর্দার সেটিংস এবং রেজুলেশন
GenericName[ca]=Configuració de pantalles i resolucions
GenericName[cs]=Nastavení obrazovek a rozlišení
GenericName[da]=Indstillinger af skærme og opløsninger
GenericName[de]=Einstellungen von Bildschirmen und Auflösungen
GenericName[el]=Ρυθμίσεις οθονών και αναλύσεων
GenericName[eo]=Agordoj de ekranoj kaj rezolucioj
GenericName[es]=Configuración de pantallas y resoluciones
GenericName[et]=Ekraanide ja resolutsioonide seadistused
GenericName[fi]=Näyttöjen ja päätöslauselmien asetukset
GenericName[fr]=Paramètres des écrans et des résolutions
GenericName[hi]=स्क्रीन और प्रस्तावों की सेटिंग
GenericName[hr]=Postavke zaslona i rezolucija
GenericName[hu]=A képernyők és felbontások beállításai
GenericName[id]=Pengaturan layar dan resolusi
GenericName[it]=Impostazioni di schermate e risoluzioni
GenericName[ja]=画面と解像度の設定
GenericName[ko]=화면 및 해상도 설정
GenericName[lt]=Ekranų ir rezoliucijų nustatymai
GenericName[lv]=Ekrānu un rezolūciju iestatījumi
GenericName[ms]=Tetapan skrin dan resolusi
GenericName[nb]=Innstillinger av skjermer og oppløsninger
GenericName[nl]=Instellingen van schermen en resoluties
GenericName[no]=Innstillinger av skjermer og oppløsninger
GenericName[pl]=Ustawienia ekranów i rozdzielczości
GenericName[pt]=Configurações de telas e resoluções
GenericName[ro]=Setări de ecrane și rezoluții
GenericName[sk]=Nastavenie obrazoviek a rozlíšení
GenericName[sl]=Nastavitve zaslona in ločljivosti
GenericName[sr]=Подешавања екрана и резолуција
GenericName[sv]=Inställningar av skärmar och upplösningar
GenericName[te]=తెరలు మరియు తీర్మానాలు యొక్క సెట్టింగులు
GenericName[tl]=Mga setting ng mga screen at resolution
GenericName[tr]=Ekranların ve çözünürlük ayarlarının yapılması
GenericName[uk]=Настройки екранів і дозволів
GenericName[vi]=Cài đặt màn hình và nghị quyết
Icon=display
TryExec=arandr
Exec=arandr
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
