# This is a replacement of the arandr tool to ours one, because it already uses arandr, so its a replacement
[Desktop Entry]
Name=Screen settings loader
Name[zh]=屏幕设置加载器
Name[az]=Ekran parametrləri yükləyicisi
Name[bg]=Навигатор за настройките на екрана
Name[bn]=স্ক্রিন সেটিংস লোডার
Name[ca]=Carregador de configuració de la pantalla
Name[cs]=Zavaděč nastavení obrazovky
Name[da]=Skærmindstillinger loader
Name[de]=Bildschirmeinstellungen laden
Name[el]=Ρυθμιστής ρυθμίσεων οθόνης
Name[eo]=Ekranaj agordoj ŝarĝilo
Name[es]=Cargador de configuraciones de pantalla
Name[et]=Ekraani seadete laadija
Name[fi]=Näytön asetusten lataaja
Name[fr]=Chargeur de paramètres d'écran
Name[hi]=स्क्रीन सेटिंग्स लोडर
Name[hr]=Utovarivač postavki zaslona
Name[hu]=Képernyőbeállítások betöltő
Name[id]=Pengaturan layar loader
Name[it]=Caricatore delle impostazioni dello schermo
Name[ja]=画面設定ローダー
Name[ko]=화면 설정 로더
Name[lt]=Ekrano nustatymų įkėlėjas
Name[lv]=Ekrāna iestatījumu ielādētājs
Name[ms]=Pemuat tetapan skrin
Name[nb]=Skjerminnstillingslaster
Name[nl]=Scherminstellingen loader
Name[no]=Skjerminnstillingslaster
Name[pl]=Ładowarka ustawień ekranu
Name[pt]=Carregador de configurações de tela
Name[ro]=Încărcător de setări pentru ecran
Name[sk]=Načítač nastavení obrazovky
Name[sl]=Naložnik zaslona zaslona
Name[sr]=Лоадер подешавања екрана
Name[sv]=Skärmsinställningslastare
Name[te]=స్క్రీన్ సెట్టింగ్ల లోడర్
Name[tl]=Loader setting ng screen
Name[tr]=Ekran ayarları yükleyici
Name[uk]=Завантажувач налаштувань екрана
Name[vi]=Trình tải cài đặt màn hình
GenericName=Loads your screen configuration
GenericName[zh]=加载您的屏幕配置
GenericName[az]=Ekran konfiqurasiyasını yükləyir
GenericName[bg]=Зарежда конфигурацията на екрана ви
GenericName[bn]=আপনার পর্দা কনফিগারেশন লোড
GenericName[ca]=Càrrega la configuració de la pantalla
GenericName[cs]=Načte konfiguraci obrazovky
GenericName[da]=Indlæser din skærmkonfiguration
GenericName[de]=Lädt Ihre Bildschirmkonfiguration
GenericName[el]=Φορτώνει τη διαμόρφωση της οθόνης σας
GenericName[eo]=Ŝarĝas vian ekranan agordon
GenericName[es]=Carga su configuración de pantalla
GenericName[et]=Laadib ekraani konfiguratsiooni
GenericName[fi]=Lataa näytön kokoonpano
GenericName[fr]=Charge votre configuration d'écran
GenericName[hi]=आपकी स्क्रीन कॉन्फ़िगरेशन लोड करता है
GenericName[hr]=Učitava konfiguraciju zaslona
GenericName[hu]=Betölti a képernyő konfigurációját
GenericName[id]=Memuat konfigurasi layar Anda
GenericName[it]=Carica la configurazione dello schermo
GenericName[ja]=あなたの画面構成を読み込みます
GenericName[ko]=화면 구성을로드합니다.
GenericName[lt]=Įkelia jūsų ekrano konfigūraciją
GenericName[lv]=Uzlādē ekrāna konfigurāciju
GenericName[ms]=Muatkan konfigurasi skrin anda
GenericName[nb]=Laster skjermkonfigurasjonen din
GenericName[nl]=Laadt uw schermconfiguratie
GenericName[no]=Laster skjermkonfigurasjonen din
GenericName[pl]=Ładuje twoją konfigurację ekranu
GenericName[pt]=Carrega sua configuração de tela
GenericName[ro]=Încarcă configurația ecranului
GenericName[sk]=Načíta konfiguráciu obrazovky
GenericName[sl]=Naloži nastavitve zaslona
GenericName[sr]=Убацује конфигурацију екрана
GenericName[sv]=Laddar din skärmkonfiguration
GenericName[te]=మీ స్క్రీన్ ఆకృతీకరణను లోడ్ చేస్తుంది
GenericName[tl]=Naglo-load ng configuration ng iyong screen
GenericName[tr]=Ekran yapılandırmanızı yükler
GenericName[uk]=Завантажує конфігурацію екрана
GenericName[vi]=Tải cấu hình màn hình của bạn
Icon=display
TryExec=elive-multiscreens
Exec=elive-multiscreens -l -q
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true

NoDisplay=true
OnlyShowIn=Unity;

