[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Asana
GenericName=Tasks and projects organizer
GenericName[bg]=Организатор на задачи и проекти
GenericName[bn]=কাজ এবং প্রকল্প সংগঠক
GenericName[el]=Διοργανωτής εργασιών και έργων
GenericName[hi]=कार्य और परियोजना आयोजक
GenericName[ja]=タスクとプロジェクトの主催者
GenericName[ko]=작업 및 프로젝트 주최자
GenericName[sr]=Организатор задатака и пројеката
GenericName[te]=విధులు మరియు ప్రాజెక్టుల నిర్వాహకుడు
GenericName[uk]=Організатор завдань та проектів
GenericName[az]=Tədbirlər və layihələrin təşkili
GenericName[ca]=Organitzador de tasques i projectes
GenericName[cs]=Organizace úkolů a projektů
GenericName[da]=Opgaver og projekter organisator
GenericName[de]=Aufgaben- und Projekt-Organisator
GenericName[eo]=Organizilo de taskoj kaj projektoj
GenericName[es]=Organizador de tareas y proyectos
GenericName[et]=Ülesanded ja projektide korraldaja
GenericName[fi]=Tehtävät ja hankkeiden järjestäjä
GenericName[fr]=Organisateur de tâches et de projets
GenericName[hr]=Organizator zadataka i projekata
GenericName[hu]=Feladatok és projektek szervezője
GenericName[id]=Tugas dan penyelenggara proyek
GenericName[it]=Organizzatore di attività e progetti
GenericName[lt]=Uždaviniai ir projektų organizatorius
GenericName[lv]=Uzdevumi un projektu organizatori
GenericName[ms]=Penyusun tugasan dan projek
GenericName[nb]=Organisator for oppgaver og prosjekter
GenericName[nl]=Taken- en projectenorganisator
GenericName[no]=Organisator for oppgaver og prosjekter
GenericName[pl]=Organizator zadań i projektów
GenericName[pt]=Organizador de tarefas e projetos
GenericName[ro]=Sarcini și organizator de proiecte
GenericName[sk]=Organizátor úloh a projektov
GenericName[sl]=Naloge in organizator projektov
GenericName[sv]=Uppgifts- och projektorganisatör
GenericName[tl]=Tagapag-ayos ng mga gawain at proyekto
GenericName[tr]=Görevler ve projeler organizatörü
GenericName[vi]=Công cụ tổ chức công việc và dự án
Categories=Utilities;Development;Organizer;WebApp
StartupNotify=true

#NoDisplay=false
#OnlyShowIn=Unity;

Icon=task-due
Exec=web-launcher --app=https://app.asana.com
