[Desktop Entry]
Name=Audacity
GenericName=Sound editor
GenericName[az]=Səs redaktoru
GenericName[bg]=Звуков редактор
GenericName[bn]=সাউন্ড সম্পাদক
GenericName[ca]=Editor de so
GenericName[cs]=Zvukový editor
GenericName[da]=Lydredaktør
GenericName[de]=Soundeditor
GenericName[el]=Επεξεργαστής ήχου
GenericName[eo]=Sona redaktilo
GenericName[es]=Editor de sonido
GenericName[et]=Heli redaktor
GenericName[fi]=Äänenmuokkaus
GenericName[fr]=Éditeur de son
GenericName[hi]=ध्वनि संपादक
GenericName[hr]=Urednik zvuka
GenericName[hu]=Hangszerkesztő
GenericName[id]=Editor suara
GenericName[it]=Editor audio
GenericName[ja]=サウンドエディタ
GenericName[ko]=사운드 편집기
GenericName[lt]=Garso redaktorius
GenericName[lv]=Skaņas redaktors
GenericName[ms]=Editor bunyi
GenericName[nb]=Lydredigerer
GenericName[nl]=Geluidseditor
GenericName[no]=Lydredigerer
GenericName[pl]=Edytor dźwięku
GenericName[pt]=Editor de som
GenericName[ro]=Editor de sunet
GenericName[sk]=Zvukový editor
GenericName[sl]=Zvočni urednik
GenericName[sr]=Соунд едитор
GenericName[sv]=Ljudredigerare
GenericName[te]=సౌండ్ ఎడిటర్
GenericName[tl]=Sound editor
GenericName[tr]=Ses editörü
GenericName[uk]=Звуковий редактор
GenericName[vi]=Trình chỉnh sửa âm thanh
Comment=Record and edit audio files
Comment[az]=Audio faylları yazın və redaktə edin
Comment[bg]=Записвайте и редактирайте аудиофайлове
Comment[bn]=রেকর্ড এবং অডিও ফাইল সম্পাদনা
Comment[ca]=Registreu i editeu fitxers d'àudio
Comment[cs]=Záznam a úpravy zvukových souborů
Comment[da]=Optag og rediger lydfiler
Comment[el]=Εγγραφή και επεξεργασία αρχείων ήχου
Comment[eo]=Registru kaj redakti audio-dosierojn
Comment[es]=Grabe y edite archivos de audio
Comment[et]=Salvestage ja redigeerige helifaile
Comment[fi]=Tallenna ja muokkaa äänitiedostoja
Comment[fr]=Enregistrer et éditer des fichiers audio
Comment[hi]=रिकॉर्ड और ऑडियो फ़ाइलें संपादित करें
Comment[hr]=Snimanje i uređivanje audio datoteka
Comment[hu]=Hangfájlok rögzítése és szerkesztése
Comment[id]=Rekam dan edit file audio
Comment[it]=Registra e modifica i file audio
Comment[ja]=オーディオファイルの録音と編集
Comment[ko]=오디오 파일 기록 및 편집
Comment[lt]=Įrašykite ir redaguokite garso failus
Comment[lv]=Ierakstiet un rediģējiet audio failus
Comment[ms]=Merakam dan edit fail audio
Comment[nb]=Ta opp og rediger lydfiler
Comment[nl]=Neem audiobestanden op en bewerk ze
Comment[no]=Ta opp og rediger lydfiler
Comment[pl]=Nagrywaj i edytuj pliki audio
Comment[pt]=Gravar e editar arquivos de áudio
Comment[ro]=Înregistrați și editați fișiere audio
Comment[sk]=Zaznamenávať a upravovať zvukové súbory
Comment[sl]=Snemajte in uredite zvočne datoteke
Comment[sr]=Снимите и уредите аудио датотеке
Comment[sv]=Spela in och redigera ljudfiler
Comment[te]=ఆడియో ఫైళ్లు రికార్డ్ చేసి, సవరించండి
Comment[tl]=Mag-record at mag-edit ng mga file na audio
Comment[tr]=Ses dosyalarını kaydedin ve düzenleyin
Comment[uk]=Записуйте та редагуйте звукові файли
Comment[vi]=Ghi và chỉnh sửa các tệp âm thanh
Comment[de]=Audio-Dateien aufnehmen und bearbeiten
Comment[ru]=Запись и редактирование звуковых файлов
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=audacity %F
Icon=audacity
MimeType=application/x-audacity-project;application/ogg;audio/x-vorbis+ogg;audio/mpeg;audio/x-mp3;audio/basic;audio/x-aiff;audio/x-wav;audio/flac;audio/x-flac;audio/aac;audio/mp4;audio/x-ms-wma;
StartupNotify=false
Terminal=false
Type=Application
