[Desktop Entry]
Type=Application
Exec=cairo-dock -A
Icon=cairo-dock
Terminal=false

Name=Cairo-Dock (Fallback Mode)
Name[de]=Cairo-Dock (Fallback-Modus)
Name[fr]=Cairo-Dock (Mode Restreint)
Name[it]=Cairo-Dock (Modalità Fallback)
Name[nl]=Cairo-Dock (terugval-modus)
Name[pt]=Cairo-Dock (Modo de Fallback)
Name[pt_BR]=Cairo-Dock (Modo de Fallback)
Name[sr]=Каиро док (заменски начин рада)
Name[sr@latin]=Каиро док (заменски начин рада)
Name[uk]=Cairo-Dock (Режим Fallback)
Name[uz]=Cairo-Dock (Аппарат Тезланиши Режими)

Comment=A light and eye-candy dock and desklets for your desktop.
Comment[az]=Masaüstünüz üçün yüngül və gözdən şirniyyat yuvası və iş masaları.
Comment[bg]=Лек и сладък док и десклети за вашия работен плот.
Comment[bn]=আপনার ডেস্কটপের জন্য একটি হালকা এবং চোখের ক্যান্ডি ডক এবং ডেস্কলেট।
Comment[ca]=Un moll lleuger i atractiu per a l’escriptori.
Comment[cs]=Lehký dokovací stanice pro stolní počítače.
Comment[da]=En let og eye-candy dock og skriveborde til dit skrivebord.
Comment[el]=Μια ελαφριά και εντυπωσιακή βάση σύνδεσης και γραφεία για την επιφάνεια εργασίας σας.
Comment[eo]=Malpeza kaj okula dolĉa doko kaj tabloj por via labortablo.
Comment[es]=Una base y escritorios ligeros y atractivos para tu escritorio.
Comment[et]=Kerge ja silmailu pakkuv dokk ja kirjutuslauad töölauale.
Comment[fi]=Kevyt ja silmiinpistävä telakka ja työpöydät työpöydällesi.
Comment[hi]=आपके डेस्कटॉप के लिए लाइट और आई-कैंडी डॉक और डेस्कलेट।
Comment[hr]=Svjetlo i pristanište sa slatkišima za oči za vaš stol.
Comment[hu]=Könnyű és szemet gyönyörködtető dokkoló és íróasztal az asztalon.
Comment[id]=Dock dan desklet yang ringan dan eye-candy untuk desktop Anda.
Comment[ja]=デスクトップ用の軽くて目を見張るようなドックとデスクレット。
Comment[ko]=가볍고 멋진 데스크탑용 도크 및 데스크렛입니다.
Comment[lt]=Lengvas ir akį traukiantis dokas bei rašomieji stalai darbalaukiui.
Comment[lv]=Viegls un pievilcīgs piestātne un rakstāmgaldi darbvirsmai.
Comment[ms]=Dok dan meja makan gula-gula dan cahaya untuk desktop anda.
Comment[nb]=En lett og øyekoselig dock og skrivebord for skrivebordet ditt.
Comment[no]=En lett og øyekoselig dock og skrivebord for skrivebordet ditt.
Comment[ro]=Un dock ușor și cu ochi-bomboane și desklets pentru desktop.
Comment[sk]=Ľahký dokovací stolík a stolíky pre váš počítač.
Comment[sl]=Lahka in sladka priklopna postaja in deskleti za namizje.
Comment[sv]=En lätt och ögongodis docka och skrivbord för skrivbordet.
Comment[te]=మీ డెస్క్టాప్ కోసం లైట్ మరియు ఐ-క్యాండీ డాక్ మరియు డెస్క్లెట్లు.
Comment[tl]=Isang ilaw at eye-candy dock at mga desktop para sa iyong desktop.
Comment[tr]=Masaüstünüz için hafif ve göz alıcı bir yuva ve masalar.
Comment[vi]=Một đế cắm và bàn nhỏ nhẹ và bắt mắt cho máy tính để bàn của bạn.
Comment[de]=Ein schlankes und hübsches Dock mit Desklets für Ihren Schreibtisch.
Comment[en]=Light and eye-candy filled dock and desklets for your desktop.
Comment[fr]=Un dock et des desklets légers et sexy pour votre bureau.
Comment[it]=Una dock e delle desklet leggere e gradevoli per il tuo desktop.
Comment[nl]=Licht en mooi uitziend dock en desklets voor uw bureaublad.
Comment[pl]=Lekki i przyjemny dla oka dok wraz z deskletami dla Twojego pulpitu
Comment[pt]=Uma doca bonita e leve e desklets para o seu ambiente de trabalho.
Comment[pt_BR]=Uma doca bonita e leve e desklets para o seu ambiente de trabalho.
Comment[sr]=Лагани док и справице радне површи дивног изгледа.
Comment[sr@latin]=Лагани док и справице радне површи дивног изгледа.
Comment[uk]=Легка і приємна панель та віджети для вашої стільниці.
Comment[uz]=Иш столингиз учун енгил ва кўзингиз қувнайдиган док ва десклетлар.

GenericName=Multi-purpose Dock and Desklets
GenericName[az]=Çox məqsədli Dock və Deskletlər
GenericName[bg]=Многофункционален док и десклет
GenericName[bn]=বহুমুখী ডক এবং ডেস্কলেট
GenericName[ca]=Moll i desklets polivalents
GenericName[cs]=Víceúčelový dok a stolky
GenericName[da]=Multifunktionel dock og skriveborde
GenericName[el]=Αποβάθρα και γραφεία πολλαπλών χρήσεων
GenericName[eo]=Pluruzaj Doko kaj Tekstiloj
GenericName[es]=Muelles y Desklets multiusos
GenericName[et]=Mitmeotstarbelised dokid ja lauad
GenericName[fi]=Monikäyttöinen telakka ja työpöydät
GenericName[hi]=बहुउद्देश्यीय डॉक और डेस्कलेट
GenericName[hr]=Višenamjensko pristanište i deskleti
GenericName[hu]=Többcélú dokkoló és íróasztal
GenericName[id]=Dock dan Desklet Serbaguna
GenericName[ja]=多目的ドックとデスクレット
GenericName[ko]=다목적 독 및 책상
GenericName[lt]=Universalus dokas ir stalviršiai
GenericName[lv]=Daudzfunkcionāls doks un galdi
GenericName[ms]=Dok dan Meja Serbaguna
GenericName[nb]=Flerbruksdokk og skrivebord
GenericName[no]=Flerbruksdokk og skrivebord
GenericName[pl]=Wielofunkcyjna stacja dokująca i biurka
GenericName[ro]=Dock și Desklets multifuncționale
GenericName[sk]=Viacúčelový dok a písacie stoly
GenericName[sl]=Večnamenska priklopna postaja in deskleti
GenericName[sv]=Multifunktionsdocka och skrivbord
GenericName[te]=బహుళ ప్రయోజన డాక్ మరియు డెస్క్లెట్లు
GenericName[tl]=Multi-purpose Dock at Desklets
GenericName[tr]=Çok Amaçlı Dock ve Masalar
GenericName[vi]=Dock và Desklets đa năng
GenericName[de]=Multifunktions-Dock und Desklets
GenericName[fr]=Dock et Desklets multi-usage
GenericName[it]=Dock multifunzionale e Desklet
GenericName[nl]=Dock en desklets bruikbaar voor meerdere doeleinden
GenericName[pt]=Doca e Desklets com multiplos propósitos
GenericName[pt_BR]=Doca e Desklets com multiplos propósitos
GenericName[sr]=Док и справице површи са разним могућностима
GenericName[sr@latin]=Док и справице површи са разним могућностима
GenericName[uk]=Багатоцільова панель та віжети.
GenericName[uz]=Кўп мақсадли Док ва Десклетлар

Categories=System;
NoDisplay=true
