[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Calendar
Name[zh]=日历
Name[az]=Təqvim
Name[bg]=Календар
Name[bn]=ক্যালেন্ডার
Name[ca]=Calendari
Name[cs]=Kalendář
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[hi]=पंचांग
Name[hr]=Kalendar
Name[hu]=Naptár
Name[id]=Kalender
Name[it]=Calendario
Name[ja]=カレンダー
Name[ko]=달력
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[ms]=Kalendar
Name[nb]=Kalender
Name[nl]=Kalender
Name[no]=Kalender
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[ro]=Calendar
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=Календар
Name[sv]=Kalender
Name[te]=క్యాలెండర్
Name[tl]=Kalendaryo
Name[tr]=Takvim
Name[uk]=Календар
Name[vi]=Lịch
GenericName=Multidevice synced calendar
GenericName[zh]=多设备同步日历
GenericName[az]=Multidevice sinxronlaşdırılan təqvim
GenericName[bg]=Синхронизирано календарно многообразие
GenericName[bn]=Multidevice সিঙ্কড ক্যালেন্ডার
GenericName[ca]=Calendari sincronitzat amb diversos paràmetres
GenericName[cs]=Synchronizovaný kalendář s více kartami
GenericName[da]=Multidevice synkroniseret kalender
GenericName[de]=Synchronisierter Multidevice-Kalender
GenericName[el]=Πολυλειτουργικό συγχρονισμένο ημερολόγιο
GenericName[eo]=Kalendaro sincronigita por multoblaj servoj
GenericName[es]=Calendario sincronizado multidispositivo
GenericName[et]=Multi-seadme sünkroonitud kalender
GenericName[fi]=Multidevice synkronoidun kalenterin
GenericName[fr]=Calendrier synchronisé multi-périphériques
GenericName[hi]=Multidevice समन्वयित कैलेंडर
GenericName[hr]=Kalendar s sinkroniziranjem s više uređaja
GenericName[hu]=Multidevice szinkronizált naptár
GenericName[id]=Kalender sinkronisasi multidevice
GenericName[it]=Calendario sincronizzato multidevice
GenericName[ja]=マルチデバイス同期のカレンダー
GenericName[ko]=멀티 디바이스 동기화 캘린더
GenericName[lt]=Multidevice sinchronizuotas kalendorius
GenericName[lv]=Multivides sinhronizēts kalendārs
GenericName[ms]=Kalendar yang diselaraskan pelbagai
GenericName[nb]=Multidevice synkronisert kalender
GenericName[nl]=Multidevice gesynchroniseerde kalender
GenericName[no]=Multidevice synkronisert kalender
GenericName[pl]=Kalendarz zsynchronizowany z wieloma urządzeniami
GenericName[pt]=Calendário sincronizado do Multidispositivo
GenericName[ro]=Calendarul sincronizat multifuncțional
GenericName[sk]=Viacnásobný synchronizovaný kalendár
GenericName[sl]=Večkratni sinhronizirani koledar
GenericName[sr]=Мултидевички синхронизовани календар
GenericName[sv]=Multidevice synkroniserad kalender
GenericName[te]=బహుళ సమకాలీకరించిన క్యాలెండర్
GenericName[tl]=Naka-sync ang multidevice kalendaryo
GenericName[tr]=Multidevice senkronize takvim
GenericName[uk]=Синхронізований календар з багатьма пристроями
GenericName[vi]=Lịch được đồng bộ hóa đa cấp
Categories=Utilities;Development;Organizer;WebApp
StartupNotify=true

#NoDisplay=false
#OnlyShowIn=Unity;

Icon=calendar
Exec=web-launcher --app=http://calendar.google.com
