[Desktop Entry]
Type=Application
Name=E-book reader
Name[zh]=电子书阅读器
Name[az]=E-kitab oxucu
Name[bg]=Електронен четец
Name[bn]=ই-বুক রিডার
Name[ca]=Lector de llibres electrònics
Name[cs]=Čtečka elektronických knih
Name[da]=E-bogslæser
Name[de]=E-Book-Reader
Name[el]=Αναγνώστης ηλεκτρονικού βιβλίου
Name[eo]=E-libro-legilo
Name[es]=Lector de libros electrónicos
Name[et]=E-raamatu lugeja
Name[fi]=E-kirjalukija
Name[fr]=Lecteur ebook
Name[hi]=ई-बुक रीडर
Name[hr]=Čitač e-knjiga
Name[hu]=E-könyv olvasó
Name[id]=Pembaca e-book
Name[it]=Lettore di e-book
Name[ja]=電子書籍リーダー
Name[ko]=전자책 리더
Name[lt]=E-Knygos skaitytojas
Name[lv]=E-grāmatu lasītājs
Name[ms]=Pembaca Ebook
Name[nb]=E-bokleser
Name[nl]=E-booklezer
Name[no]=E-bokleser
Name[pl]=Czytnik e-booków
Name[pt]=Leitor de e-book
Name[ro]=Cititor de cărți electronice
Name[sk]=Čítačka e-kníh
Name[sl]=Bralnik e-knjig
Name[sr]=Читач е-књига
Name[sv]=E-boksläsare
Name[te]=ఇ-బుక్ రీడర్
Name[tl]=Mambabasa ng e-book
Name[tr]=E-kitap okuyucu
Name[uk]=Читач е-книг
Name[vi]=Đọc sách điện tử
#Comment=
TryExec=ebook-viewer
Exec=ebook-viewer %F
Icon=calibre-viewer
MimeType=application/vnd.amazon.ebook;application/vnd.ms-htmlhelp;image/vnd.djvu;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-dtbncx+xml;application/epub+zip;application/x-zip-compressed-fb2;application/xml
Categories=Education
