[Desktop Entry]
Name=Cinelerra
GenericName=Advanced professional video editor
GenericName[az]=Ətraflı peşəkar video redaktoru
GenericName[bg]=Разширено професионално видео редактор
GenericName[bn]=উন্নত পেশাদার ভিডিও সম্পাদক
GenericName[ca]=Editor de vídeo professional avançat
GenericName[cs]=Pokročilý profesionální editor videa
GenericName[da]=Avanceret professionel video editor
GenericName[de]=Fortgeschrittener professioneller Videoeditor
GenericName[el]=Προηγμένος επαγγελματίας επεξεργαστής βίντεο
GenericName[eo]=Altnivela profesia profesia redaktilo
GenericName[es]=Editor de video profesional avanzado
GenericName[et]=Täiustatud professionaalne videoraktor
GenericName[fi]=Edistyksellinen videoeditori
GenericName[fr]=Éditeur vidéo professionnel avancé
GenericName[hi]=उन्नत पेशेवर वीडियो संपादक
GenericName[hr]=Napredni profesionalni video uređivač
GenericName[hu]=Fejlett professzionális videószerkesztő
GenericName[id]=Editor video profesional tingkat lanjut
GenericName[it]=Editor video professionale avanzato
GenericName[ja]=高度なプロフェッショナルビデオエディタ
GenericName[ko]=고급 전문 비디오 편집기
GenericName[lt]=Pažangus profesionalus vaizdo įrašų rengėjas
GenericName[lv]=Uzlabots profesionālais video redaktors
GenericName[ms]=Penyunting video profesional yang lebih maju
GenericName[nb]=Avansert profesjonell videoredigerer
GenericName[nl]=Geavanceerde professionele video-editor
GenericName[no]=Avansert profesjonell videoredigerer
GenericName[pl]=Zaawansowany profesjonalny edytor wideo
GenericName[pt]=Editor de vídeo profissional avançado
GenericName[ro]=Editor video profesionist avansat
GenericName[sk]=Pokročilý profesionálny editor videa
GenericName[sl]=Napredni profesionalni video urejevalnik
GenericName[sr]=Напредни професионални видео едитор
GenericName[sv]=Avancerad professionell videoredigerare
GenericName[te]=అధునాతన ప్రొఫెషనల్ వీడియో ఎడిటర్
GenericName[tl]=Advanced na propesyonal na video editor
GenericName[tr]=Gelişmiş profesyonel video editörü
GenericName[uk]=Розширений професійний відеоредактор
GenericName[vi]=Trình chỉnh sửa video chuyên nghiệp nâng cao
Exec=cinelerra
Terminal=false
Type=Application
StartupNotify=true
Icon=cinelerra
Categories=Video
