[Desktop Entry]
Name=Cinelerra GG
GenericName=Professional video editor
GenericName[az]=Peşəkar video redaktoru
GenericName[bg]=Професионален видео редактор
GenericName[bn]=পেশাদার ভিডিও সম্পাদক
GenericName[ca]=Editor de vídeo professional
GenericName[cs]=Profesionální video editor
GenericName[da]=Professionel videoredigerer
GenericName[de]=Professioneller Videoeditor
GenericName[el]=Επαγγελματικός επεξεργαστής βίντεο
GenericName[eo]=Profesia videoredaktilo
GenericName[es]=Editor de video profesional
GenericName[et]=Professionaalne videoredaktor
GenericName[fi]=Ammattimainen videonmuokkausohjelma
GenericName[fr]=Éditeur vidéo professionnel
GenericName[hi]=पेशेवर वीडियो संपादक
GenericName[hr]=Profesionalni video montažer
GenericName[hu]=Professzionális videószerkesztő
GenericName[id]=Editor video profesional
GenericName[it]=Editor video professionale
GenericName[ja]=プロのビデオエディタ
GenericName[ko]=전문 비디오 편집기
GenericName[lt]=Profesionalus vaizdo redaktorius
GenericName[lv]=Profesionāls video redaktors
GenericName[ms]=Penyunting video profesional
GenericName[nb]=Profesjonell videoredigerer
GenericName[nl]=Professionele video-editor
GenericName[no]=Profesjonell videoredigerer
GenericName[pl]=Profesjonalny edytor wideo
GenericName[pt]=Editor de vídeo profissional
GenericName[ro]=Editor video profesional
GenericName[sk]=Profesionálny editor videa
GenericName[sl]=Profesionalni video montažer
GenericName[sr]=Професионални видео монтажер
GenericName[sv]=Professionell videoredigerare
GenericName[te]=ప్రొఫెషనల్ వీడియో ఎడిటర్
GenericName[tl]=Propesyonal na editor ng video
GenericName[tr]=Profesyonel video düzenleyici
GenericName[uk]=Професійний відеоредактор
GenericName[vi]=Trình chỉnh sửa video chuyên nghiệp
TryExec=cinelerra-gg
Exec=cinelerra-gg
Terminal=false
Type=Application
StartupNotify=true
Icon=cinelerra
Categories=Video
