[Desktop Entry]
Name=Cinelerra
Comment=Advanced professional video editor
Comment[az]=Ətraflı peşəkar video redaktoru
Comment[bg]=Разширено професионално видео редактор
Comment[bn]=উন্নত পেশাদার ভিডিও সম্পাদক
Comment[ca]=Editor de vídeo professional avançat
Comment[cs]=Pokročilý profesionální editor videa
Comment[da]=Avanceret professionel video editor
Comment[de]=Fortgeschrittener professioneller Videoeditor
Comment[el]=Προηγμένος επαγγελματίας επεξεργαστής βίντεο
Comment[eo]=Altnivela profesia profesia redaktilo
Comment[es]=Editor de video profesional avanzado
Comment[et]=Täiustatud professionaalne videoraktor
Comment[fi]=Edistyksellinen videoeditori
Comment[fr]=Éditeur vidéo professionnel avancé
Comment[hi]=उन्नत पेशेवर वीडियो संपादक
Comment[hr]=Napredni profesionalni video uređivač
Comment[hu]=Fejlett professzionális videószerkesztő
Comment[id]=Editor video profesional tingkat lanjut
Comment[it]=Editor video professionale avanzato
Comment[ja]=高度なプロフェッショナルビデオエディタ
Comment[ko]=고급 전문 비디오 편집기
Comment[lt]=Pažangus profesionalus vaizdo įrašų rengėjas
Comment[lv]=Uzlabots profesionālais video redaktors
Comment[ms]=Penyunting video profesional yang lebih maju
Comment[nb]=Avansert profesjonell videoredigerer
Comment[nl]=Geavanceerde professionele video-editor
Comment[no]=Avansert profesjonell videoredigerer
Comment[pl]=Zaawansowany profesjonalny edytor wideo
Comment[pt]=Editor de vídeo profissional avançado
Comment[ro]=Editor video profesionist avansat
Comment[sk]=Pokročilý profesionálny editor videa
Comment[sl]=Napredni profesionalni video urejevalnik
Comment[sr]=Напредни професионални видео едитор
Comment[sv]=Avancerad professionell videoredigerare
Comment[te]=అధునాతన ప్రొఫెషనల్ వీడియో ఎడిటర్
Comment[tl]=Advanced na propesyonal na video editor
Comment[tr]=Gelişmiş profesyonel video editörü
Comment[uk]=Розширений професійний відеоредактор
Comment[vi]=Trình chỉnh sửa video chuyên nghiệp nâng cao
GenericName=Video Editor NLE
GenericName[az]=NLE video redaktoru
GenericName[bg]=Видео редактор NLE
GenericName[bn]=ভিডিও সম্পাদক NLE
GenericName[ca]=Editor de video NLE
GenericName[cs]=Editor videa NLE
GenericName[da]=Video Editor NLE
GenericName[de]=Video Editor NLE
GenericName[el]=Επεξεργαστής βίντεο NLE
GenericName[eo]=Video Redaktoro NLE
GenericName[es]=Video Editor NLE
GenericName[et]=Videotoimetaja NLE
GenericName[fi]=Videoeditori NLE
GenericName[fr]=Éditeur de vidéo NLE
GenericName[hi]=वीडियो संपादक NLE
GenericName[hr]=Video uređivač NLE
GenericName[hu]=Videószerkesztő NLE
GenericName[id]=Editor Video NLE
GenericName[it]=Editor video NLE
GenericName[ja]=ビデオエディタNLE
GenericName[ko]=비디오 편집기 NLE
GenericName[lt]=Vaizdo įrašų redagavimo priemonė NLE
GenericName[lv]=Video redaktors NLE
GenericName[ms]=Editor Video NLE
GenericName[nb]=Video Editor NLE
GenericName[nl]=Video-editor NLE
GenericName[no]=Video Editor NLE
GenericName[pl]=Edytor wideo NLE
GenericName[pt]=Video Editor NLE
GenericName[ro]=Editor video NLE
GenericName[sk]=Editor videa NLE
GenericName[sl]=Video Editor NLE
GenericName[sr]=Видео Едитор НЛЕ
GenericName[sv]=Video Editor NLE
GenericName[te]=వీడియో ఎడిటర్ NLE
GenericName[tl]=Video Editor NLE
GenericName[tr]=Video Düzenleyici NLE
GenericName[uk]=Відеоредактор NLE
GenericName[vi]=Trình biên tập video NLE
Exec=cinelerra
Terminal=false
Type=Application
StartupNotify=true
Icon=cinelerra
Categories=Video
