[Desktop Entry]
Version=1.0
Name=Conky
Type=Application
Comment=Show System Processes
Comment[az]=Sistem Proseslərini Göstər
Comment[bg]=Показване на системните процеси
Comment[bn]=সিস্টেম প্রসেস দেখান
Comment[ca]=Mostra els processos del sistema
Comment[cs]=Zobrazit systémové procesy
Comment[da]=Vis systemprocesser
Comment[de]=Systemprozesse anzeigen
Comment[el]=Εμφάνιση διαδικασιών συστήματος
Comment[eo]=Montri sistemajn procezojn
Comment[es]=Mostrar procesos del sistema
Comment[et]=Kuva süsteemiprotsessid
Comment[fi]=Näytä järjestelmäprosessit
Comment[fr]=Afficher les processus système
Comment[hi]=सिस्टम प्रक्रियाएं दिखाएं
Comment[hr]=Prikaz procesa sustava
Comment[hu]=Rendszerfolyamatok megjelenítése
Comment[id]=Tampilkan Proses Sistem
Comment[it]=Mostra processi di sistema
Comment[ja]=システムプロセスを表示する
Comment[ko]=시스템 프로세스 표시
Comment[lt]=Rodyti sistemos procesus
Comment[lv]=Rādīt sistēmas procesus
Comment[ms]=Tunjukkan Proses Sistem
Comment[nb]=Vis systemprosesser
Comment[nl]=Systeemprocessen weergeven
Comment[no]=Vis systemprosesser
Comment[pl]=Pokaż procesy systemowe
Comment[pt]=Mostrar processos do sistema
Comment[ro]=Afișați procesele de sistem
Comment[sk]=Zobraziť systémové procesy
Comment[sl]=Pokaži sistemske procese
Comment[sr]=Прикажи системске процесе
Comment[sv]=Visa systemprocesser
Comment[te]=సిస్టమ్ ప్రక్రియలను చూపించు
Comment[tl]=Ipakita ang Mga Proseso ng System
Comment[tr]=Sistem Süreçlerini Göster
Comment[uk]=Показати системні процеси
Comment[vi]=Hiển thị các quy trình hệ thống
Terminal=false
Exec=conky
Icon=htop
Categories=ConsoleOnly;System;
GenericName=System Viewer
GenericName[az]=Sistem Baxıcısı
GenericName[bg]=System Viewer
GenericName[bn]=সিস্টেম ভিউয়ার
GenericName[ca]=Visor del sistema
GenericName[cs]=Prohlížeč systému
GenericName[da]=System Viewer
GenericName[de]=Systembetrachter
GenericName[el]=Προβολή συστήματος
GenericName[eo]=Sistema Vidigilo
GenericName[es]=Visor del sistema
GenericName[et]=Süsteemi vaatur
GenericName[fi]=System Viewer
GenericName[fr]=Visionneuse du système
GenericName[hi]=सिस्टम व्यूअर
GenericName[hr]=Preglednik sustava
GenericName[hu]=System Viewer
GenericName[id]=Penampil Sistem
GenericName[it]=Visualizzatore di sistema
GenericName[ja]=システムビューア
GenericName[ko]=시스템 뷰어
GenericName[lt]=Sistemos peržiūros priemonė
GenericName[lv]=Sistēmas skatītājs
GenericName[ms]=Pemapar Sistem
GenericName[nb]=System Viewer
GenericName[nl]=Systeemviewer
GenericName[no]=System Viewer
GenericName[pl]=Przeglądarka systemowa
GenericName[pt]=Visualizador do sistema
GenericName[ro]=Vizualizator sistem
GenericName[sk]=Systémový prehliadač
GenericName[sl]=Pregledovalnik sistemov
GenericName[sr]=Систем Виевер
GenericName[sv]=System Viewer
GenericName[te]=సిస్టమ్ వ్యూయర్
GenericName[tl]=Viewer ng System
GenericName[tr]=Sistem Görüntüleyici
GenericName[uk]=System Viewer
GenericName[vi]=Trình xem hệ thống
