[Desktop Entry]
Version=1.0
Name=Conky
Type=Application
Comment=Show System Processes
Terminal=false
Exec=conky
Icon=htop
Categories=ConsoleOnly;System;
GenericName=System Viewer
