[Desktop Entry]
X-MultipleArgs=false
Type=Application
Name=DevedeNG
GenericName=DVD Creator
GenericName[az]=DVD Yaradan
GenericName[bg]=DVD Creator
GenericName[bn]=ডিভিডি নির্মাতা
GenericName[ca]=DVD Creator
GenericName[cs]=DVD Creator
GenericName[da]=DVD Creator
GenericName[de]=DVD Creator
GenericName[el]=DVD Creator
GenericName[eo]=DVD-Kreinto
GenericName[es]=DVD Creator
GenericName[et]=DVD-looja
GenericName[fi]=DVD-luoja
GenericName[fr]=Créateur de DVD
GenericName[hi]=डीवीडी निर्माता
GenericName[hr]=DVD Creator
GenericName[hu]=DVD készítő
GenericName[id]=Pencipta DVD
GenericName[it]=Creatore di DVD
GenericName[ja]=DVD作成者
GenericName[ko]=DVD 크리에이터
GenericName[lt]=DVD kūrėjas
GenericName[lv]=DVD veidotājs
GenericName[ms]=Pencipta DVD
GenericName[nb]=DVD Creator
GenericName[nl]=DVD Creator
GenericName[no]=DVD Creator
GenericName[pl]=Twórca DVD
GenericName[pt]=Criador de DVD
GenericName[ro]=DVD Creator
GenericName[sk]=DVD Creator
GenericName[sl]=DVD Creator
GenericName[sr]=ДВД Цреатор
GenericName[sv]=DVD Creator
GenericName[te]=DVD సృష్టికర్త
GenericName[tl]=Tagalikha ng DVD
GenericName[tr]=DVD Oluşturucu
GenericName[uk]=DVD Creator
GenericName[vi]=Trình tạo DVD
X-GNOME-FullName=DevedeNG DVD/CD Video Creator
X-GNOME-FullName[ca]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[es]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[gl]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[pl]=DevedeNG tworzenie wideo na CD/DVD
X-GNOME-FullName[it]=DevedeNG creatore di video CD/DVD
Comment=Allows to create video CDs and DVDs, suitable to be reproduced in home DVD players
Comment[az]=Evdəki DVD pleyerlərində çoxaldıla bilən video CD və DVD-lər yaratmağa imkan verir
Comment[bg]=Позволява създаване на видео CD и DVD, подходящи за възпроизвеждане в домашни DVD плейъри
Comment[bn]=হোম ডিভিডি প্লেয়ারগুলিতে পুনরুত্পাদন করা উপযুক্ত, ভিডিও সিডি এবং ডিভিডি তৈরির অনুমতি দেয়
Comment[cs]=Umožňuje vytvářet video CD a DVD, vhodné pro reprodukci v domácích DVD přehrávačích
Comment[da]=Gør det muligt at oprette video-cd'er og dvd'er, der er egnede til gengivelse i hjemme-dvd-afspillere
Comment[de]=Ermöglicht das Erstellen von Video-CDs und -DVDs, die für die Wiedergabe in Heim-DVD-Playern geeignet sind
Comment[el]=Επιτρέπει τη δημιουργία βίντεο CD και DVD, κατάλληλα για αναπαραγωγή σε οικιακούς DVD players
Comment[eo]=Permesas krei filmetajn KD-ojn kaj DVD-ojn, taŭgajn por esti reproduktitaj en hejmaj DVD-ludiloj
Comment[et]=Võimaldab luua video-CD-sid ja DVD-sid, mida saab kodus DVD-mängijates taasesitada
Comment[fi]=Mahdollistaa video-CD- ja DVD-levyjen luomisen, jotka voidaan toistaa kodin DVD-soittimissa
Comment[fr]=Permet de créer des CD vidéo et des DVD pouvant être reproduits sur des lecteurs de DVD personnels
Comment[hi]=घर डीवीडी प्लेयर में पुन: प्रस्तुत करने के लिए उपयुक्त, वीडियो सीडी और डीवीडी बनाने की अनुमति देता है
Comment[hr]=Omogućuje stvaranje video CD-ova i DVD-ova, pogodnih za reprodukciju u kućnim DVD uređajima
Comment[hu]=Lehetővé teszi video CD-k és DVD-k létrehozását, amelyek alkalmasak az otthoni DVD-lejátszókban történő lejátszásra
Comment[id]=Memungkinkan untuk membuat CD dan DVD video, cocok untuk direproduksi di pemutar DVD rumahan
Comment[ja]=家庭用DVDプレーヤーでの再生に適したビデオCDおよびDVDを作成できます。
Comment[ko]=가정용 DVD 플레이어에서 재생하기에 적합한 비디오 CD 및 DVD를 만들 수 있습니다
Comment[lt]=Leidžia kurti vaizdo kompaktinius ir DVD diskus, tinkamus atkurti namų DVD grotuvuose
Comment[lv]=Ļauj izveidot video kompaktdiskus un DVD diskus, kas piemēroti reproducēšanai mājas DVD atskaņotājos
Comment[ms]=Membolehkan membuat CD dan DVD video, sesuai untuk diterbitkan semula di dalam pemain DVD di rumah
Comment[nb]=Gjør det mulig å lage video-CDer og DVDer, egnet for å reproduseres i DVD-spillere hjemme
Comment[nl]=Maakt het mogelijk om video-cd's en dvd's te maken, geschikt om te worden gereproduceerd in dvd-spelers voor thuisgebruik
Comment[no]=Gjør det mulig å lage video-CDer og DVDer, egnet for å reproduseres i DVD-spillere hjemme
Comment[pt]=Permite criar CDs e DVDs de vídeo, adequados para serem reproduzidos em DVD players domésticos
Comment[ro]=Permite crearea de CD-uri video și DVD-uri, potrivite pentru a fi reproduse în DVD playere
Comment[sk]=Umožňuje vytvárať video CD a DVD, vhodné na reprodukciu v domácich DVD prehrávačoch
Comment[sl]=Omogoča ustvarjanje video CD-jev in DVD-jev, primernih za predvajanje v domačih predvajalnikih DVD
Comment[sr]=Омогућује стварање видео ЦД-ова и ДВД-ова, погодних за репродукцију у кућним ДВД плејерима
Comment[sv]=Gör det möjligt att skapa video-CD-skivor och DVD-skivor, lämpliga att reproduceras i DVD-spelare hemma
Comment[te]=హోమ్ డివిడి ప్లేయర్u200cలలో పునరుత్పత్తి చేయడానికి అనువైన వీడియో సిడిలు మరియు డివిడిలను సృష్టించడానికి అనుమతిస్తుంది
Comment[tl]=Pinapayagan na lumikha ng mga video CD at DVD, na angkop na muling kopyahin sa mga manlalaro ng bahay sa DVD
Comment[tr]=Evdeki DVD oynatıcılarda çoğaltılabilecek video CD'ler ve DVD'ler oluşturmanıza olanak sağlar
Comment[uk]=Дозволяє створювати відео компакт-диски та DVD-диски, придатні для відтворення в домашніх програвачах DVD
Comment[vi]=Cho phép tạo CD video và DVD, phù hợp để sao chép trong các đầu DVD gia đình
Comment[ca]=Permet crear CDs i DVDs de vídeo, que poden reproduir-se en reproductors domèstics
Comment[es]=Permite crear video CDs y DVDs, que pueden reproducirse en reproductores domésticos
Comment[gl]=Permite crear video CDs e DVDs, que poden reproducirse en reproductores domésticos
Comment[pl]=Pozwala stworzyć wideo na płytach CD lub DVD, do otwarzania w domowych odtwarzaczach DVD
Comment[it]=Permette di creare video CD e DVD che possono essere riprodotti con lettori DVD
Icon=dvd
TryExec=devede_ng.py
Exec=devede_ng.py
Categories=AudioVideo;Video;
