[Desktop Entry]
Version=1.0
Name=ImageMagick (display)
Comment=Display and edit image files
Comment[az]=Şəkil fayllarını göstərin və redaktə edin
Comment[bg]=Показване и редактиране на файлове с изображения
Comment[bn]=চিত্র ফাইল প্রদর্শন এবং সম্পাদনা করুন
Comment[ca]=Mostra i edita fitxers d'imatges
Comment[cs]=Zobrazujte a upravujte soubory obrázků
Comment[da]=Vis og rediger billedfiler
Comment[de]=Bilddateien anzeigen und bearbeiten
Comment[el]=Εμφάνιση και επεξεργασία αρχείων εικόνας
Comment[eo]=Montri kaj redakti bilddosierojn
Comment[es]=Visualizar y editar archivos de imagen
Comment[et]=Pildifailide kuvamine ja muutmine
Comment[fi]=Näytä ja muokkaa kuvatiedostoja
Comment[hi]=छवि फ़ाइलों को प्रदर्शित और संपादित करें
Comment[hr]=Prikaz i uređivanje slikovnih datoteka
Comment[hu]=Képfájlok megjelenítése és szerkesztése
Comment[id]=Menampilkan dan mengedit file gambar
Comment[it]=Visualizza e modifica i file di immagine
Comment[ja]=画像ファイルの表示と編集
Comment[ko]=이미지 파일 표시 및 편집
Comment[lt]=Rodyti ir redaguoti vaizdo failus
Comment[lv]=Parādiet un rediģējiet attēlu failus
Comment[ms]=Paparkan dan edit fail gambar
Comment[nb]=Vis og rediger bildefiler
Comment[nl]=Beeldbestanden weergeven en bewerken
Comment[no]=Vis og rediger bildefiler
Comment[pl]=Wyświetlaj i edytuj pliki graficzne
Comment[ro]=Afișați și editați fișiere imagine
Comment[sk]=Zobrazujte a upravujte súbory s obrázkami
Comment[sl]=Prikažite in uredite slikovne datoteke
Comment[sr]=Прикажите и уређујте датотеке слика
Comment[sv]=Visa och redigera bildfiler
Comment[te]=ఇమేజ్ ఫైల్లను ప్రదర్శించండి మరియు సవరించండి
Comment[tl]=Ipakita at i-edit ang mga file ng imahe
Comment[tr]=Görüntü dosyalarını görüntüleyin ve düzenleyin
Comment[uk]=Відображення та редагування файлів зображень
Comment[vi]=Hiển thị và chỉnh sửa tệp hình ảnh
Comment[fr]=Affiche et édite des fichiers images
Comment[pt]=Exiba e edite arquivos de imagem
TryExec=/usr/bin/display.im6
Exec=display %f
Terminal=false
Icon=display
Type=Application
Categories=Graphics;
MimeType=image/avs;image/bie;image/x-ms-bmp;image/cmyk;image/dcx;image/eps;image/fax;image/fits;image/gif;image/gray;image/jpeg;image/pjpeg;image/miff;image/mono;image/mtv;image/x-portable-bitmap;image/pcd;image/pcx;image/pdf;image/x-portable-graymap;image/pict;image/png;image/x-portable-anymap;image/x-portable-pixmap;image/ps;image/rad;image/x-rgb;image/rgba;image/rla;image/rle;image/sgi;image/sun-raster;image/targa;image/tiff;image/uyvy;image/vid;image/viff;image/x-xbitmap;image/x-xpixmap;image/x-xwindowdump;image/x-icon;image/yuv;
NoDisplay=true
