[Desktop Entry]
Version=1.0
Name=
#Exec=false
Type=Application
Categories=Other;
#StartupNotify=true
# NOTE: this is a generic .desktop for the applications we don't want to appear in the menus and ALSO in the launchers, at all
NoDisplay=true
