[Desktop Entry]
Name=Eagle Mode
Name[zh]=老鹰模式
Name[az]=Qartal rejimi
Name[bg]=Орелов режим
Name[bn]=Agগল মোড
Name[ca]=Mode àguila
Name[cs]=Režim Eagle
Name[da]=Eagle Mode
Name[de]=Adler-Modus
Name[el]=Λειτουργία αετού
Name[eo]=Aglo-Reĝimo
Name[es]=Modo águila
Name[et]=Kotka režiim
Name[fi]=Kotkatila
Name[fr]=Mode Aigle
Name[hi]=ईगल मोड
Name[hr]=Eagle Mode
Name[hu]=Sas mód
Name[id]=Mode Elang
Name[it]=Modalità Aquila
Name[ja]=イーグルモード
Name[ko]=독수리 모드
Name[lt]=Erelio režimas
Name[lv]=Ērgļa režīms
Name[ms]=Mod Helang
Name[nb]=Eagle Mode
Name[nl]=Eagle-modus
Name[no]=Eagle Mode
Name[pl]=Tryb orła
Name[pt]=Modo Águia
Name[ro]=Modul Vultur
Name[sk]=Režim Eagle
Name[sl]=Eagle Mode
Name[sr]=Еагле Моде
Name[sv]=Eagle Mode
Name[te]=ఈగిల్ మోడ్
Name[tl]=Eagle Mode
Name[tr]=Kartal Modu
Name[uk]=Режим орла
Name[vi]=Chế độ Eagle
Comment=Zoomable user interface with plugin applications
Comment[zh]=带有插件应用程序的可缩放用户界面
Comment[az]=Plugin proqramları ilə zəif istifadəçi interfeysi
Comment[bg]=Уголемен потребителски интерфейс с приложения за приставки
Comment[bn]=প্লাগইন অ্যাপ্লিকেশনের সাথে জুম ইন ইউজার ইন্টারফেস
Comment[ca]=Interfície d'usuari zoomable amb aplicacions de complement
Comment[cs]=Uživatelské rozhraní s aplikací pluginů
Comment[da]=Zoombar brugerflade med plugin applikationer
Comment[de]=Zoombare Benutzeroberfläche mit Plugin-Anwendungen
Comment[el]=Εύκολο περιβάλλον χρήστη με εφαρμογές plugin
Comment[eo]=Zomebla uzantinterfaco kun kromaĵoj
Comment[es]=Interfaz de usuario ampliable con aplicaciones de complemento
Comment[et]=Suurendatav kasutajaliides koos pistikprogrammidega
Comment[fi]=Zoomaava käyttöliittymä laajennussovelluksilla
Comment[fr]=Interface utilisateur zoomable avec les applications plug-in
Comment[hi]=प्लगइन अनुप्रयोगों के साथ ज़ूम करने योग्य यूजर इंटरफेस
Comment[hr]=Zanemarivo korisničko sučelje s programima dodataka
Comment[hu]=Zoomable felhasználói felület plugin alkalmazásokkal
Comment[id]=Antarmuka pengguna yang dapat diperluas dengan aplikasi plugin
Comment[it]=Interfaccia utente Zoomable con applicazioni plugin
Comment[ja]=プラグインアプリケーションによるズーム可能なユーザーインターフェース
Comment[ko]=플러그인 애플리케이션을 사용하여 확대 /축소 가능한 사용자 인터페이스
Comment[lt]=Zoomable vartotojo sąsaja su įskiepių programomis
Comment[lv]=Zoomable lietotāja interfeiss ar spraudņa lietojumprogrammām
Comment[ms]=Antara muka pengguna yang boleh dikomerali dengan aplikasi plugin
Comment[nb]=Zoombar brukergrensesnitt med plugin applikasjoner
Comment[nl]=Zoombare gebruikersinterface met plug-in applicaties
Comment[no]=Zoombar brukergrensesnitt med plugin applikasjoner
Comment[pl]=Zoomable interfejs użytkownika z aplikacjami wtyczek
Comment[pt]=Interface de usuário Zoomable com aplicativos de plugin
Comment[ro]=Interfață utilizator interfață cu aplicații plugin
Comment[sk]=Zmeniteľné používateľské rozhranie s aplikáciami zásuvných modulov
Comment[sl]=Zmogljiv uporabniški vmesnik z vtičnimi aplikacijami
Comment[sr]=Зоомабле кориснички интерфејс са плугин апликацијама
Comment[sv]=Zoombart användargränssnitt med plugin-applikationer
Comment[te]=ప్లగ్ఇన్ అప్లికేషన్లతో జూమ్ చేయగల వినియోగదారు ఇంటర్ఫేస్
Comment[tl]=Zoomable user interface na may mga application ng plugin
Comment[tr]=Eklenti uygulamaları ile yakınlaştırılabilir kullanıcı arabirimi
Comment[uk]=Масштабний користувальницький інтерфейс із додатковими додатками
Comment[vi]=Giao diện người dùng có thể mở rộng với các ứng dụng plugin
GenericName=Zoom-based filemanager
GenericName[zh]=基于缩放的文件管理器
GenericName[az]=Zoom əsaslı filemanager
GenericName[bg]=Управляващ файла
GenericName[bn]=জুম-ভিত্তিক ফাইলম্যানাইজার
GenericName[ca]=Filemanager basat en zoom
GenericName[cs]=Zoom-založený filemanager
GenericName[da]=Zoombaseret filhåndtering
GenericName[de]=Zoombasierter Dateimanager
GenericName[el]=Διαχείριση αρχείων με βάση το ζουμ
GenericName[eo]=Zombaza dosieradministrilo
GenericName[es]=Gestor de archivos basado en zoom
GenericName[et]=Zoom-põhine failihaldur
GenericName[fi]=Zoom-pohjainen filemanager
GenericName[fr]=Filemanager à base de zoom
GenericName[hi]=ज़ूम-आधारित फ़ाइलमैनेजर
GenericName[hr]=Zainteresirani upravitelj filma
GenericName[hu]=Zoom alapú fájlkezelő
GenericName[id]=Ekstensi berbasis filemanager
GenericName[it]=File manager basato su zoom
GenericName[ja]=ズームベースのファイルマネージャ
GenericName[ko]=줌 기반 파일 관리자
GenericName[lt]=Zoom-based filemanager
GenericName[lv]=Tālummaiņas bāzes failu pārvaldnieks
GenericName[ms]=Filemanager berasaskan zum
GenericName[nb]=Zoombasert filbehandler
GenericName[nl]=Op zoom gebaseerde bestandsbeheerder
GenericName[no]=Zoombasert filbehandler
GenericName[pl]=Liniowy menedżer plików oparty na powiększeniu
GenericName[pt]=Gerenciador de arquivos baseado em zoom
GenericName[ro]=Zoom-based filemanager
GenericName[sk]=Zoom-založený filemanager
GenericName[sl]=Zoom-based filemanager
GenericName[sr]=Филеманагер заснован на зуму
GenericName[sv]=Zoombaserad filhanterare
GenericName[te]=జూమ్-ఆధారిత ఫైల్ మేనేజర్
GenericName[tl]=Filemanager na nakabatay sa zoom
GenericName[tr]=Yakınlaştırmaya Dayalı Dosya Yöneticisi
GenericName[uk]=Файловий менеджер на основі масштабу
GenericName[vi]=Trình quản lý tập tin dựa trên thu phóng
TryExec=/usr/lib/eaglemode/eaglemode.sh
Exec=/usr/lib/eaglemode/eaglemode.sh
Icon=/usr/lib/eaglemode/res/icons/eaglemode48.png
Terminal=false
Type=Application
Categories=System;FileManager;
StartupNotify=true
