[Desktop Entry]
Type=Application
Name=E-book reader
Name[az]=E-kitab oxucu
Name[bg]=Електронен четец
Name[bn]=ই-বুক রিডার
Name[ca]=Lector de llibres electrònics
Name[cs]=Čtečka elektronických knih
Name[da]=EBogs læser
Name[de]=Ebook Reader
Name[el]=Αναγνώστης ηλεκτρονικού βιβλίου
Name[eo]=Leganto de libroj de libroj
Name[es]=Lector de libros electrónicos
Name[et]=E-raamatu lugeja
Name[fi]=E-kirjalukija
Name[fr]=Lecteur ebook
Name[hi]=ईबुक पाठक
Name[hr]=Ebook čitač
Name[hu]=Ebook olvasó
Name[id]=Pembaca ebook
Name[it]=Lettore di ebook
Name[ja]=電子書籍リーダー
Name[ko]=전자 서적 리더
Name[lt]=E-Knygos skaitytojas
Name[lv]=E-grāmatu lasītājs
Name[ms]=Pembaca Ebook
Name[nb]=E-bok leser
Name[nl]=Ebook lezer
Name[no]=E-bok leser
Name[pl]=Czytnik ebooków
Name[pt]=Leitor de ebook
Name[ro]=E-book reader
Name[sk]=Čítačka elektronických kníh
Name[sl]=Bralnik e-knjig
Name[sr]=Читач Е-књига
Name[sv]=Eboksläsare
Name[te]=ఇ-బుక్ రీడర్
Name[tl]=E-book reader
Name[tr]=Elektronik kitap okuyucusu
Name[uk]=Читач електронних книг
Name[vi]=Đọc sách điện tử
#Comment=
TryExec=ebook-viewer
Exec=ebook-viewer %F
Icon=calibre
MimeType=application/vnd.amazon.ebook;application/vnd.ms-htmlhelp;image/vnd.djvu;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-dtbncx+xml;application/epub+zip;application/x-zip-compressed-fb2;application/xml
Categories=Education
