[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=EDJE player
Name[az]=EDJE oyunçu
Name[bg]=EDJE плейър
Name[bn]=EDJE প্লেয়ার
Name[ca]=Reproductor EDJE
Name[cs]=Přehrávač EDJE
Name[da]=EDJE afspiller
Name[de]=EDJE-Spieler
Name[el]=EDJE player
Name[eo]=EDJE-ludanto
Name[es]=Reproductor EDJE
Name[et]=EDJE mängija
Name[fi]=EDJE -soitin
Name[fr]=Lecteur EDJE
Name[hi]=EDJE खिलाड़ी
Name[hr]=EDJE player
Name[hu]=EDJE lejátszó
Name[id]=Pemain EDJE
Name[it]=Giocatore EDJE
Name[ja]=EDJEプレーヤー
Name[ko]=EDJE 플레이어
Name[lt]=EDJE grotuvas
Name[lv]=EDJE atskaņotājs
Name[ms]=Pemain EDJE
Name[nb]=EDJE -spiller
Name[nl]=EDJE-speler
Name[no]=EDJE -spiller
Name[pl]=Odtwarzacz EDJE
Name[pt]=Jogador EDJE
Name[ro]=Jucător EDJE
Name[sk]=Prehrávač EDJE
Name[sl]=Predvajalnik EDJE
Name[sv]=EDJE -spelare
Name[te]=EDJE ప్లేయర్
Name[tl]=Manlalaro ng EDJE
Name[tr]=EDJE oynatıcı
Name[uk]=Програвач EDJE
Name[vi]=Trình phát EDJE
TryExec=edje_player
Exec=edje_player %f
MimeType=application/x-extension-edj
