[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Premium
Comment=Elive Premium features
Comment[az]=Elive Premium xüsusiyyətləri
Comment[bg]=Elive Premium функции
Comment[bn]=এলিভ প্রিমিয়াম বৈশিষ্ট্য
Comment[ca]=Funcions Elive Premium
Comment[cs]=Prémiové funkce Elive
Comment[da]=Elive Premium-funktioner
Comment[de]=Elive Premium-Funktionen
Comment[el]=Λειτουργίες Elive Premium
Comment[eo]=Elive Premium-funkcioj
Comment[es]=Funciones Premium de Elive
Comment[et]=Elive Premiumi funktsioonid
Comment[fi]=Elive Premium -ominaisuudet
Comment[fr]=Fonctionnalités Elive Premium
Comment[hi]=एलीव प्रीमियम सुविधाएँ
Comment[hr]=Elive Premium značajke
Comment[hu]=Elive Premium funkciók
Comment[id]=Fitur Elive Premium
Comment[it]=Funzionalità di Elive Premium
Comment[ja]=イーライブプレミアムの特徴
Comment[ko]=엘라이브 프리미엄 기능
Comment[lt]=„Elive Premium“ funkcijos
Comment[lv]=Elive Premium funkcijas
Comment[ms]=Ciri Elive Premium
Comment[nb]=Elive Premium-funksjoner
Comment[nl]=Elive Premium-functies
Comment[no]=Elive Premium-funksjoner
Comment[pl]=Funkcje Elive Premium
Comment[pt]=Recursos do Elive Premium
Comment[ro]=Caracteristici Elive Premium
Comment[sk]=Prémiové funkcie Elive
Comment[sl]=Funkcije Elive Premium
Comment[sr]=Еливе Премиум функције
Comment[sv]=Elive Premium-funktioner
Comment[te]=ఎలివ్ ప్రీమియం ఫీచర్లు
Comment[tl]=Mga feature ng Elive Premium
Comment[tr]=Elive Premium'un özellikleri
Comment[uk]=Функції Elive Premium
Comment[vi]=Tính năng của Elive Premium
Comment[zh]=Elive 高级功能
Categories=Elive;Help;WebApp
StartupNotify=true
#NoDisplay=false
Icon=znes
Exec=web-launcher https://www.elivecd.org/premium/
