[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Maintain Elive alive
Name[az]=Elive'i canlı tut
Name[bg]=Поддържайте Елвей жив
Name[bn]=জীবিত জীবিত Elive বজায় রাখুন
Name[ca]=Mantenir viu Elive
Name[cs]=Elive udržet naživu
Name[da]=Bevar Elive i live
Name[de]=Pflegen Sie Elive am Leben
Name[el]=Διατηρήστε τον Elive ζωντανό
Name[en]=Maintain Elive alive
Name[eo]=Subtenu Elivan vivon
Name[es]=Mantener vivo a Elive
Name[et]=Säilitage Elive elus
Name[fi]=Pidä Elive elossa
Name[fr]=Maintenir Elive en vie
Name[hi]=Elive जिंदा बनाए रखें
Name[hr]=Održavajte Elive živ
Name[hu]=Elive életben tartása
Name[id]=Pertahankan Elive hidup
Name[it]=Mantenere Elive vivo
Name[ja]=エリブを生きて維持する
Name[ko]=Elive 살아있는 유지하십시오
Name[lt]=Išlaikyti Elive gyvą
Name[lv]=Saglabājiet Elive dzīvu
Name[ms]=Mengekalkan Elive hidup
Name[nb]=Opprettholde Elive i live
Name[nl]=Houd Elive levend
Name[no]=Opprettholde Elive i live
Name[pl]=Utrzymaj przy życiu Elive
Name[pt]=Mantenha Elive vivo
Name[ro]=Mențineți-l în viață pe Elive
Name[sk]=Elive udržiavajte nažive
Name[sl]=Ohrani Elive živ
Name[sr]=Одржи живу живу
Name[sv]=Underhålla Elive vid liv
Name[te]=సజీవంగా ఉండండి
Name[tl]=Panatilihing buhay si Elive
Name[tr]=Elive'ı canlı tutun
Name[uk]=Збережіть Еліва живим
Name[vi]=Duy trì Elive còn sống
Comment=donation
Comment[az]=hədiyyə
Comment[bg]=дарение
Comment[bn]=দান
Comment[ca]=donació
Comment[cs]=dar
Comment[da]=donation
Comment[de]=Spende
Comment[el]=δωρεά
Comment[en]=donation
Comment[eo]=donaco
Comment[es]=donación
Comment[et]=annetus
Comment[fi]=lahjoitus
Comment[fr]=don
Comment[hi]=दान
Comment[hr]=donacija
Comment[hu]=adomány
Comment[id]=sumbangan
Comment[it]=donazione
Comment[ja]=寄付
Comment[ko]=기부
Comment[lt]=donorystė
Comment[lv]=ziedojums
Comment[ms]=derma
Comment[nb]=donasjon
Comment[nl]=schenking
Comment[no]=donasjon
Comment[pl]=darowizna
Comment[pt]=doação
Comment[ro]=donare
Comment[sk]=dar
Comment[sl]=darovanje
Comment[sr]=донација
Comment[sv]=donation
Comment[te]=విరాళం
Comment[tl]=donasyon
Comment[tr]=bağış
Comment[uk]=пожертвування
Comment[vi]=Quyên góp
Categories=Elive
StartupNotify=true
NoDisplay=false
Icon=znes
Exec=web-launcher "http://www.elivecd.org/donate/?id=donate-elive-os-emenus"
