[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Donate to Elive
Name[vi]=Hiến tặng cho Elive
Name[uk]=Підтримати Elive
Name[tr]=Elive'a bağış yapın
Name[tl]=Mag-donate sa Elive
Name[te]=కు Elive దానం
Name[sv]=Donera till Elive
Name[sr]=Донате то еливе
Name[sl]=Darujte Elive
Name[sk]=Darovať eLive
Name[ro]=Doneaza pentru Elive
Name[pt]=Doar para Elive
Name[pl]=Darowizna na Elive
Name[no]=Donasjon til Elive
Name[nl]=Doneren aan Elive
Name[lv]=Ziedot Elive
Name[nb]=Donasjon til Elive
Name[ms]=Menderma kepada elive
Name[lt]=Aukoti Elive
Name[ko]=기부하기를 기부하십시오
Name[ja]=寄付する
Name[it]=Donate to Elive
Name[id]=Donasi untuk Elive
Name[hu]=Adományozni Elive
Name[hr]=Donirajte za Elive
Name[hi]=एलीव के लिए दान करें
Name[fr]=Faire un don à Elive
Name[fi]=Lahjoita eLive
Name[et]=Kingi Elive
Name[es]=Done a Elive
Name[eo]=Donaci al Elive
Name[en]=Donate to Elive
Name[el]=Δωρεά για Elive
Name[de]=Spenden Sie zu Elive
Name[da]=Doner til ELive
Name[cs]=Darovat Elive
Name[ca]=Donar a Elive
Name[bg]=Дарения за Elive
Name[bn]=Elive দান করুন
Name[az]=Elive üçün Donate
Comment=Make Elive better with your support
Comment[vi]=Làm cho Elive tốt hơn với sự hỗ trợ của bạn
Comment[uk]=Зробити Elive краще з вашою підтримкою
Comment[tr]=Desteğiniz ile Elive'ı daha iyi hale getirin
Comment[tl]=Gumawa Elive mas mahusay sa iyong suporta
Comment[te]=మీ మద్దతు తో Elive మెరుగుపరుచుకోండి
Comment[sv]=Gör Elive bättre med ert stöd
Comment[sr]=Направи еливе боље уз вашу подршку
Comment[sl]=Naj Elive bolje z vašo podporo
Comment[sk]=Urobiť eLive lepšie s vašou podporou
Comment[ro]=Asigurați-vă Elive mai bine cu sprijinul dumneavoastră
Comment[pt]=Elive melhor com o seu apoio
Comment[pl]=Bądź Elive lepiej z obsługą
Comment[no]=Gjør Elive bedre med din støtte
Comment[nl]=Maak Elive beter met uw steun
Comment[lv]=Padarīt Elive labāk ar jūsu atbalstu
Comment[nb]=Gjør Elive bedre med din støtte
Comment[ms]=Membuat elive lebih baik dengan sokongan anda
Comment[lt]=Padaryti Elive geriau su jūsų parama
Comment[ko]=지원으로 Elive를 개선하십시오.
Comment[ja]=あなたのサポートでEliveをより良くする
Comment[it]=Fare Elive meglio con il vostro sostegno
Comment[id]=Membuat Elive lebih baik dengan dukungan Anda
Comment[hu]=Tedd Elive jobban a támogatást
Comment[hr]=Provjerite Elive bolje uz vašu podršku
Comment[hi]=अपने समर्थन के साथ Elive बेहतर बनाओ
Comment[fr]=Faites mieux Elive avec votre soutien
Comment[fi]=Tee eLive paremmin tukeanne
Comment[et]=Tee Elive parem oma toetust
Comment[es]=Hacer Elive mejor con su apoyo
Comment[eo]=Fari Elive bona kun via apogo
Comment[en]=Make Elive better with your support
Comment[el]=Κάντε Elive καλύτερα με την υποστήριξή σας
Comment[de]=Machen Sie Elive besser mit Ihrer Unterstützung
Comment[da]=Gør ELive bedre med din støtte
Comment[cs]=Udělat Elive lépe s vaší podporou
Comment[ca]=Elive fer millor amb la seva ajuda
Comment[bg]=Направи Elive по-добре с вашата подкрепа
Comment[bn]=Elive আপনার সমর্থন সঙ্গে আরো ভালো করুন
Comment[az]=Sizin dəstəyi ilə daha yaxşı Elive olun
Categories=Elive
StartupNotify=true
NoDisplay=false
Icon=znes
Exec=web-launcher "http://www.elivecd.org/donate/?id=donate-elive-os-emenus"
