[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive news, releases and tutorials
Name[vi]=Elive tin tức, bản phát hành và hướng dẫn
Name[uk]=Elive новини, релізи та навчальні посібники
Name[tr]=Elif haberler, bültenler ve öğreticiler
Name[tl]=Elive balita, release at tutorials
Name[te]=Elive వార్తలు, విడుదలలు మరియు ట్యుటోరియల్స్
Name[sv]=Elive nyheter, pressmeddelanden och handledning
Name[sr]=Еливе вести, штампу и туторијали
Name[sl]=Elive novice, javnost in vaje
Name[sk]=ELive správy, správy a konzultácie
Name[ro]=Elive știri, comunicate și tutoriale
Name[pt]=Elive notícias, lançamentos e tutoriais
Name[pl]=Elive aktualności, komunikaty i samouczki
Name[no]=ELive nyheter, pressemeldinger og tutorials
Name[nl]=Elive nieuws, releases en tutorials
Name[lv]=Elive ziņas, presei un konsultācijas
Name[nb]=ELive nyheter, pressemeldinger og tutorials
Name[ms]=Elive berita, siaran dan tutorial
Name[lt]=Elive naujienos, spaudai ir vadovėliai
Name[ko]=효과적인 뉴스, 출시 및 자습서
Name[ja]=エリブのニュース、リリース、チュートリアル
Name[it]=Elive notizie, comunicati e tutorial
Name[id]=Elive berita, siaran dan tutorial
Name[hu]=Elive hírek, sajtóközlemények és oktatóanyagok
Name[hr]=Elive vijesti, tisak i tutorijali
Name[hi]=Elive समाचार, विज्ञप्ति और ट्यूटोरियल
Name[fr]=Elive news, releases et tutoriaux
Name[fi]=Elive uutiset, tiedotteet ja opetusohjelmia
Name[et]=Elive uudised, heiteid ja õpetused
Name[es]=Noticias, lanzamientos y tutoriales de Elive
Name[eo]=Elive novaĵoj, ĵetoj kaj lernilojn
Name[en]=Elive news, releases and tutorials
Name[el]=Elive ειδήσεις, δελτία και tutorials
Name[de]=Elive News, Veröffentlichungen und Tutorials
Name[da]=ELive nyheder, udgivelser og selvstudier
Name[cs]=Elive zprávy, zprávy a konzultace
Name[ca]=Elive notícies, notes i tutorials
Name[bg]=Elive новини, пресата и уроци
Name[bn]=Elive সংবাদ, রিলিজ এবং টিউটোরিয়াল
Name[az]=Elive xəbərlər, relizlər və Dərsliklər
Comment=Subscribe
Comment[vi]=Đăng ký
Comment[uk]=Підписуватися
Comment[tr]=Abone ol
Comment[tl]=Sumuskribi
Comment[te]=సబ్స్క్రయిబ్
Comment[sv]=Prenumerera
Comment[sr]=Претплатите се
Comment[sl]=Naroči
Comment[sk]=Predplatiť
Comment[ro]=Subscrie
Comment[pt]=Se inscrever
Comment[pl]=Subskrybować
Comment[no]=Abonnere
Comment[nl]=Abonneren
Comment[lv]=Abonēt
Comment[nb]=Abonnere
Comment[ms]=Langgan
Comment[lt]=Prenumeruoti
Comment[ko]=구독하기
Comment[ja]=申し込む
Comment[it]=Sottoscrivi
Comment[id]=Berlangganan
Comment[hu]=Iratkozz fel
Comment[hr]=Pretplatiti
Comment[hi]=सदस्यता लें
Comment[fr]=Souscrire
Comment[fi]=Merkitä
Comment[et]=Tellima
Comment[es]=Suscribir
Comment[eo]=Aboni
Comment[en]=Subscribe
Comment[el]=Εγγραφείτε
Comment[de]=Abonnieren
Comment[da]=Tilmeld
Comment[cs]=Předplatit
Comment[ca]=Subscriure
Comment[bg]=Абонирай се
Comment[bn]=সাবস্ক্রাইব
Comment[az]=Yazılmaq
Categories=Elive;WebApp
StartupNotify=true
NoDisplay=false
Icon=text-x-news
Exec=web-launcher http://www.elivecd.org/newsletters
