[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Source Code
Name[zh]=源代码
Name[vi]=Mã nguồn
Name[uk]=Вихідний код
Name[tr]=Kaynak kodu
Name[tl]=Source Code
Name[te]=మూల కోడ్
Name[sv]=Källkod
Name[sr]=Изворни код
Name[sl]=Source Code
Name[sk]=Zdrojový kód
Name[ro]=Cod sursa
Name[pt]=Código fonte
Name[pl]=Kod źródłowy
Name[no]=Kildekode
Name[nl]=Broncode
Name[lv]=Avota kods
Name[nb]=Kildekode
Name[ms]=Kod sumber
Name[lt]=Pirminis kodas
Name[ko]=소스 코드
Name[ja]=ソースコード
Name[it]=Codice sorgente
Name[id]=Kode sumber
Name[hu]=Forráskód
Name[hr]=Izvorni kod
Name[hi]=सोर्स कोड
Name[fr]=Code source
Name[fi]=Lähdekoodi
Name[et]=Lähtekood
Name[es]=Código fuente
Name[eo]=Fontkodo
Name[en]=Source Code
Name[el]=Πηγαίου κώδικα
Name[de]=Quellcode
Name[da]=Kildekode
Name[cs]=Zdrojový kód
Name[ca]=Codi font
Name[bg]=Програмен код
Name[bn]=সোর্স কোড
Name[az]=Mənbə Kodu
Comment=Github
Comment[zh]=Github
Comment[vi]=Github
Comment[uk]=Github
Comment[tr]=Github
Comment[tl]=Github
Comment[te]=Github
Comment[sv]=Github
Comment[sr]=Гитхуб
Comment[sl]=GitHub
Comment[sk]=GitHub
Comment[ro]=Github
Comment[pt]=Github
Comment[pl]=Github
Comment[no]=GitHub
Comment[nl]=Github
Comment[lv]=GitHub
Comment[nb]=GitHub
Comment[ms]=Github
Comment[lt]=GitHub
Comment[ko]=기둥
Comment[ja]=ギター
Comment[it]=Github
Comment[id]=Github
Comment[hu]=Github
Comment[hr]=Github
Comment[hi]=जिथूब
Comment[fr]=Github
Comment[fi]=Github
Comment[et]=Github
Comment[es]=Github
Comment[eo]=GitHub
Comment[en]=Github
Comment[el]=GitHub
Comment[de]=Github
Comment[da]=Github
Comment[cs]=GitHub
Comment[ca]=Github
Comment[bg]=Github
Comment[bn]=গিটহাব
Comment[az]=Github
Categories=Elive;Development;WebApp
StartupNotify=true
NoDisplay=false
Icon=text-xml
Exec=web-launcher http://github.com/Elive
