[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Comments and activity
Name[zh]=评论与活动
Name[vi]=Nhận xét và hoạt động
Name[uk]=Коментарі та діяльність
Name[tr]=Yorumlar ve etkinlik
Name[tl]=Mga Komento at Aktibidad
Name[te]=వ్యాఖ్యలు మరియు కార్యకలాపాలు
Name[sv]=Kommentarer och aktivitet
Name[sr]=Коментари и активности
Name[sl]=Pripombe in dejavnost
Name[sk]=Komentáre a aktivity
Name[ro]=Comentarii și activitate
Name[pt]=Comentários e atividade
Name[pl]=Komentarze i aktywność
Name[no]=Kommentarer og aktivitet
Name[nl]=Opmerkingen en activiteit
Name[lv]=Komentāri un aktivitātes
Name[nb]=Kommentarer og aktivitet
Name[ms]=Ulasan dan aktiviti
Name[lt]=Komentarai ir veikla
Name[ko]=댓글 및 활동
Name[ja]=コメントとアクティビティ
Name[it]=Commenti e attività
Name[id]=Komentar dan aktivitas
Name[hu]=Megjegyzések és aktivitás
Name[hr]=Komentari i aktivnost
Name[hi]=टिप्पणियाँ और गतिविधि
Name[fr]=Commentaires et activités
Name[fi]=Kommentit ja toiminta
Name[et]=Kommentaarid ja tegevus
Name[es]=Comentarios y actividad
Name[eo]=Komentoj kaj aktiveco
Name[en]=Comments and activity
Name[el]=Σχόλια και δραστηριότητα
Name[de]=Kommentare und Aktivitäten
Name[da]=Kommentarer og aktivitet
Name[cs]=Komentáře a aktivity
Name[ca]=Comentaris i activitat
Name[bg]=Коментари и дейност
Name[bn]=মতামত ও কার্যকলাপ
Name[az]=Şərhlər və fəaliyyəti
Comment=Elive Facebook page
Comment[zh]=Elive Facebook 页面
Comment[vi]=Trang Elive Facebook
Comment[uk]=Elive Facebook сторінка
Comment[tr]=Elive Facebook sayfası
Comment[tl]=Pahina ng Elive Facebook
Comment[te]=Elive Facebook పేజీ
Comment[sv]=Elive Facebook-sida
Comment[sr]=Еливе Фацебоок страница
Comment[sl]=Elive Facebook stran
Comment[sk]=ELive Facebook page
Comment[ro]=Pagina de Facebook Elive
Comment[pt]=Página do Elive no Facebook
Comment[pl]=Elive Facebook page
Comment[no]=Elive Facebook-side
Comment[nl]=Elive Facebook-pagina
Comment[lv]=Elive Facebook lapa
Comment[nb]=Elive Facebook-side
Comment[ms]=Halaman Elive Facebook
Comment[lt]=Elive Facebook puslapis
Comment[ko]=Elive Facebook 페이지
Comment[ja]=エリブFacebookページ
Comment[it]=Pagina Elive Facebook
Comment[id]=Halaman Elive Facebook
Comment[hu]=Elive Facebook oldal
Comment[hr]=Elive Facebook stranica
Comment[hi]=Elive फेसबुक पेज
Comment[fr]=Page Elive sur Facebook
Comment[fi]=Elive Facebook sivu
Comment[et]=Elive Facebook lehele
Comment[es]=Página de Elive en Facebook
Comment[eo]=Elive Facebook paĝo
Comment[en]=Elive Facebook page
Comment[el]=Σελίδα Elive Facebook
Comment[de]=Elive Facebook Seite
Comment[da]=ELive Facebook-side
Comment[cs]=Elive Facebook page
Comment[ca]=La pàgina de Facebook Elive
Comment[bg]=Elive Facebook страница
Comment[bn]=Elive ফেসবুক পাতা
Comment[az]=Elive Facebook səhifə
Categories=Elive;Help;WebApp
StartupNotify=true

NoDisplay=true
OnlyShowIn=Unity;

Icon=facebook
Exec=web-launcher https://facebook.com/elive
