[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Frequently Asked Questions (FAQ)
Name[vi]=Câu hỏi Thường Gặp (FAQ)
Name[uk]=Часті питання (FAQ)
Name[tr]=Sıkça Sorulan Sorular (SSS)
Name[tl]=Frequently Asked Questions (FAQ)
Name[te]=తరచుగా అడిగే ప్రశ్నలు (ప్రశ్నలు)
Name[sv]=Vanliga frågor (FAQ)
Name[sr]=Често постављана питања (ФАК)
Name[sl]=Pogosto zastavljena vprašanja (FAQ)
Name[sk]=Často kladené otázky (FAQ)
Name[ro]=Întrebări frecvente (FAQ)
Name[pt]=Perguntas frequentes (FAQ)
Name[pl]=Najczęściej zadawane pytania (FAQ)
Name[no]=Ofte stilte spørsmål (FAQ)
Name[nl]=Frequently Asked Questions (FAQ)
Name[lv]=Biežāk uzdotie jautājumi (FAQ)
Name[nb]=Ofte stilte spørsmål (FAQ)
Name[ms]=Soalan Lazim (FAQ)
Name[lt]=Dažnai užduodami klausimai (DUK)
Name[ko]=자주하는 질문 (FAQ)
Name[ja]=よくある質問（FAQ）
Name[it]=Domande frequenti (FAQ)
Name[id]=Pertanyaan yang Sering Diajukan (FAQ)
Name[hu]=Gyakran Ismételt Kérdések (GYIK)
Name[hr]=Često postavljana pitanja (FAQ)
Name[hi]=अक्सर पूछे जाने वाले प्रश्न (अक्सर पूछे जाने वाले प्रश्न)
Name[fr]=Foire aux questions (FAQ)
Name[fi]=Usein kysytyt kysymykset (FAQ)
Name[et]=Korduma kippuvad küsimused (KKK)
Name[es]=Preguntas Frecuentes (FAQ)
Name[eo]=Oftaj Demandoj (FAQ)
Name[en]=Frequently Asked Questions (FAQ)
Name[el]=Συχνές Ερωτήσεις (FAQ)
Name[de]=Häufig gestellte Fragen (FAQ)
Name[da]=Ofte stillede spørgsmål (FAQ)
Name[cs]=Často kladené otázky (FAQ)
Name[ca]=Preguntes més freqüents (FAQ)
Name[bg]=Често задавани въпроси (FAQ)
Name[bn]=প্রায়শই জিজ্ঞাসা করা প্রশ্নাবলী (প্রায়শই জিজ্ঞাসিত প্রশ্নাবলী)
Name[az]=Təkrar suallar (FAQ)
Comment=Common questions about Elive
Comment[vi]=Câu hỏi thường gặp về Elive
Comment[uk]=Загальні питання про Elive
Comment[tr]=Elive ile ilgili sık sorulan sorular
Comment[tl]=Mga karaniwang tanong tungkol Elive
Comment[te]=Elive గురించి సాధారణంగా అడిగే ప్రశ్నలు
Comment[sv]=Vanliga frågor om Elive
Comment[sr]=Честа питања о еливе
Comment[sl]=Pogosta vprašanja o Elive
Comment[sk]=Časté otázky týkajúce sa eLive
Comment[ro]=Întrebări frecvente despre Elive
Comment[pt]=Perguntas comuns sobre Elive
Comment[pl]=Często zadawane pytania dotyczące Elive
Comment[no]=Vanlige spørsmål om Elive
Comment[nl]=Veelgestelde vragen over Elive
Comment[lv]=Bieži uzdoti jautājumi par Elive
Comment[nb]=Vanlige spørsmål om Elive
Comment[ms]=Soalan umum tentang elive
Comment[lt]=Įprasti klausimai apie Elive
Comment[ko]=Elive에 대한 일반적인 질문
Comment[ja]=エリブに関するよくある質問
Comment[it]=Domande più comuni su Elive
Comment[id]=Pertanyaan umum tentang Elive
Comment[hu]=Gyakori kérdések a Elive
Comment[hr]=Česta pitanja o Elive
Comment[hi]=एलीव के बारे में सामान्य प्रश्न
Comment[fr]=Questions fréquentes sur Elive
Comment[fi]=Yleisiä kysymyksiä eLive
Comment[et]=Levinumad küsimused Elive
Comment[es]=Preguntas comunes sobre Elive
Comment[eo]=Oftaj demandoj pri Elive
Comment[en]=Common questions about Elive
Comment[el]=Συχνές ερωτήσεις σχετικά με Elive
Comment[de]=Häufige Fragen zu Elive
Comment[da]=Almindelige spørgsmål om ELive
Comment[cs]=Časté dotazy týkající se Elive
Comment[ca]=Les preguntes generals del Elive
Comment[bg]=Често задавани въпроси за Elive
Comment[bn]=Elive সম্পর্কে প্রচলিত প্রশ্ন
Comment[az]=Elive haqqında Ümumi Suallar
Categories=Elive;Help;WebApp
StartupNotify=true
NoDisplay=false
Icon=help-browser
Exec=web-launcher http://www.elivecd.org/faqs/
