[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Make the world know about Elive
Name[vi]=Làm cho thế giới biết về Elive
Name[uk]=Робити світ знає про Elive
Name[tr]=Dünyayı Elive hakkında bilgilendir
Name[tl]=Gawin ang mga mundo malaman tungkol sa Elive
Name[te]=ప్రపంచ Elive గురించి తెలుసు నిర్ధారించుకోండి
Name[sv]=Gör världen veta om Elive
Name[sr]=Чине свет зна о еливе
Name[sl]=Naj svet ve o Elive
Name[sk]=Aby sa svet vedieť o eLive
Name[ro]=A face lumea sa afle despre Elive
Name[pt]=Faça o mundo saber sobre Elive
Name[pl]=Sprawiają, że świat wie o Elive
Name[no]=Gjør verden få vite om Elive
Name[nl]=Maak de wereld over Elive
Name[lv]=Padarīt pasaule zina par Elive
Name[nb]=Gjør verden få vite om Elive
Name[ms]=Menjadikan dunia ini tahu tentang elive
Name[lt]=Padaryti pasaulis žino apie Elive
Name[ko]=Elive에 대해 세상에 알리십시오.
Name[ja]=Eliveについて世界に知らせる
Name[it]=Fare conoscere al mondo Elive
Name[id]=Membuat dunia tahu tentang Elive
Name[hu]=Hogy a világ tudni Elive
Name[hr]=Provjerite svijet zna o Elive
Name[hi]=विश्व को एलीव के बारे में बताएं
Name[fr]=Faites découvrir le monde à Elive
Name[fi]=Tee maailma tietää eLive
Name[et]=Tee maailmale teada Elive
Name[es]=Hacer que el mundo sepa de Elive
Name[eo]=Fari la mondon scias pri Elive
Name[en]=Make the world know about Elive
Name[el]=Κάντε τον κόσμο γνωρίζουν Elive
Name[de]=Machen Sie die Welt wissen über Elive
Name[da]=Gøre verden vide om ELive
Name[cs]=Aby se svět vědět o Elive
Name[ca]=Fer que el món sàpiga sobre Elive
Name[bg]=Направи света знаят за Elive
Name[bn]=বিশ্বের Elive সম্পর্কে জানি করুন
Name[az]=Dünya Elive haqqında bilmək etmək
Categories=Elive
StartupNotify=true
NoDisplay=false
Icon=locale
Exec=web-launcher http://www.elivecd.org/make-elive-more-known-to-the-world/
