[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Donate to maintain Elive alive
Name[az]=Elive'i yaşatmaq üçün ianə edin
Name[bg]=Дарете, за да поддържате Elive жива
Name[bn]=Elive জীবিত বজায় রাখার জন্য দান করুন
Name[ca]=Dona per mantenir Elive viu
Name[cs]=Darujte, abyste udrželi Elive naživu
Name[da]=Donér for at holde Elive i live
Name[de]=Spenden Sie, um Elive am Leben zu erhalten
Name[el]=Κάντε δωρεά για να διατηρήσετε το Elive ζωντανό
Name[eo]=Donacu por teni Elive viva
Name[es]=Dona para mantener viva a Elive
Name[et]=Annetage Elive elushoidmiseks
Name[fi]=Lahjoita pitääksesi Eliven hengissä
Name[fr]=Faites un don pour maintenir Elive en vie
Name[hi]=एलीव को जीवित रखने के लिए दान करें
Name[hr]=Donirajte za održavanje Elive na životu
Name[hu]=Adományozz, hogy Elive életben maradjon
Name[id]=Donasi untuk menjaga Elive tetap hidup
Name[it]=Dona per mantenere in vita Elive
Name[ja]=Eliveを維持するために寄付する
Name[ko]='Elive를 살아있게 유지하기 위해 기부하십시오'
Name[lt]=Aukokite, kad Elive liktų gyvas
Name[lv]=Ziedojiet, lai Elive paliktu dzīva
Name[ms]=Menderma untuk mengekalkan Elive hidup
Name[nb]=Doner for å holde Elive i live
Name[nl]=Doneer om Elive in leven te houden
Name[no]=Doner for å holde Elive i live
Name[pl]=Przekaż darowiznę, aby utrzymać Elive przy życiu
Name[pt]=Doe para manter a Elive viva
Name[ro]=Donează pentru a menține Elive în viață
Name[sk]=Darujte na udržanie Elive nažive
Name[sl]=Donirajte, da ohranite Elive pri življenju
Name[sr]=Донирајте да одржите Еливе живом
Name[sv]=Donera för att hålla Elive vid liv
Name[te]=ఎలివ్ను సజీవంగా ఉంచడానికి విరాళం ఇవ్వండి
Name[tl]=Mag-donate para mapanatili ang buhay ni Elive
Name[tr]=Elive'i hayatta tutmak için bağış yapın
Name[uk]=Зробіть пожертву, щоб зберегти Elive живою
Name[vi]=Quyên góp để duy trì sự sống của Elive
Name[zh]=捐款以维持 Elive 的生命
Comment=donation
Comment[zh]=捐款
Comment[az]=hədiyyə
Comment[bg]=дарение
Comment[bn]=দান
Comment[ca]=donació
Comment[cs]=dar
Comment[da]=donation
Comment[de]=Spende
Comment[el]=δωρεά
Comment[en]=donation
Comment[eo]=donaco
Comment[es]=donación
Comment[et]=annetus
Comment[fi]=lahjoitus
Comment[fr]=don
Comment[hi]=दान
Comment[hr]=donacija
Comment[hu]=adomány
Comment[id]=sumbangan
Comment[it]=donazione
Comment[ja]=寄付
Comment[ko]=기부
Comment[lt]=donorystė
Comment[lv]=ziedojums
Comment[ms]=derma
Comment[nb]=donasjon
Comment[nl]=schenking
Comment[no]=donasjon
Comment[pl]=darowizna
Comment[pt]=doação
Comment[ro]=donare
Comment[sk]=dar
Comment[sl]=darovanje
Comment[sr]=донација
Comment[sv]=donation
Comment[te]=విరాళం
Comment[tl]=donasyon
Comment[tr]=bağış
Comment[uk]=пожертвування
Comment[vi]=Quyên góp
Categories=Elive;WebApp
StartupNotify=true
#NoDisplay=false
Icon=znes
Exec=web-launcher "https://www.elivecd.org/donate/?id=donate-elive-os-emenus"
