[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive Forum
Name[zh]=直播论坛
Name[vi]=Diễn đàn Elive
Name[uk]=Elive Форум
Name[tr]=Elive Forum
Name[tl]=Elive Forum
Name[te]=Elive ఫోరం
Name[sv]=Elive Forum
Name[sr]=Еливе форум
Name[sl]=Elive Forum
Name[sk]=ELive Forum
Name[ro]=Elive Forum
Name[pt]=Fórum de Elive
Name[pl]=Elive Forum
Name[no]=Elive Forum
Name[nl]=Elive Forum
Name[lv]=Elive Forum
Name[nb]=Elive Forum
Name[ms]=Elive Forum
Name[lt]=Elive Forumas
Name[ko]=Elive 포럼
Name[ja]=エリブフォーラム
Name[it]=Forum Elive
Name[id]=Elive Forum
Name[hu]=Elive Forum
Name[hr]=Elive Forum
Name[hi]=एलीव फोरम
Name[fr]=Forum de Elive
Name[fi]=Elive Forum
Name[et]=Elive Foorum
Name[es]=Foro de Elive
Name[eo]=Elive Forumo
Name[en]=Elive Forum
Name[el]=Elive Φόρουμ
Name[de]=Elive Forum
Name[da]=ELive Forum
Name[cs]=Elive Forum
Name[ca]=Fòrum Elive
Name[bg]=Elive Forum
Name[bn]=Elive ফোরাম
Name[az]=Elive Forum
Comment=Threads of discussions and topics
Comment[zh]=讨论主题和主题
Comment[vi]=Chủ đề thảo luận và chủ đề
Comment[uk]=Теми дискусій і теми
Comment[tr]=Tartışmalar ve konuların konuları
Comment[tl]=Threads ng mga talakayan at mga paksa
Comment[te]=చర్చలు మరియు విషయాలు దారాలు
Comment[sv]=Trådar av diskussioner och ämnen
Comment[sr]=Теме дискусије и теме
Comment[sl]=Teme pogovorov in teme
Comment[sk]=Nitky diskusií a tém
Comment[ro]=Fire de discuții și teme
Comment[pt]=Tópicos de discussões e tópicos
Comment[pl]=Tematy dyskusji i tematów
Comment[no]=Tråder av diskusjoner og emner
Comment[nl]=Draden van discussies en onderwerpen
Comment[lv]=Pavedieni diskusijām un tēmām
Comment[nb]=Tråder av diskusjoner og emner
Comment[ms]=Threads perbincangan dan topik
Comment[lt]=Siūlai diskusijų ir temų
Comment[ko]=토론 및 주제 스레드
Comment[ja]=ディスカッションやトピックのスレッド
Comment[it]=Fili di discussioni e argomenti
Comment[id]=Benang diskusi dan topik
Comment[hu]=Szálak viták és témák
Comment[hr]=Teme rasprava i tema
Comment[hi]=चर्चाओं और विषयों की थ्रेड्स
Comment[fr]=Discussions et sujets
Comment[fi]=Langat keskusteluja ja aiheita
Comment[et]=Teemad arutelude ja teemad
Comment[es]=Temas de discusiones y temas
Comment[eo]=Fadenoj de diskutoj kaj temoj
Comment[en]=Threads of discussions and topics
Comment[el]=Τα θέματα των συζητήσεων και θεμάτων
Comment[de]=Themen der Diskussionen und Themen
Comment[da]=Tråde fra diskussioner og emner
Comment[cs]=Nitky diskuzí a témat
Comment[ca]=Fils de discussions i temes
Comment[bg]=Теми на дискусии и теми
Comment[bn]=আলোচনা ও বিষয় টপিক
Comment[az]=Müzakirələr və mövzular Threads
Categories=Elive;Help;WebApp
StartupNotify=true
NoDisplay=false
Icon=msn
Exec=web-launcher http://forum.elivelinux.org
