[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Report Elive Issues
Name[vi]=Báo cáo Các vấn đề Tùy chọn
Name[uk]=Звіт Elive питання
Name[tr]=Elive Issues'ı Rapor Edin
Name[tl]=Iulat Elive Isyu
Name[te]=నివేదించు Elive ఇష్యూస్
Name[sv]=Rapportera Elive Issues
Name[sr]=Пријави еливе питања
Name[sl]=Prijavi Elive Vprašanja
Name[sk]=Správa eLive Problémy
Name[ro]=Raportează Elive Probleme
Name[pt]=Relatar Problemas Elive
Name[pl]=Zgłoś Elive problemy
Name[no]=Rapport Elive Issues
Name[nl]=Rapporteren Elive Issues
Name[lv]=Ziņojiet Elive jautājumi
Name[nb]=Rapport Elive Issues
Name[ms]=Melaporkan elive Issues
Name[lt]=Blogas Elive problemos
Name[ko]=Elive 문제보고
Name[ja]=エリブ問題の報告
Name[it]=Segnala Elive Problemi
Name[id]=Laporkan Elive Masalah
Name[hu]=Jelentés Elive kérdések
Name[hr]=Prijavi Elive pitanja
Name[hi]=रिपोर्ट एलईपी मुद्दे
Name[fr]=Signaler les questions Elive
Name[fi]=Ilmoita eLive Issues
Name[et]=Raport Elive küsimused
Name[es]=Reporte de problemas Elive
Name[eo]=Raporti Elive Issues
Name[en]=Report Elive Issues
Name[el]=Αναφορά Elive Θέματα
Name[de]=Berichte Elive Issues
Name[da]=Rapporter ELive Issues
Name[cs]=Zpráva Elive Problémy
Name[ca]=Problemes reportar Elive
Name[bg]=Доклад Elive Проблеми
Name[bn]=প্রতিবেদন Elive সমস্যা
Name[az]=Elive məsələlər hesabat
Comment=Bugs and suggestions BTS
Comment[vi]=Bugs và đề xuất BTS
Comment[uk]=Помилки і пропозиції БТС
Comment[tr]=Hata ve öneriler BTS
Comment[tl]=Bug at mga suhestiyon BTS
Comment[te]=బగ్స్ మరియు సలహాలను BTS
Comment[sv]=Buggar och förslag BTS
Comment[sr]=Бубе и сугестије БТС
Comment[sl]=Bugs in predlogi BTS
Comment[sk]=Chyby a návrhy BTS
Comment[ro]=Bug-uri și sugestii BTS
Comment[pt]=Erros e sugestões BTS
Comment[pl]=Błędy i sugestie BTS
Comment[no]=Bugs og forslag BTS
Comment[nl]=Bugs en suggesties BTS
Comment[lv]=Bugs un ieteikumi BTS
Comment[nb]=Bugs og forslag BTS
Comment[ms]=Bugs dan cadangan BTS
Comment[lt]=Klaidos ir pasiūlymai BTS
Comment[ko]=버그 및 제안 BTS
Comment[ja]=バグと提案BTS
Comment[it]=Difetti e suggerimenti BTS
Comment[id]=Bug dan saran BTS
Comment[hu]=Hibák és javaslatok BTS
Comment[hr]=Greške i prijedlozi BTS
Comment[hi]=कीड़े और सुझाव बीटीएस
Comment[fr]=Bugs et suggestions BTS
Comment[fi]=Bugs ja ehdotuksia BTS
Comment[et]=Bugs ja ettepanekuid BTS
Comment[es]=Bugs y sugerencias BTS
Comment[eo]=Cimoj kaj sugestoj BTS
Comment[en]=Bugs and suggestions BTS
Comment[el]=Λάθη και προτάσεις BTS
Comment[de]=Bugs und Vorschläge BTS
Comment[da]=Bugs og forslag BTS
Comment[cs]=Chyby a návrhy BTS
Comment[ca]=Bugs i suggeriments BTS
Comment[bg]=Bugs и предложения BTS
Comment[bn]=বাগ ও পরামর্শ বিটিএস
Comment[az]=Bugs və təkliflər BTS
Categories=Elive
StartupNotify=true
NoDisplay=false
Icon=task-due
Exec=web-launcher http://bugs.elivecd.org
