[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Collaborate with Elive
Name[zh]=与 Elive 合作
Name[vi]=Phối hợp với Elive
Name[uk]=Співпрацювати з Elive
Name[tr]=Elive ile İşbirliği yapın
Name[tl]=Makipagtulungan sa Elive
Name[te]=Elive సహకరించడానికి
Name[sv]=Samarbeta med Elive
Name[sr]=Сарађују са еливе
Name[sl]=Sodelujte z Elive
Name[sk]=Spolupracujte s eLive
Name[ro]=Colaborează cu Elive
Name[pt]=Colaborar com Elive
Name[pl]=Współpracę z Elive
Name[no]=Samarbeid med Elive
Name[nl]=Samenwerken met Elive
Name[lv]=Sadarboties ar Elive
Name[nb]=Samarbeid med Elive
Name[ms]=Bekerjasama dengan elive
Name[lt]=Bendradarbiauti su Elive
Name[ko]=Elive와 공동 작업
Name[ja]=エリブとのコラボレーション
Name[it]=Collabora con Elive
Name[id]=Berkolaborasi dengan Elive
Name[hu]=Együttműködés a Elive
Name[hr]=Suradnja s Elive
Name[hi]=एलीव के साथ सहयोग करें
Name[fr]=Collaborer avec Elive
Name[fi]=Tee yhteistyötä eLive
Name[et]=Koostööd Elive
Name[es]=Colaborar con Elive
Name[eo]=Kunlabori kun Elive
Name[en]=Collaborate with Elive
Name[el]=Συνεργαστείτε με Elive
Name[de]=Zusammenarbeit mit Elive
Name[da]=Samarbejd med ELive
Name[cs]=Spolupracujte s Elive
Name[ca]=Col·laborar amb Elive
Name[bg]=Сътрудничество с Elive
Name[bn]=Elive সঙ্গে সহযোগিতা করুন
Name[az]=Elive ilə əməkdaşlıq
Comment=Help to improve Elive
Comment[zh]=帮助改进Elive
Comment[vi]=Giúp cải thiện Elive
Comment[uk]=Допоможіть покращити Elive
Comment[tr]=Elive'ın iyileştirilmesine yardım edin
Comment[tl]=Makatulong upang mapagbuti Elive
Comment[te]=Elive మెరుగుపరచడానికి సహాయం
Comment[sv]=Bidra till att förbättra Elive
Comment[sr]=Помоћи да се побољша еливе
Comment[sl]=Pripomogla k izboljšanju Elive
Comment[sk]=Prispieť k zlepšeniu eLive
Comment[ro]=Pentru a ajuta la îmbunătățirea Elive
Comment[pt]=Ajude a melhorar Elive
Comment[pl]=Przyczyni się do poprawy Elive
Comment[no]=Bidra til å forbedre Elive
Comment[nl]=Hulp aan Elive verbeteren
Comment[lv]=Palīdz uzlabot Elive
Comment[nb]=Bidra til å forbedre Elive
Comment[ms]=Membantu meningkatkan elive
Comment[lt]=Padėti pagerinti Elive
Comment[ko]=Elive 개선에 도움
Comment[ja]=Eliveを改善するためのヘルプ
Comment[it]=Contribuire a migliorare Elive
Comment[id]=Membantu meningkatkan Elive
Comment[hu]=Javítják Elive
Comment[hr]=Pomozite poboljšati Elive
Comment[hi]=Elive सुधारने में मदद करें
Comment[fr]=Aide à améliorer Elive
Comment[fi]=Parantaa eLive
Comment[et]=Aitavad parandada Elive
Comment[es]=Ayuda a mejorar Elive
Comment[eo]=Helpu plibonigi Elive
Comment[en]=Help to improve Elive
Comment[el]=Να συμβάλει στη βελτίωση Elive
Comment[de]=Helfen, Elive zu verbessern
Comment[da]=Hjælp til at forbedre ELive
Comment[cs]=Přispět ke zlepšení Elive
Comment[ca]=Ajudar a millorar Elive
Comment[bg]=Помогнете да подобрим Elive
Comment[bn]=Elive উন্নত করতে সাহায্য
Comment[az]=Elive yaxşılaşdırılması üçün kömək
Categories=Elive;Development;WebApp
StartupNotify=true
#NoDisplay=false
Icon=gwget
Exec=web-launcher https://www.elivecd.org/collaborate/
