[Desktop Entry]
Encoding=UTF-8
Name=Help Chat
Name[zh]=帮助聊天室
Name[vi]=Trợ giúp Trò chuyện
Name[uk]=Допомога Чату
Name[tr]=Sohbet Yardımı
Name[tl]=Tulong sa Chat
Name[te]=చాట్ సహాయం
Name[sv]=Hjälp Chat
Name[sr]=Помоћ Чат
Name[sl]=Pomoč v Chat
Name[sk]=Pomoc v Chat
Name[ro]=Ajutor Chat
Name[pt]=Ajuda no Bate-papo
Name[pl]=Pomoc w Chat
Name[no]=Hjelp Chat
Name[nl]=Hulp Chat
Name[lv]=Palīdzība Chat
Name[nb]=Hjelp Chat
Name[ms]=Bantuan Chat
Name[lt]=Pagalba Pokalbiams
Name[ko]=채팅 도움
Name[ja]=ヘルプチャット
Name[it]=Aiuto Chat
Name[id]=Bantuan Chat
Name[hu]=Segítség Chat
Name[hr]=Pomoć Chat
Name[hi]=सहायता चैट
Name[fr]=Aide Chat
Name[fi]=Ohjeet Chat
Name[et]=Abi Chat
Name[es]=Ayuda Chat
Name[eo]=Helpbabilejo
Name[en]=Help Chat
Name[el]=Βοήθεια Chat
Name[de]=Hilfe Chat
Name[da]=Hjælp Chat
Name[cs]=Pomoc Chat
Name[ca]=Ajuda xat
Name[bg]=Помощ Chat
Name[bn]=সাহায্য চ্যাট
Name[az]=Yardım Chat
Comment=Chat with other Elive users and experts
Comment[zh]=与其他 Elive 用户和专家进行聊天
Comment[vi]=Trò chuyện với người dùng và chuyên gia Elive khác
Comment[uk]=Спілкуйтеся з іншими користувачами та експертами Elive
Comment[tr]=Diğer Elive kullanıcıları ve uzmanlarıyla sohbet edin
Comment[tl]=Makipag-chat sa ibang mga user Elive at mga eksperto
Comment[te]=ఇతర Elive వినియోగదారులు మరియు నిపుణులతో చాట్
Comment[sv]=Chatta med andra Elive användare och experter
Comment[sr]=Цхат са другим корисницима еливе и стручњака
Comment[sl]=Klepetajte z drugimi uporabniki Elive in strokovnjakov
Comment[sk]=Chat s ostatnými užívateľmi a odborníkmi eLive
Comment[ro]=Chat cu alți utilizatori Elive și experți
Comment[pt]=Converse com outros usuários e especialistas Elive
Comment[pl]=Rozmawiać z innymi użytkownikami i ekspertami Elive
Comment[no]=Chat med andre eLive brukere og eksperter
Comment[nl]=Chatten met andere gebruikers en experts Elive
Comment[lv]=Tērzēt ar citiem Elive lietotājiem un ekspertiem
Comment[nb]=Chat med andre Elive-brukere og -eksperter
Comment[ms]=Berbual dengan pengguna dan pakar Elive yang lain
Comment[lt]=Pokalbiai su kitais Elive naudotojų ir specialistų
Comment[ko]=다른 Elive 사용자 및 전문가와 채팅하십시오.
Comment[ja]=Eliveの他のユーザーや専門家とチャット
Comment[it]=Chatta con altri utenti ed esperti di Elive
Comment[id]=Chatting dengan pengguna dan ahli Elive lainnya
Comment[hu]=Beszélgess más Elive felhasználók és szakemberek
Comment[hr]=Razgovarajte s drugim korisnicima Elive i stručnjaka
Comment[hi]=अन्य Elive उपयोगकर्ताओं और विशेषज्ञों के साथ चैट करें
Comment[fr]=Discutez avec d'autres utilisateurs et experts d'Elive
Comment[fi]=Keskustele muiden Elive-käyttäjien ja asiantuntijoiden kanssa
Comment[et]=Jututuba teiste Elive kasutajat ja eksperdid
Comment[es]=Chatea con otros usuarios y expertos de Elive
Comment[eo]=Babilu kun aliaj uzantoj kaj spertuloj de Elive
Comment[el]=Συνομιλία με άλλους χρήστες Elive και εμπειρογνώμονες
Comment[de]=Chat mit anderen Elive-Nutzern und Experten
Comment[da]=Chat med andre ELive brugere og eksperter
Comment[cs]=Chat s ostatními uživateli a odborníky Elive
Comment[ca]=Xatejar amb altres usuaris i experts Elive
Comment[bg]=Чат с другите потребители Elive и експерти
Comment[bn]=অন্যান্য Elive ব্যবহারকারী ও বিশেষজ্ঞদের সাথে চ্যাট করুন
Comment[az]=Digər Elive istifadəçilər və mütəxəssislər ilə söhbət
TryExec=hexchat
Exec=hexchat
Icon=chat
Terminal=false
Type=Application
Categories=Elive;Help
StartupNotify=true
