[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Report issues so we can fix it
Name[az]=Onu düzəldə biləcəyimiz məsələləri bildirin
Name[bg]=Отчетете проблеми, за да можем да ги коригираме
Name[bn]=সমস্যাগুলি প্রতিবেদন করুন যাতে আমরা এটি ঠিক করতে পারি
Name[ca]=Informeu dels problemes perquè puguem solucionar-ho
Name[cs]=Nahlásit problémy, abychom je mohli opravit
Name[da]=Rapportér problemer, så vi kan løse det
Name[de]=Probleme melden, damit wir es beheben können
Name[el]=Αναφέρετε ζητήματα για να το διορθώσουμε
Name[eo]=Raporti aferojn do ni povas ripari ĝin
Name[es]=Informar problemas para que podamos arreglarlo
Name[et]=Teatage probleeme, et saaksime seda parandada
Name[fi]=Ilmoita ongelmat, jotta voimme korjata sen
Name[fr]=Signaler des problèmes afin que nous puissions y remédier
Name[hi]=समस्याओं की रिपोर्ट करें ताकि हम इसे ठीक कर सकें
Name[hr]=Obavijestite probleme tako da je možemo popraviti
Name[hu]=Jelentse meg a problémákat, így meg tudjuk oldani
Name[id]=Laporkan masalah agar kami dapat memperbaikinya
Name[it]=Segnala i problemi in modo da poterlo risolvere
Name[ja]=問題を報告して修正できるようにする
Name[ko]=해결할 수 있도록 문제를 신고하십시오.
Name[lt]=Pranešti apie problemas, kad galėtume išspręsti šią problemą
Name[lv]=Ziņojiet par problēmām, lai mēs to varētu salabot
Name[ms]=Laporkan isu supaya kami boleh memperbaikinya
Name[nb]=Rapporter problemer slik at vi kan fikse det
Name[nl]=Rapporteer problemen zodat we het kunnen oplossen
Name[no]=Rapporter problemer slik at vi kan fikse det
Name[pl]=Zgłoś problemy, abyśmy mogli to naprawić
Name[pt]=Informe problemas para que possamos corrigi-lo
Name[ro]=Raportați problemele pentru a le putea rezolva
Name[sk]=Nahlásiť problémy, aby sme ich mohli vyriešiť
Name[sl]=Poročajte o težavah, da bomo to popravili
Name[sr]=Извештавајте проблеме како бисмо то могли поправити
Name[sv]=Rapportera problem så att vi kan fixa det
Name[te]=సమస్యలను నివేదించు తద్వారా దాన్ని పరిష్కరించవచ్చు
Name[tl]=Iulat ang mga isyu upang maayos natin ito
Name[tr]=Sorunları giderebilmemiz için bildirin.
Name[uk]=Повідомте про проблеми, щоб ми могли це виправити
Name[vi]=Báo cáo vấn đề để chúng tôi có thể khắc phục nó
Comment=Bugs and suggestions BTS
Comment[vi]=Bugs và đề xuất BTS
Comment[uk]=Помилки і пропозиції БТС
Comment[tr]=Hata ve öneriler BTS
Comment[tl]=Bug at mga suhestiyon BTS
Comment[te]=బగ్స్ మరియు సలహాలను BTS
Comment[sv]=Buggar och förslag BTS
Comment[sr]=Бубе и сугестије БТС
Comment[sl]=Bugs in predlogi BTS
Comment[sk]=Chyby a návrhy BTS
Comment[ro]=Bug-uri și sugestii BTS
Comment[pt]=Erros e sugestões BTS
Comment[pl]=Błędy i sugestie BTS
Comment[no]=Bugs og forslag BTS
Comment[nl]=Bugs en suggesties BTS
Comment[lv]=Bugs un ieteikumi BTS
Comment[nb]=Bugs og forslag BTS
Comment[ms]=Bugs dan cadangan BTS
Comment[lt]=Klaidos ir pasiūlymai BTS
Comment[ko]=버그 및 제안 BTS
Comment[ja]=バグと提案BTS
Comment[it]=Difetti e suggerimenti BTS
Comment[id]=Bug dan saran BTS
Comment[hu]=Hibák és javaslatok BTS
Comment[hr]=Greške i prijedlozi BTS
Comment[hi]=कीड़े और सुझाव बीटीएस
Comment[fr]=Bugs et suggestions BTS
Comment[fi]=Bugs ja ehdotuksia BTS
Comment[et]=Bugs ja ettepanekuid BTS
Comment[es]=Bugs y sugerencias BTS
Comment[eo]=Cimoj kaj sugestoj BTS
Comment[en]=Bugs and suggestions BTS
Comment[el]=Λάθη και προτάσεις BTS
Comment[de]=Bugs und Vorschläge BTS
Comment[da]=Bugs og forslag BTS
Comment[cs]=Chyby a návrhy BTS
Comment[ca]=Bugs i suggeriments BTS
Comment[bg]=Bugs и предложения BTS
Comment[bn]=বাগ ও পরামর্শ বিটিএস
Comment[az]=Bugs və təkliflər BTS
Categories=Elive;Helper
StartupNotify=true
NoDisplay=false
Icon=task-due
Exec=elive-bug-report
