[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
NoDisplay=true
OnlyShowIn=XFCE;
NotShowIn=ENLIGHTENMENT;

X-XFCE-MimeType=x-scheme-handler/file;x-scheme-handler/trash;
Name=File Manager
Comment=Browse the file system
