[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=internet-mail
StartupNotify=false
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
X-XFCE-MimeType=x-scheme-handler/mailto;
Name=Mail Reader
Comment=Read your email
NoDisplay=true
