[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
X-XFCE-MimeType=x-scheme-handler/file;x-scheme-handler/trash;
Name=File Manager
Name[zh]=文件管理器
Name[az]=Fayl idarəedici
Name[bg]=Файлов мениджър
Name[bn]=নথি ব্যবস্থাপক
Name[ca]=Gestor d'arxius
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχείριση αρχείων
Name[eo]=Dosieradministrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[hi]=फ़ाइल मैनेजर
Name[hr]=Upravitelj datoteka
Name[hu]=Fájl kezelő
Name[id]=Manajer File
Name[it]=File Manager
Name[ja]=ファイル管理
Name[ko]=파일 관리자
Name[lt]=Failų tvarkyklė
Name[lv]=Failu menedžeris
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandsbeheer
Name[no]=Filbehandler
Name[pl]=Menedżer plików
Name[pt]=Gerenciador de arquivos
Name[ro]=Manager de fișiere
Name[sk]=Správca súborov
Name[sl]=Upravitelj datotek
Name[sr]=Филе Манагер
Name[sv]=Filhanterare
Name[te]=ఫైల్ మేనేజర్
Name[tl]=File Manager
Name[tr]=Dosya Yöneticisi
Name[uk]=Файловий менеджер
Name[vi]=Quản lý tập tin
Comment=Browse the file system
Comment[zh]=浏览文件系统
Comment[az]=Fayl sisteminə baxın
Comment[bg]=Разгледайте файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers
Comment[cs]=Procházejte systém souborů
Comment[da]=Gennemse filsystemet
Comment[de]=Durchsuchen Sie das Dateisystem
Comment[el]=Περιηγηθείτε στο σύστημα αρχείων
Comment[eo]=Trarigardi la dosiersistemon
Comment[es]=Examinar el sistema de archivos
Comment[et]=Sirvige failisüsteemi
Comment[fi]=Selaa tiedostojärjestelmää
Comment[fr]=Parcourir le système de fichiers
Comment[hi]=फ़ाइल सिस्टम ब्राउज़ करें
Comment[hr]=Pregledajte datotečni sustav
Comment[hu]=Böngésszen a fájlrendszerben
Comment[id]=Jelajahi sistem file
Comment[it]=Sfoglia il file system
Comment[ja]=ファイルシステムを参照する
Comment[ko]=파일 시스템 찾아보기
Comment[lt]=Naršykite failų sistemą
Comment[lv]=Pārlūkojiet failu sistēmu
Comment[ms]=Semak imbas sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[nl]=Blader door het bestandssysteem
Comment[no]=Bla gjennom filsystemet
Comment[pl]=Przeglądaj system plików
Comment[pt]=Navegue no sistema de arquivos
Comment[ro]=Răsfoiți sistemul de fișiere
Comment[sk]=Prezrite si súborový systém
Comment[sl]=Brskajte po datotečnem sistemu
Comment[sr]=Прегледајте систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[te]=ఫైల్ సిస్టమ్ను బ్రౌజ్ చేయండి
Comment[tl]=I-browse ang file system
Comment[tr]=Dosya sistemine göz atın
Comment[uk]=Перегляньте файлову систему
Comment[vi]=Duyệt qua hệ thống tệp
NoDisplay=true
