[Desktop Entry]
Version=1.0
TryExec=exo-preferred-applications
Exec=exo-preferred-applications
Icon=preferences-desktop-default-applications
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
#OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
Terminal=false
StartupNotify=true
Name=Preferred Applications
Name[zh]=首选应用
Name[az]=Tercih Edilən Tətbiqlər
Name[bg]=Предпочитани приложения
Name[bn]=পছন্দের অ্যাপ্লিকেশন
Name[ca]=Aplicacions preferides
Name[cs]=Preferované aplikace
Name[da]=Foretrukne applikationer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες εφαρμογές
Name[eo]=Preferataj Aplikoj
Name[es]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[fi]=Suositellut sovellukset
Name[fr]=Applications préférées
Name[hi]=पसंदीदा अनुप्रयोग
Name[hr]=Preferirane aplikacije
Name[hu]=Előnyben részesített alkalmazások
Name[id]=Aplikasi Pilihan
Name[it]=Applicazioni preferite
Name[ja]=優先アプリケーション
Name[ko]=선호 애플리케이션
Name[lt]=Pageidaujamos programos
Name[lv]=Vēlamās lietojumprogrammas
Name[ms]=Aplikasi Pilihan
Name[nb]=Foretrukne applikasjoner
Name[nl]=Voorkeurstoepassingen
Name[no]=Foretrukne applikasjoner
Name[pl]=Preferowane aplikacje
Name[pt]=Aplicativos preferidos
Name[ro]=Aplicații preferate
Name[sk]=Preferované aplikácie
Name[sl]=Prednostne aplikacije
Name[sr]=Преферред Апплицатионс
Name[sv]=Föredragna applikationer
Name[te]=ప్రాధాన్య అప్లికేషన్లు
Name[tl]=Mga Ginustong Aplikasyon
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Бажані програми
Name[vi]=Ứng dụng ưu tiên
Comment=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
Comment[zh]=首选应用程序（Web 浏览器、邮件阅读器和终端仿真器）
Comment[az]=Tercih Edilən Tətbiqlər (Veb Brauzeri, Poçt Oxuyucusu və Terminal Emulatoru)
Comment[bg]=Предпочитани приложения (уеб браузър, четец на поща и терминален емулатор)
Comment[bn]=পছন্দের অ্যাপ্লিকেশন (ওয়েব ব্রাউজার, মেইল রিডার এবং টার্মিনাল এমুলেটর)
Comment[ca]=Aplicacions preferides (navegador web, lector de correu i emulador de terminal)
Comment[cs]=Preferované aplikace (webový prohlížeč, čtečka pošty a emulátor terminálu)
Comment[da]=Foretrukne applikationer (webbrowser, maillæser og terminalemulator)
Comment[de]=Bevorzugte Anwendungen (Webbrowser, Mail-Reader und Terminal-Emulator)
Comment[el]=Προτιμώμενες εφαρμογές (πρόγραμμα περιήγησης στο Web, πρόγραμμα ανάγνωσης αλληλογραφίας και εξομοιωτής τερματικού)
Comment[eo]=Preferataj Aplikoj (TTT-legilo, Poŝta Legilo kaj Terminalo-Emulilo)
Comment[es]=Aplicaciones preferidas (navegador web, lector de correo y emulador de terminal)
Comment[et]=Eelistatud rakendused (veebibrauser, meililugeja ja terminaliemulaator)
Comment[fi]=Ensisijaiset sovellukset (verkkoselain, sähköpostinlukija ja pääteemulaattori)
Comment[fr]=Applications préférées (navigateur Web, lecteur de courrier et émulateur de terminal)
Comment[hi]=पसंदीदा अनुप्रयोग (वेब ब्राउज़र, मेल रीडर और टर्मिनल एमुलेटर)
Comment[hr]=Preferirane aplikacije (web preglednik, čitač pošte i emulator terminala)
Comment[hu]=Előnyben részesített alkalmazások (webböngésző, levélolvasó és terminálemulátor)
Comment[id]=Aplikasi Pilihan (Web Browser, Mail Reader dan Terminal Emulator)
Comment[it]=Applicazioni preferite (browser Web, lettore di posta ed emulatore di terminale)
Comment[ja]=優先アプリケーション（Webブラウザー、メールリーダー、ターミナルエミュレーター）
Comment[ko]=선호하는 응용 프로그램(웹 브라우저, 메일 리더 및 터미널 에뮬레이터)
Comment[lt]=Pageidaujamos programos (žiniatinklio naršyklė, pašto skaitytuvas ir terminalo emuliatorius)
Comment[lv]=Vēlamās lietojumprogrammas (tīmekļa pārlūkprogramma, pasta lasītājs un termināļa emulators)
Comment[ms]=Aplikasi Pilihan (Penyemak Imbas Web, Pembaca Mel dan Terminal Emulator)
Comment[nb]=Foretrukne applikasjoner (nettleser, e -postleser og terminalemulator)
Comment[nl]=Voorkeurstoepassingen (webbrowser, e-maillezer en terminalemulator)
Comment[no]=Foretrukne applikasjoner (nettleser, e -postleser og terminalemulator)
Comment[pl]=Preferowane aplikacje (przeglądarka internetowa, czytnik poczty i emulator terminala)
Comment[pt]=Aplicativos preferidos (navegador da web, leitor de email e emulador de terminal)
Comment[ro]=Aplicații preferate (Browser Web, Mail Reader și Terminal Emulator)
Comment[sk]=Preferované aplikácie (webový prehliadač, čítačka pošty a emulátor terminálu)
Comment[sl]=Prednostne aplikacije (spletni brskalnik, bralnik pošte in terminalski emulator)
Comment[sr]=Префериране апликације (веб прегледач, читач поште и емулатор терминала)
Comment[sv]=Föredragna applikationer (webbläsare, e -postläsare och terminalemulator)
Comment[te]=ప్రాధాన్య అప్లికేషన్లు (వెబ్ బ్రౌజర్, మెయిల్ రీడర్ మరియు టెర్మినల్ ఎమ్యులేటర్)
Comment[tl]=Mga Ginustong Aplikasyon (Web Browser, Mail Reader at Terminal Emulator)
Comment[tr]=Tercih Edilen Uygulamalar (Web Tarayıcı, Posta Okuyucu ve Terminal Emülatörü)
Comment[uk]=Бажані програми (веб -браузер, зчитувач пошти та емулятор терміналів)
Comment[vi]=Ứng dụng ưa thích (Trình duyệt web, Trình đọc thư và Trình giả lập đầu cuối)
X-XfcePluggable=true
X-XfceHelpFile=exo-preferred-applications.html

NoDisplay=true
OnlyShowIn=Unity;

