[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=web-browser
StartupNotify=false
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=Web Browser
Name[zh]=网页浏览器
Name[az]=Veb Brauzer
Name[bg]=Уеб браузър
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[da]=Webbrowser
Name[de]=Webbrowser
Name[el]=Φυλλομετρητής
Name[eo]=Retumilo
Name[es]=Navegador web
Name[et]=Veebibrauseris
Name[fi]=Nettiselain
Name[fr]=Navigateur Web
Name[hi]=वेब ब्राउज़र
Name[hr]=Web-preglednik
Name[hu]=Böngésző
Name[id]=Peramban Web
Name[it]=Programma di navigazione in rete
Name[ja]=ウェブブラウザ
Name[ko]=웹 브라우저
Name[lt]=Interneto naršyklė
Name[lv]=Interneta pārlūks
Name[ms]=Pelayar web
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[no]=Nettleser
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador da web
Name[ro]=Browser web
Name[sk]=Webový prehliadač
Name[sl]=Spletni brskalnik
Name[sr]=Интернет претраживач
Name[sv]=Webbläsare
Name[te]=వెబ్ బ్రౌజర్
Name[tl]=Web Browser
Name[tr]=İnternet tarayıcısı
Name[uk]=Веб-браузер
Name[vi]=Trình duyệt web
Comment=Browse the web
Comment[zh]=浏览网页
Comment[az]=Vebə baxın
Comment[bg]=Разгледайте мрежата
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu pel web
Comment[cs]=Prohlížet web
Comment[da]=Gennemse internettet
Comment[de]=Im Internet surfen
Comment[el]=Σερφάρω στο διαδίκτυο
Comment[eo]=Trarigardi la retejon
Comment[es]=Navegar por la web
Comment[et]=Sirvige veebis
Comment[fi]=Selaa nettiä
Comment[fr]=Surfer sur le web
Comment[hi]=इंटरनेट पर विचरण करो
Comment[hr]=Pretražujte web
Comment[hu]=Böngészés az interneten
Comment[id]=Jelajahi web
Comment[it]=Navigare in Internet
Comment[ja]=ウェブを閲覧
Comment[ko]=웹 탐색
Comment[lt]=Naršykite internete
Comment[lv]=Pārlūkojiet tīmekli
Comment[ms]=Layari laman web
Comment[nb]=Surfe på nettet
Comment[nl]=Surfen op internet
Comment[no]=Surfe på nettet
Comment[pl]=Przeglądać sieć
Comment[pt]=Pesquisar na internet
Comment[ro]=Navigheaza pe internet
Comment[sk]=Prehliadajte web
Comment[sl]=Brskajte po spletu
Comment[sr]=Претражујете Веб
Comment[sv]=Surfa på webben
Comment[te]=వెబ్ బ్రౌజ్ చేయండి
Comment[tl]=Mag-browse sa web
Comment[tr]=Web'e göz atın
Comment[uk]=Перегляньте веб -сторінки
Comment[vi]=Duyệt web

NoDisplay=true
OnlyShowIn=Unity;

