[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=internet-mail
StartupNotify=false
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
#OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
X-XFCE-MimeType=x-scheme-handler/mailto;
Name=Mail Reader
Name[zh]=邮件阅读器
Name[az]=Poçt oxuyucusu
Name[bg]=Четец на поща
Name[bn]=মেইল রিডার
Name[ca]=Lector de correu
Name[cs]=Mail Reader
Name[da]=Maillæser
Name[de]=Mail-Reader
Name[el]=Αναγνώστης αλληλογραφίας
Name[eo]=Retpoŝtlegilo
Name[es]=Lector de correo
Name[et]=Kirjade lugeja
Name[fi]=Postin lukija
Name[fr]=Lecteur de courrier
Name[hi]=मेल रीडर
Name[hr]=Čitač pošte
Name[hu]=Levélolvasó
Name[id]=Pembaca Surat
Name[it]=Lettore di posta
Name[ja]=メールリーダー
Name[ko]=메일 리더
Name[lt]=Pašto skaitytuvas
Name[lv]=Pasta lasītājs
Name[ms]=Pembaca Mel
Name[nb]=E -postleser
Name[nl]=E-maillezer
Name[no]=E -postleser
Name[pl]=Czytnik poczty
Name[pt]=Mail Reader
Name[ro]=Cititor de mesaje
Name[sk]=Čítačka pošty
Name[sl]=Bralnik pošte
Name[sr]=Читач поште
Name[sv]=Mail Reader
Name[te]=మెయిల్ రీడర్
Name[tl]=Mambabasa ng Mail
Name[tr]=Posta Okuyucu
Name[uk]=Читач пошти
Name[vi]=Trình đọc thư
Comment=Read your email
Comment[zh]=阅读您的电子邮件
Comment[az]=E -poçtunuzu oxuyun
Comment[bg]=Прочетете имейла си
Comment[bn]=আপনার ইমেইল পড়ুন
Comment[ca]=Llegiu el vostre correu electrònic
Comment[cs]=Přečtěte si svůj e -mail
Comment[da]=Læs din e -mail
Comment[de]=Lesen Sie Ihre E-Mail
Comment[el]=Διαβάστε το email σας
Comment[eo]=Legu vian retpoŝton
Comment[es]=Lea su correo electrónico
Comment[et]=Lugege oma e -kirja
Comment[fi]=Lue sähköpostisi
Comment[fr]=Lire votre e-mail
Comment[hi]=अपना ईमेल पढ़ें
Comment[hr]=Pročitajte svoju e -poštu
Comment[hu]=Olvassa el az e -mailjét
Comment[id]=Baca email Anda
Comment[it]=Leggi la tua email
Comment[ja]=メールを読む
Comment[ko]=이메일 읽기
Comment[lt]=Perskaitykite savo el. paštą
Comment[lv]=Izlasiet savu e -pastu
Comment[ms]=Baca e-mel anda
Comment[nb]=Les e-posten din
Comment[nl]=Lees je e-mail
Comment[no]=Les e-posten din
Comment[pl]=Przeczytaj swój e-mail
Comment[pt]=Leia seu email
Comment[ro]=Citiți-vă e-mailul
Comment[sk]=Prečítajte si svoj e-mail
Comment[sl]=Preberite svojo e-pošto
Comment[sr]=Прочитајте своју е -пошту
Comment[sv]=Läs din e-post
Comment[te]=మీ ఇమెయిల్ చదవండి
Comment[tl]=Basahin ang iyong email
Comment[tr]=E-postanızı okuyun
Comment[uk]=Прочитайте свою електронну пошту
Comment[vi]=Đọc email của bạn

NoDisplay=true
OnlyShowIn=Unity;

