[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
Name=Terminal Emulator
Comment=Use the command line
NoDisplay=true
