[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
#OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
Name=Terminal Emulator
Name[zh]=终端仿真器
Name[az]=Terminal Emulatoru
Name[bg]=Терминален емулатор
Name[bn]=টার্মিনাল এমুলেটর
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[da]=Terminalemulator
Name[de]=Terminal-Emulator
Name[el]=Εξομοιωτής τερματικού
Name[eo]=Terminalo-Emulilo
Name[es]=Emulador de terminal
Name[et]=Terminali emulaator
Name[fi]=Terminaali -emulaattori
Name[fr]=Émulateur de terminal
Name[hi]=टर्मिनल एमुलेटर
Name[hr]=Terminal Emulator
Name[hu]=Terminál emulátor
Name[id]=Emulator Terminal
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[ko]=터미널 에뮬레이터
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla emulators
Name[ms]=Terminal Emulator
Name[nb]=Terminalemulator
Name[nl]=Terminal-emulator
Name[no]=Terminalemulator
Name[pl]=Emulator terminala
Name[pt]=Emulador de Terminal
Name[ro]=Emulator terminal
Name[sk]=Koncový emulátor
Name[sl]=Terminalni emulator
Name[sr]=Терминал Емулатор
Name[sv]=Terminalemulator
Name[te]=టెర్మినల్ ఎమ్యులేటర్
Name[tl]=Terminal Emulator
Name[tr]=Bağlantı emülatörü
Name[uk]=Емулятор терміналу
Name[vi]=Trình mô phỏng thiết bị đầu cuối
Comment=Use the command line
Comment[zh]=使用命令行
Comment[az]=Komanda xəttindən istifadə edin
Comment[bg]=Използвайте командния ред
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[ca]=Utilitzeu la línia d’ordres
Comment[cs]=Použijte příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Verwenden Sie die Befehlszeile
Comment[el]=Χρησιμοποιήστε τη γραμμή εντολών
Comment[eo]=Uzu la komandlinion
Comment[es]=Usa la línea de comando
Comment[et]=Kasutage käsurida
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristite naredbeni redak
Comment[hu]=Használja a parancssort
Comment[id]=Gunakan baris perintah
Comment[it]=Usa la riga di comando
Comment[ja]=コマンドラインを使用する
Comment[ko]=명령줄 사용
Comment[lt]=Naudokite komandų eilutę
Comment[lv]=Izmantojiet komandrindu
Comment[ms]=Gunakan baris arahan
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[no]=Bruk kommandolinjen
Comment[pl]=Użyj wiersza poleceń
Comment[pt]=Use a linha de comando
Comment[ro]=Utilizați linia de comandă
Comment[sk]=Použite príkazový riadok
Comment[sl]=Uporabite ukazno vrstico
Comment[sr]=Користите командну линију
Comment[sv]=Använd kommandoraden
Comment[te]=కమాండ్ లైన్ ఉపయోగించండి
Comment[tl]=Gamitin ang linya ng utos
Comment[tr]=Komut satırını kullanın
Comment[uk]=Використовуйте командний рядок
Comment[vi]=Sử dụng dòng lệnh

NoDisplay=true
OnlyShowIn=Unity;

