[Desktop Entry]
Version=1.0
TryExec=exo-preferred-applications
Exec=exo-preferred-applications
Icon=preferences-desktop-default-applications
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
# NOTE: these dont works in efl 1.13, so let's use NoDisplay
OnlyShowIn=XFCE;
NotShowIn=X-Enlightenment;
Terminal=false
StartupNotify=true
Name=Preferred Applications
Comment=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
X-XfcePluggable=true
X-XfceHelpFile=exo-preferred-applications.html
NoDisplay=true
