[Desktop Entry]
Name=Web Firefox
Name[az]=Veb Firefox
Name[bg]=Уеб Firefox
Name[bn]=ওয়েব ফায়ারফক্স
Name[ca]=Web Firefox
Name[cs]=Web Firefox
Name[da]=Web Firefox
Name[de]=Web-Firefox
Name[el]=Web Firefox
Name[eo]=Reta Fajrovulpo
Name[es]=Web Firefox
Name[et]=Veeb Firefox
Name[fi]=Web Firefox
Name[fr]=Firefox Web
Name[hi]=वेब फायरफॉक्स
Name[hr]=Web Firefox
Name[hu]=Webes Firefox
Name[id]=Firefox Web
Name[it]=Firefox Web
Name[ja]=Web Firefox
Name[ko]=웹 파이어폭스
Name[lt]=Žiniatinklis „Firefox“
Name[lv]=Tīmekļa Firefox
Name[ms]=Firefox Web
Name[nb]=Web Firefox
Name[nl]=Web Firefox
Name[no]=Web Firefox
Name[pl]=Internetowy Firefox
Name[pt]=Firefox da web
Name[ro]=Web Firefox
Name[sk]=Web Firefox
Name[sl]=Spletni Firefox
Name[sr]=Веб Фирефок
Name[sv]=Web Firefox
Name[te]=వెబ్ ఫైర్ఫాక్స్
Name[tl]=Web Firefox
Name[tr]=Web Firefox'u
Name[uk]=Веб -Firefox
Name[vi]=Web Firefox
Comment=Browse the World Wide Web
Comment[az]=World Wide Web -ə baxın
Comment[bn]=ওয়ার্ল্ড ওয়াইড ওয়েব ব্রাউজ করুন
Comment[da]=Gennemse World Wide Web
Comment[eo]=Trarigardi la Tutretan Reton
Comment[et]=Sirvige World Wide Web'i
Comment[hi]=वर्ल्ड वाइड वेब ब्राउज़ करें
Comment[hr]=Pregledajte World Wide Web
Comment[id]=Jelajahi World Wide Web
Comment[lt]=Naršykite pasaulinį tinklą
Comment[lv]=Pārlūkojiet globālo tīmekli
Comment[ms]=Layari World Wide Web
Comment[ro]=Răsfoiți World Wide Web
Comment[sl]=Brskajte po svetovnem spletu
Comment[sr]=Претражујте Ворлд Виде Веб
Comment[te]=వరల్డ్ వైడ్ వెబ్ని బ్రౌజ్ చేయండి
Comment[tl]=Mag-browse sa World Wide Web
Comment[tr]=World Wide Web'e göz atın
Comment[uk]=Перегляньте Всесвітню павутину
Comment[vi]=Duyệt qua World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[az]=Veb Brauzer
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[da]=Webbrowser
GenericName[eo]=Retumilo
GenericName[et]=Veebibrauseris
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web-preglednik
GenericName[id]=Peramban Web
GenericName[lt]=Interneto naršyklė
GenericName[lv]=Interneta pārlūks
GenericName[ms]=Pelayar web
GenericName[ro]=Browser web
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Интернет претраживач
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tl]=Web Browser
GenericName[tr]=İnternet tarayıcısı
GenericName[uk]=Веб-браузер
GenericName[vi]=Trình duyệt web
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
TryExec=/usr/lib/firefox-esr/firefox-esr
Exec=/usr/lib/firefox-esr/firefox-esr %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
