[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Alternatives Configurator
Name[az]=Alternativ Konfiqurator
Name[bg]=Конфигуратор за алтернативи
Name[bn]=বিকল্প কনফিগারেটর
Name[ca]=Configurador d’alternatives
Name[da]=Alternative konfigurator
Name[de]=Alternativen Konfigurator
Name[el]=Διαμορφωτής εναλλακτικών
Name[eo]=Alternativaj Agordilo
Name[et]=Alternatiivide konfiguraator
Name[fi]=Vaihtoehdot Configurator
Name[hi]=वैकल्पिक विन्यासकर्ता
Name[hr]=Konfigurator alternativa
Name[hu]=Alternatívák konfigurátor
Name[id]=Pengonfigurasi Alternatif
Name[it]=Configuratore di alternative
Name[ja]=Alternatives Configurator
Name[ko]=대안 구성자
Name[lt]=Alternative Configurator
Name[lv]=Alternatīvu konfigurētājs
Name[ms]=Konfigurasi Alternatif
Name[nb]=Alternativer konfigurator
Name[nl]=Alternatieven configurator
Name[no]=Alternativer konfigurator
Name[pl]=Konfigurator alternatyw
Name[pt]=Configurador de alternativas
Name[ro]=Configurator de alternative
Name[sk]=Konfigurátor alternatív
Name[sl]=Konfigurator alternativ
Name[sr]=Алтернативес Цонфигуратор
Name[te]=ప్రత్యామ్నాయ కాన్ఫిగరేటర్
Name[tl]=Mga Alternatibong Configurator
Name[tr]=Alternatif Yapılandırıcı
Name[uk]=Конфігуратор альтернатив
Name[vi]=Trình cấu hình thay thế
Name[cs]=Nastavení alternativ
Name[es]=Configurador de alternativas
Name[fr]=Configurateur d'alternatives
Name[pt_BR]=Configurador de Alternativas
Name[sv]=Alternativkonfiguratorn
Comment=Configure the system default alternatives
Comment[az]=Sistemin standart alternativlərini konfiqurasiya edin
Comment[bg]=Конфигурирайте системните алтернативи по подразбиране
Comment[bn]=সিস্টেমের ডিফল্ট বিকল্প কনফিগার করুন
Comment[ca]=Configureu les alternatives predeterminades del sistema
Comment[da]=Konfigurer systemets standardalternativer
Comment[de]=Konfigurieren Sie die Systemstandardalternativen
Comment[el]=Διαμορφώστε τις προεπιλεγμένες εναλλακτικές λύσεις συστήματος
Comment[eo]=Agordi la sistemajn defaŭltajn alternativojn
Comment[et]=Seadistage süsteemi vaikevalikud
Comment[fi]=Määritä järjestelmän oletusvaihtoehdot
Comment[hi]=सिस्टम डिफ़ॉल्ट विकल्प कॉन्फ़िगर करें
Comment[hr]=Konfigurirajte zadane alternative sustava
Comment[hu]=Állítsa be a rendszer alapértelmezett alternatíváit
Comment[id]=Konfigurasikan alternatif default sistem
Comment[it]=Configura le alternative predefinite di sistema
Comment[ja]=システムのデフォルトの選択肢を構成する
Comment[ko]=시스템 기본 대안 구성
Comment[lt]=Konfigūruokite numatytuosius sistemos variantus
Comment[lv]=Konfigurējiet sistēmas noklusējuma alternatīvas
Comment[ms]=Konfigurasikan alternatif lalai sistem
Comment[nb]=Konfigurer systemets standardalternativer
Comment[nl]=Configureer de standaard systeemalternatieven
Comment[no]=Konfigurer systemets standardalternativer
Comment[pl]=Skonfiguruj domyślne alternatywy systemowe
Comment[pt]=Configure as alternativas padrão do sistema
Comment[ro]=Configurați alternativele implicite ale sistemului
Comment[sk]=Nakonfigurujte predvolené alternatívy systému
Comment[sl]=Konfigurirajte privzete možnosti sistema
Comment[sr]=Конфигуришите системске подразумеване алтернативе
Comment[te]=సిస్టమ్ డిఫాల్ట్ ప్రత్యామ్నాయాలను కాన్ఫిగర్ చేయండి
Comment[tl]=I-configure ang mga alternatibong default ng system
Comment[tr]=Sistem varsayılan alternatiflerini yapılandırın
Comment[uk]=Налаштуйте альтернативи системи за замовчуванням
Comment[vi]=Định cấu hình các lựa chọn thay thế mặc định của hệ thống
Comment[cs]=Nastaví výchozí alternativy pro celý systém
Comment[es]=Configurar las alternativas por defecto del sistema
Comment[fr]=Configuration des alternatives par défaut du système
Comment[pt_BR]=Configure as alternativas padrão do sistema
Comment[sv]=Konfigurera systemets standardalternativ
Type=Application
TryExec=/usr/sbin/galternatives
Exec=/usr/sbin/galternatives
Icon=/usr/share/pixmaps/galternatives.png
X-GNOME-DocPath=
Terminal=false
Categories=GTK;Application;System;
StartupNotify=true
NoDisplay=true
