[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Game & Watch
GenericName=Classic Handheld Electronic Games
GenericName[az]=Klassik Əl Elektronik Oyunlar
GenericName[bg]=Класически джобни електронни игри
GenericName[bn]=ক্লাসিক হ্যান্ডহেল্ড ইলেকট্রনিক গেমস
GenericName[ca]=Jocs electrònics portàtils clàssics
GenericName[cs]=Klasické ruční elektronické hry
GenericName[da]=Klassiske håndholdte elektroniske spil
GenericName[de]=Klassische tragbare elektronische Spiele
GenericName[el]=Κλασικά φορητά ηλεκτρονικά παιχνίδια
GenericName[en]=Classic Handheld Electronic Games
GenericName[eo]=Klasikaj Handheld Elektronikaj Ludoj
GenericName[es]=Juegos electrónicos de mano clásicos
GenericName[et]=Classic Handheld Electronic Games
GenericName[fi]=Classic kädessä pidettävät elektroniset pelit
GenericName[fr]=Jeux électroniques portables classiques
GenericName[hi]=क्लासिक हाथ में इलेक्ट्रॉनिक गेम
GenericName[hr]=Klasične ručne elektroničke igre
GenericName[hu]=Klasszikus kézi elektronikus játékok
GenericName[id]=Game Elektronik Genggam Klasik
GenericName[it]=Giochi elettronici classici a mano
GenericName[ja]=クラシックハンドヘルド電子ゲーム
GenericName[ko]=클래식 핸드 헬드 전자 게임
GenericName[lt]=Klasikiniai delniniai elektroniniai žaidimai
GenericName[lv]=Klasiskās rokas elektroniskās spēles
GenericName[ms]=Permainan Elektronik Genggam Klasik
GenericName[nb]=Klassisk håndholdte elektroniske spill
GenericName[nl]=Klassieke Handheld Electronic Games
GenericName[no]=Klassisk håndholdte elektroniske spill
GenericName[pl]=Klasyczne Handheld Gry Elektroniczne
GenericName[pt]=Jogos eletrônicos de mão clássicos
GenericName[ro]=Jocuri clasice Handheld Electronic
GenericName[sk]=Klasické ručné elektronické hry
GenericName[sl]=Klasične ročne elektronske igre
GenericName[sr]=Класичне ручне електронске игре
GenericName[sv]=Klassiska handhållna elektroniska spel
GenericName[te]=క్లాసిక్ హ్యాండ్హెల్డ్ ఎలక్ట్రానిక్ గేమ్స్
GenericName[tl]=Classic Handheld Electronic Games
GenericName[tr]=Klasik Elde Taşınabilir Elektronik Oyunlar
GenericName[uk]=Класичні електронні електронні ігри
GenericName[vi]=Trò chơi điện tử cầm tay cổ điển
Categories=Game;ArcadeGame;Internet
StartupNotify=true
NoDisplay=false
Icon=games
Exec=web-launcher --app=http://www.pica-pic.com/#/donkey_kong/
