[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Gapminder
GenericName=Understand the world progress to change the future
GenericName[az]=Gələcəyi dəyişdirmək üçün dünya tərəqqisini anlayın
GenericName[bg]=Разберете световния прогрес, за да промените бъдещето
GenericName[bn]=ভবিষ্যতের পরিবর্তন করতে বিশ্বের অগ্রগতি বুঝতে
GenericName[ca]=Comprendre el progrés mundial per canviar el futur
GenericName[cs]=Pochopte světový pokrok a změňte budoucnost
GenericName[da]=Forstå verdens fremskridt for at ændre fremtiden
GenericName[de]=Den Fortschritt der Welt verstehen, um die Zukunft zu verändern
GenericName[el]=Κατανοήστε την πρόοδο του κόσμου για να αλλάξετε το μέλλον
GenericName[eo]=Komprenu la progreson de la mondo por ŝanĝi la estontecon
GenericName[es]=Comprender el progreso mundial para cambiar el futuro
GenericName[et]=Mõista maailmale edu, et muuta tulevikku
GenericName[fi]=Ymmärtää maailman edistystä tulevaisuuden muuttamiseksi
GenericName[fr]=Comprendre le progrès du monde pour changer l'avenir
GenericName[hi]=भविष्य को बदलने के लिए दुनिया की प्रगति को समझें
GenericName[hr]=Razumjeti napredak u svijetu kako biste promijenili budućnost
GenericName[hu]=Értsd meg a világ fejlődését a jövő megváltoztatásához
GenericName[id]=Pahami kemajuan dunia untuk mengubah masa depan
GenericName[it]=Comprendere i progressi del mondo per cambiare il futuro
GenericName[ja]=未来を変える世界の進歩を理解する
GenericName[ko]=미래를 변화시키는 세계 진보를 이해하십시오.
GenericName[lt]=Suprasti pasaulio pažangą keisti ateitį
GenericName[lv]=Izprotiet pasaules progresu, lai mainītu nākotni
GenericName[ms]=Memahami kemajuan dunia untuk mengubah masa depan
GenericName[nb]=Forstå verdens fremgang for å forandre fremtiden
GenericName[nl]=Begrijp de vooruitgang van de wereld om de toekomst te veranderen
GenericName[no]=Forstå verdens fremgang for å forandre fremtiden
GenericName[pl]=Poznaj światowy postęp, aby zmienić przyszłość
GenericName[pt]=Compreender o progresso do mundo para mudar o futuro
GenericName[ro]=Înțelegeți progresul mondial pentru a schimba viitorul
GenericName[sk]=Pochopte svetový pokrok, aby ste zmenili budúcnosť
GenericName[sl]=Razumeti svetovni napredek pri spremembi prihodnosti
GenericName[sr]=Разумети напредак у свету да промени будућност
GenericName[sv]=Förstå världens framsteg för att förändra framtiden
GenericName[te]=భవిష్యత్తును మార్చడానికి ప్రపంచ పురోగతిని అర్థం చేసుకోండి
GenericName[tl]=Unawain ang pag-unlad ng mundo upang baguhin ang hinaharap
GenericName[tr]=Geleceği değiştirmek için dünyanın ilerlemesini anlayın
GenericName[uk]=Зрозумійте світовий прогрес, аби змінити майбутнє
GenericName[vi]=Hiểu được tiến bộ của thế giới để thay đổi tương lai
Categories=Education;WebApp
StartupNotify=true
#NoDisplay=false
Icon=gnucash
Exec=web-launcher --app=https://www.gapminder.org/tools/
