[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Gapminder
Comment=Understand the world progress to change the future
Comment[az]=Gələcəyi dəyişdirmək üçün dünya tərəqqisini anlayın
Comment[bg]=Разберете световния прогрес, за да промените бъдещето
Comment[bn]=ভবিষ্যতের পরিবর্তন করতে বিশ্বের অগ্রগতি বুঝতে
Comment[ca]=Comprendre el progrés mundial per canviar el futur
Comment[cs]=Pochopte světový pokrok a změňte budoucnost
Comment[da]=Forstå verdens fremskridt for at ændre fremtiden
Comment[de]=Den Fortschritt der Welt verstehen, um die Zukunft zu verändern
Comment[el]=Κατανοήστε την πρόοδο του κόσμου για να αλλάξετε το μέλλον
Comment[eo]=Komprenu la mondan progreson por ŝanĝi la estontecon
Comment[es]=Comprender el progreso mundial para cambiar el futuro
Comment[et]=Mõista maailmale edu, et muuta tulevikku
Comment[fi]=Ymmärtää maailman edistystä tulevaisuuden muuttamiseksi
Comment[fr]=Comprendre le progrès du monde pour changer l'avenir
Comment[hi]=भविष्य को बदलने के लिए दुनिया की प्रगति को समझें
Comment[hr]=Razumjeti napredak u svijetu kako biste promijenili budućnost
Comment[hu]=Értsd meg a világ fejlődését a jövő megváltoztatásához
Comment[id]=Pahami kemajuan dunia untuk mengubah masa depan
Comment[it]=Capire i progressi del mondo per cambiare il futuro
Comment[ja]=未来を変える世界の進歩を理解する
Comment[ko]=미래를 변화시키는 세계 진보를 이해하십시오.
Comment[lt]=Suprasti pasaulio pažangą keisti ateitį
Comment[lv]=Izprotiet pasaules progresu, lai mainītu nākotni
Comment[ms]=Memahami kemajuan dunia untuk mengubah masa depan
Comment[nb]=Forstå verdens fremgang for å forandre fremtiden
Comment[nl]=Begrijp de vooruitgang van de wereld om de toekomst te veranderen
Comment[no]=Forstå verdens fremgang for å forandre fremtiden
Comment[pl]=Poznaj światowy postęp, aby zmienić przyszłość
Comment[pt]=Compreender o progresso do mundo para mudar o futuro
Comment[ro]=Înțelegeți progresul mondial pentru a schimba viitorul
Comment[sk]=Pochopte svetový pokrok, aby ste zmenili budúcnosť
Comment[sl]=Razumeti svetovni napredek pri spremembi prihodnosti
Comment[sr]=Разумети напредак у свету да промени будућност
Comment[sv]=Förstå världens framsteg för att förändra framtiden
Comment[te]=భవిష్యత్ను మార్చడానికి ప్రపంచ ప్రగతిని అర్థం చేసుకోండి
Comment[tl]=Unawain ang pag-unlad ng mundo upang baguhin ang hinaharap
Comment[tr]=Geleceği değiştirmek için dünya ilerlemesini anlayın
Comment[uk]=Зрозумійте світовий прогрес, щоб змінити майбутнє
Comment[vi]=Hiểu được tiến bộ của thế giới để thay đổi tương lai
Categories=Education;WebApp
StartupNotify=true
NoDisplay=false
Icon=task-due
Exec=web-launcher --app=http://www.gapminder.org/tools/ chrome firefox chromium
