[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Visually move
Name[zh]=视觉移动
Name[az]=Görmə qabiliyyəti
Name[bg]=Визуално движение
Name[bn]=দৃশ্যত সরানো
Name[ca]=Mou-te visualment
Name[cs]=Vizuálně se pohybujte
Name[da]=Flyt visuelt
Name[de]=Visuell bewegen
Name[el]=Μετακινήστε οπτικά
Name[en]=Visually move
Name[eo]=Vere movi
Name[es]=Mover visualmente
Name[et]=Visuaalselt liikuma
Name[fi]=Visuaalisesti liikkua
Name[fr]=Déplacer visuellement
Name[hi]=नेत्रहीन कदम
Name[hr]=Vizualno se kretati
Name[hu]=Vizuális mozog
Name[id]=Bergerak secara visual
Name[it]=Mezzo visivo
Name[ja]=視覚的に移動する
Name[ko]=시각적으로 움직인다.
Name[lt]=Vizualiai judėti
Name[lv]=Vizuāli pārvietoties
Name[ms]=Bergerak secara visual
Name[nb]=Flytt visuelt
Name[nl]=Visueel bewegen
Name[no]=Flytt visuelt
Name[pl]=Wizualnie się ruszaj
Name[pt]=Movimento visual
Name[ro]=Mută ​​vizual
Name[sk]=Vizuálne pohybovať
Name[sl]=Vizualno premikanje
Name[sr]=Визуелно кретање
Name[sv]=Flytta visuellt
Name[te]=దృశ్యమానంగా తరలించండి
Name[tl]=Biswal na lumipat
Name[tr]=Görme hareket et
Name[uk]=Візуально рухатися
Name[vi]=Di chuyển trực quan
Comment=GIF player
Comment[zh]=动图播放器
Comment[az]=GIF oyunçu
Comment[bg]=GIF плейър
Comment[bn]=জিআইএফ প্লেয়ার
Comment[ca]=Reproductor GIF
Comment[cs]=GIF přehrávač
Comment[da]=GIF -afspiller
Comment[de]=GIF-Player
Comment[el]=GIF player
Comment[eo]=GIF-ludilo
Comment[es]=Reproductor GIF
Comment[et]=GIF -mängija
Comment[fi]=GIF -soitin
Comment[fr]=Lecteur GIF
Comment[hi]=जीआईएफ प्लेयर
Comment[hr]=GIF player
Comment[hu]=GIF lejátszó
Comment[id]=Pemutar GIF
Comment[it]=Lettore GIF
Comment[ja]=GIFプレーヤー
Comment[ko]=GIF 플레이어
Comment[lt]=GIF grotuvas
Comment[lv]=GIF atskaņotājs
Comment[ms]=Pemain GIF
Comment[nb]=GIF -spiller
Comment[nl]=GIF-speler
Comment[no]=GIF -spiller
Comment[pl]=Odtwarzacz GIF
Comment[pt]=Jogador GIF
Comment[ro]=Jucător GIF
Comment[sk]=GIF prehrávač
Comment[sl]=GIF predvajalnik
Comment[sr]=ГИФ плејер
Comment[sv]=GIF -spelare
Comment[te]=GIF ప్లేయర్
Comment[tl]=GIF player
Comment[tr]=GIF oynatıcı
Comment[uk]=GIF плеєр
Comment[vi]=Trình phát GIF
TryExec=animate
Exec=animate %F
MimeType=image/gif
