[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=GIF Player
Name[zh]=GIF 播放器
Name[az]=GIF Pleyer
Name[bg]=GIF плейър
Name[bn]=জিআইএফ প্লেয়ার
Name[ca]=Reproductor de GIF
Name[cs]=GIF přehrávač
Name[da]=GIF-afspiller
Name[de]=GIF-Player
Name[el]=Αναπαραγωγή GIF
Name[eo]=GIF-ludilo
Name[es]=Reproductor de GIF
Name[et]=GIF-mängija
Name[fi]=GIF-soitin
Name[fr]=Lecteur GIF
Name[hi]=जीआईएफ प्लेयर
Name[hr]=GIF reproduktor
Name[hu]=GIF lejátszó
Name[id]=Pemutar GIF
Name[it]=Lettore GIF
Name[ja]=GIFプレーヤー
Name[ko]=GIF 플레이어
Name[lt]=GIF grotuvas
Name[lv]=GIF atskaņotājs
Name[ms]=Pemain GIF
Name[nb]=GIF-spiller
Name[nl]=GIF-speler
Name[no]=GIF-spiller
Name[pl]=Odtwarzacz GIF
Name[pt]=Leitor de GIF
Name[ro]=Player GIF
Name[sk]=Prehrávač GIF
Name[sl]=Predvajalnik GIF
Name[sr]=ГИФ плејер
Name[sv]=GIF-spelare
Name[te]=GIF ప్లేయర్
Name[tl]=GIF Player
Name[tr]=GIF Oynatıcı
Name[uk]=Програвач GIF
Name[vi]=Trình phát GIF
Comment=GIF player
Comment[zh]=动图播放器
Comment[az]=GIF oyunçu
Comment[bg]=GIF плейър
Comment[bn]=জিআইএফ প্লেয়ার
Comment[ca]=Reproductor GIF
Comment[cs]=GIF přehrávač
Comment[da]=GIF -afspiller
Comment[de]=GIF-Player
Comment[el]=GIF player
Comment[eo]=GIF-ludilo
Comment[es]=Reproductor GIF
Comment[et]=GIF -mängija
Comment[fi]=GIF -soitin
Comment[fr]=Lecteur GIF
Comment[hi]=जीआईएफ प्लेयर
Comment[hr]=GIF player
Comment[hu]=GIF lejátszó
Comment[id]=Pemutar GIF
Comment[it]=Lettore GIF
Comment[ja]=GIFプレーヤー
Comment[ko]=GIF 플레이어
Comment[lt]=GIF grotuvas
Comment[lv]=GIF atskaņotājs
Comment[ms]=Pemain GIF
Comment[nb]=GIF -spiller
Comment[nl]=GIF-speler
Comment[no]=GIF -spiller
Comment[pl]=Odtwarzacz GIF
Comment[pt]=Jogador GIF
Comment[ro]=Jucător GIF
Comment[sk]=GIF prehrávač
Comment[sl]=GIF predvajalnik
Comment[sr]=ГИФ плејер
Comment[sv]=GIF -spelare
Comment[te]=GIF ప్లేయర్
Comment[tl]=GIF player
Comment[tr]=GIF oynatıcı
Comment[uk]=GIF плеєр
Comment[vi]=Trình phát GIF
TryExec=animate
Exec=animate %F
MimeType=image/gif
