[Desktop Entry]
Name=Volume Control
Name[af]=Volumebeheer
Name[ar]=التحكم في شدة الصوت
Name[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকৰ্তা
Name[ast]=Control de Volume
Name[az]=Səs İdarəsi
Name[be]=Кіраваньне гукам
Name[be@latin]=Rehulacyja hučnaści
Name[bg]=Сила на звука
Name[bn]=ভলিউম নিয়ন্ত্রণ
Name[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণকারী
Name[br]=Reoliñ an ampled
Name[bs]=Kontrola zvuka
Name[ca]=Control del volum
Name[ca@valencia]=Control del volum
Name[cs]=Ovládání hlasitosti
Name[cy]=Rheolydd Lefel Sain
Name[da]=Lydstyrkekontrol
Name[de]=Lautstärkeregler
Name[dz]=སྐད་ཤུགས་ཚད་འཛིན།
Name[el]=Έλεγχος έντασης ήχου
Name[en@shaw]=𐑝𐑪𐑤𐑿𐑥 𐑒𐑩𐑯𐑑𐑮𐑴𐑤
Name[en_CA]=Volume Control
Name[en_GB]=Volume Control
Name[es]=Control de volumen
Name[et]=Helitugevuse juhtija
Name[eu]=Bolumen-kontrola
Name[fa]=کنترل بلندی صدا
Name[fi]=Äänenvoimakkuuden hallinta
Name[fr]=Contrôleur de volume
Name[ga]=Rialtán Airde
Name[gl]=Control de volume
Name[gu]=અવાજનું પ્રમાણ નિયંત્રક
Name[he]=בקרת עצמה
Name[hi]=आवाज निर्धारक नियंत्रक
Name[hr]=Kontrola glasnoće
Name[hu]=Hangerőszabályzó
Name[id]=Pengatur Volume
Name[it]=Regolazione volume
Name[ja]=音量調節ツール
Name[ka]=ხმის კონტროლი
Name[kn]=ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=볼륨 조정
Name[ku]=Kontrolkirina Deng
Name[lt]=Garso valdymas
Name[lv]=Skaļuma kontrole
Name[mai]=आवाज निर्धारक
Name[mg]=Fanamafisam-peo
Name[mk]=Поставување на јачина на звукот
Name[ml]=ശബ്ദം ക്രമീകാരി
Name[mn]=Дууны хянагч
Name[mr]=ध्वनिमान नियंत्रण
Name[ms]=Kawalan Volum
Name[nb]=Volumkontroll
Name[nds]=Luutstärkenoppasser
Name[ne]=भोल्युम नियन्त्रण
Name[nl]=Volumeregeling
Name[nn]=Volumkontroll
Name[oc]=Contraròtle de volum
Name[or]=ଧ୍ବନି ପ୍ରବଳତା ନିୟନ୍ତ୍ରକ
Name[pa]=ਆਵਾਜ਼ ਕੰਟਰੋਲ
Name[pl]=Regulacja głośności
Name[pt]=Controlo de Volume
Name[pt_BR]=Controle de volume
Name[ro]=Control volum
Name[ru]=Регулятор громкости
Name[si]=හඬ පාලකය
Name[sk]=Ovládanie hlasitosti
Name[sl]=Nadzor glasnosti
Name[sq]=Kontrolli i volumit
Name[sr]=Управљање звуком
Name[sr@latin]=Upravljanje zvukom
Name[sv]=Volymkontroll
Name[ta]=ஒலிவளவு கட்டுப்பாடு
Name[te]=వాల్యూమ్ నియంత్రిక
Name[th]=ความดังเสียง
Name[tk]=Hejim Kontroli
Name[tr]=Ses Kontrolü
Name[ug]=ئاۋاز تىزگىنى
Name[uk]=Регулятор гучності
Name[vi]=Điều khiển Âm lượng
Name[wa]=Contrôle do volume
Name[xh]=Ulawulo lweSandi
Name[zh_CN]=音量控制
Name[zh_HK]=音量控制
Name[zh_TW]=音量控制
Comment=Change sound volume and sound events
Comment[af]=Verander klankvolume en klankgebeure
Comment[ar]=غيّر شدة الصوت و أصوات الأحداث
Comment[as]=শব্দৰ মাত্ৰা o নিৰ্দিষ্ট ঘটনাৰ সৈতে যুক্ত শব্দ পৰিবৰ্তন কৰক
Comment[ast]=Camudar el volume del soníu y los eventos de soníu
Comment[bg]=Промяна на силата на звука и звуците свързани със събития
Comment[bn]=ভলিউম পরিবর্তন করুন ও নির্দিষ্ট ঘটনার সাথে শব্দ যুক্ত করুন
Comment[bn_IN]=শব্দের মাত্রা o নির্দিষ্ট ঘটনার সাথে যুক্ত শব্দ পরিবর্তন করুন
Comment[ca]=Canvieu el volum del so i els sons dels esdeveniments
Comment[ca@valencia]=Canvieu el volum del so i els sons dels esdeveniments
Comment[cs]=Změní hlasitost zvuku a přiřadí zvuky k událostem
Comment[da]=Skift lydstyrke og lydbegivenheder
Comment[de]=Lautstärke ändern und Ereignissen Klänge zuweisen
Comment[el]=Αλλαγή έντασης ήχου και ηχητικών γεγονότων
Comment[en@shaw]=𐑗𐑱𐑯𐑡 𐑕𐑬𐑯𐑛 𐑝𐑪𐑤𐑿𐑥 𐑯 𐑕𐑬𐑯𐑛 𐑦𐑝𐑧𐑯𐑑𐑕
Comment[en_GB]=Change sound volume and sound events
Comment[es]=Cambiar el volumen y los eventos de sonido
Comment[et]=Helivaljuse muutmine ja helide määramine sündmustele
Comment[eu]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[fi]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fr]=Modifier le volume et des événements sonores
Comment[ga]=Athraigh airde agus teagmhais fuaime
Comment[gl]=Modificar o volume do son e asociar sons a eventos
Comment[gu]=સાઉન્ડ વોલ્યુમ અને સાઉન્ડ ઘટનાઓને બદલો
Comment[he]=שינוי עצמת השמע והצלילים המשויכים לאירועים
Comment[hi]=ध्वनि आवाज और ध्वनि घटना बदलें
Comment[hu]=Hangerő és hangesemények módosítása
Comment[id]=Ubah volume suara dan peristiwa suara
Comment[it]=Regola il volume dei suoni e i suoni associati agli eventi
Comment[ja]=音量や音のイベントを変更します
Comment[kn]=ಧ್ವನಿಯ ಪ್ರಮಾಣ ಹಾಗು ಧ್ವನಿಗಳನ್ನು ಸನ್ನಿವೇಶಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사운드 볼륨과 사운드 이벤트를 바꿉니다
Comment[lt]=Keisti garsumą ir susieti garsus su įvykiais
Comment[lv]=Mainīt skaņas līmeni un skaņas dažādiem notikumiem
Comment[ml]=ശബ്ദ വോള്യമും ശബ്ദ ഇവന്റുകളും മാറ്റുക
Comment[mr]=आवाज ध्वनिमान व आवाज घटना बदलवा
Comment[nb]=Endre volum og tilegne lyder til hendelser
Comment[nl]=Geluidsvolume en systeemgeluiden aanpassen
Comment[nn]=Endra lydvolum og lydar til hendingar
Comment[or]=ଧ୍ୱନି ପ୍ରବଳତା ଏବଂ ଧ୍ୱନି ଘଟଣାଗୁଡ଼ିକ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਵਾਲੀਅਮ ਅਤੇ ਸਾਊਂਡ ਈਵੈਂਟ ਬਦਲੋ
Comment[pl]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pt]=Altere o volume do som e os sons de eventos
Comment[pt_BR]=Alterar volume do áudio e sons de eventos
Comment[ro]=Schimbă volumul sunetului și sunetele evenimentelor
Comment[ru]=Изменить громкость звука и связать звуки с событиями рабочего стола
Comment[sl]=Spreminjanje glasnosti zvoka in povezljivost z dogodki
Comment[sr]=Мења јачину звука и додељује звуке догађајима
Comment[sr@latin]=Menja jačinu zvuka i dodeljuje zvuke događajima
Comment[sv]=Ändra ljudvolym och ljudhändelser
Comment[ta]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[te]=శబ్దపు ఘటనలను మరియు శబ్ధపు ధ్వనిని మార్చుము
Comment[th]=ปรับความดังของเสียงและตั้งเสียงของเหตุการณ์ต่างๆ
Comment[tr]=Ses seviyesini ve olay seslerini değiştir
Comment[ug]=ئاۋاز مىقدارى ۋە ئاۋاز ھادىسىسى ئۆزگەرت
Comment[uk]=Зміна гучності звуку та прив'язка звуків до подій
Comment[zh_CN]=更改音量以及将声音与事件关联
Comment[zh_HK]=改變音效的音量和音效事件
Comment[zh_TW]=改變音效的音量和音效事件
Exec=gnome-volume-control-pre
Icon=multimedia-volume-control
StartupNotify=true
X-Info=Gnome Mixer
Terminal=false
Type=Application
Categories=GNOME;GTK;Audio;Settings;HardwareSettings;
X-GNOME-DocPath=gst-mixer/gnome-volume-control.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gnome-volume-control
X-GNOME-Bugzilla-Version=2.32.0
