[Desktop Entry]
Encoding=UTF-8
Name=Bluetooth File Sharing
Name[be]=Доступу да файлаў праз Bluetooth
Name[bg]=Споделяне на файлове по Bluetooth
Name[ca]=Compartició de fitxers amb Bluetooth
Name[cs]=Sdílení souborů přes Bluetooth
Name[da]=Bluetooth fildeling
Name[de]=Bluetooth-Dateiverteilung
Name[dz]=བུ་ལུ་ཊུཐ་ཡིག་སྣོད་རུབ་སྤྱོད།
Name[el]=Κοινή χρήση αρχείων μέσω Bluetooth
Name[en_CA]=Bluetooth File Sharing
Name[en_GB]=Bluetooth File Sharing
Name[es]=Compartición de archivos por Bluetooth
Name[fi]=Bluetoothin tiedostojenjako
Name[fr]=Partage de fichiers Bluetooth
Name[gl]=Compartir ficheiros por Bluetooth
Name[hu]=Bluetooth fájlmegosztás
Name[it]=Condivisione file Bluetooth
Name[ja]=Bluetooth ファイル共有
Name[lv]=Bluetooth failu koplietošana
Name[mk]=Делење на податоци преку Bluetooth
Name[nb]=Fildeling av Bluetooth
Name[ne]=ब्लुटुथ फाइल साझेदारी
Name[nl]=Bestanden delen met Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਸਾਂਝ
Name[pl]=Współdzielenie plików przez Bluetooth
Name[pt]=Partilha de Ficheiros Bluetooth
Name[pt_BR]=Compartilhamento de Arquivos via Bluetooth
Name[ru]=Общий доступ к файлам по Bluetooth
Name[sl]=Bluetooth skupne datoteke
Name[sv]=Fildelning över blåtand
Name[uk]=Спільний доступ до файлів через Bluetooth
Name[vi]=Chia sẻ tập tin Bluetooth
Name[zh_CN]=蓝牙文件共享
Name[zh_HK]=藍芽檔案分享
Name[zh_TW]=藍芽檔案分享
Comment=Receive files sent by Bluetooth devices
Comment[be]=Атрыманьне файлаў дасланых праз Bluetooth
Comment[bg]=Получаване на файлове изпратени от blueetooth устройства
Comment[ca]=Rep fitxers enviats per dispositius Bluetooth
Comment[cs]=Přijímat soubory odesílané zařízeními Bluetooth
Comment[da]=Modtag filer sendt af Bluetooth-enheder
Comment[de]=Empfangen von Dateien die von einem Bluetooth-Gerät gesendet werden
Comment[dz]=བུ་ལུ་ཊུཐ་ཐབས་འཕྲུལ་གིས་གཏང་བའི་ཡིག་སྣོད་ཚུ་ལེན།
Comment[el]=Λήψη αρχείων σταλμένων από συσκευές Bluetooth
Comment[en_CA]=Receive files sent by Bluetooth devices
Comment[en_GB]=Receive files sent by Bluetooth devices
Comment[es]=Recibir archivos enviados por dispositivos Bluetooth
Comment[fi]=Vastaanota bluetooth-laitteiden lähettämiä tiedostoja
Comment[fr]=Reçoit des fichiers de périphériques Bluetooth
Comment[gl]=Recibir ficheiros enviados por dispositivos Bluetooth
Comment[hu]=Bluetooth eszközök által küldött fájlok fogadása
Comment[it]=Ricezione file inviati da dispositivi Bluetooth
Comment[ja]=Bluetooth デバイスが送信したファイルを受信します
Comment[lv]=Saņemt Bluetooth ierīču sūtītos failus
Comment[mk]=Примај датотеки испратени од Bluetooth уреди
Comment[nb]=Motta filer sendt av Bluetooth-enheter
Comment[ne]=ब्लुटुथ यन्त्रहरू द्वारा पठाएका फाइलहरू प्राप्त गर्नुहोस्
Comment[nl]=Bestanden ontvangen verstuurd door Bluetooth-apparaten
Comment[pa]=ਪ੍ਰਾਪਤ ਫਾਇਲਾਂ ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਨੇ ਭੇਜੀਆਂ ਹਨ
Comment[pl]=Odbierz pliki wysyłane przez urządzenia Bluetooth
Comment[pt]=Receber ficheiros enviados por dispositivos Bluetooth
Comment[pt_BR]=Receba arquivos enviados por dispositivos Bluetooth
Comment[ru]=Принимает файлы, отправленные устройствами Bluetooth
Comment[sl]=Sprejemanje datotek poslanih preko Bluetooth naprav
Comment[sv]=Ta emot filer som skickas av blåtandsenheter
Comment[uk]=Отримання файлів надісланих через Bluetooth
Comment[vi]=Nhận tập tin mà thiết bị Bluetooth đã gởi.
Comment[zh_CN]=接收由蓝牙设备发送的文件
Comment[zh_HK]=接收自藍芽裝置的檔案
Comment[zh_TW]=接收自藍芽裝置的檔案
Icon=blueradio-48
Exec=gnome-obex-server
Terminal=false
Type=Application
Categories=Application;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=obex-server
