[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GNOME PPP
Comment=GNOME Dialup Tool
Exec=gnome-ppp
Icon=gnome-ppp.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
NoDisplay=true
