[Desktop Entry]
Name=System Profiler and Benchmark
Name[az]=Sistem Profiler və Benchmark
Name[bg]=System Profiler и Benchmark
Name[bn]=সিস্টেম প্রোফাইলার এবং বেঞ্চমার্ক
Name[ca]=Perfil del sistema i benchmark
Name[cs]=System Profiler a Benchmark
Name[da]=Systemprofil og benchmark
Name[de]=System-Profiler und Benchmark
Name[el]=Προφίλ συστήματος και σημείο αναφοράς
Name[eo]=Sistema Profililo kaj Kompartesto
Name[es]=System Profiler y Benchmark
Name[et]=Süsteemiprofiil ja etalon
Name[fi]=System Profiler ja Benchmark
Name[fr]=Profileur de système et Benchmark
Name[hi]=सिस्टम प्रोफाइलर और बेंचमार्क
Name[hr]=System Profiler i Benchmark
Name[hu]=Rendszerprofil és benchmark
Name[id]=Profiler Sistem dan Tolok Ukur
Name[it]=System Profiler e benchmark
Name[ja]=システム プロファイラーとベンチマーク
Name[ko]=시스템 프로파일러 및 벤치마크
Name[lt]=Sistemos profilierius ir etalonas
Name[lv]=Sistēmas profilētājs un etalons
Name[ms]=Pemprofil Sistem dan Penanda Aras
Name[nb]=Systemprofil og benchmark
Name[nl]=Systeemprofiel en benchmark
Name[no]=Systemprofil og benchmark
Name[pl]=Profil systemu i test porównawczy
Name[pt]=Perfil do Sistema e Benchmark
Name[ro]=Sistem Profiler și Benchmark
Name[sk]=System Profiler a Benchmark
Name[sl]=System Profiler in Benchmark
Name[sr]=Систем Профилер и Бенцхмарк
Name[sv]=Systemprofiler och benchmark
Name[te]=సిస్టమ్ ప్రొఫైలర్ మరియు బెంచ్మార్క్
Name[tl]=System Profiler at Benchmark
Name[tr]=Sistem Profilcisi ve Kıyaslama
Name[uk]=Системний профайлер і тест
Name[vi]=Hồ sơ hệ thống và điểm chuẩn
Name[zh]=系统分析器和基准
Exec=hardinfo
Icon=/usr/share/hardinfo/pixmaps/logo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Monitor;

