[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Hour configurator
Name[zh]=小时配置器
Name[az]=Saat konfiquratoru
Name[bg]=Часовник конфигуратор
Name[bn]=ঘন্টা কনফিগারেটর
Name[ca]=Configuració horària
Name[cs]=Hodinový konfigurátor
Name[da]=Timekonfigurator
Name[de]=Stundenkonfigurator
Name[el]=Ρυθμιστής ώρας
Name[eo]=Horo agordo
Name[es]=Configurador de hora
Name[et]=Tundi konfigureerija
Name[fi]=Tunnin konfiguroija
Name[fr]=Configurateur d'heure
Name[hi]=घंटा विन्यासकर्ता
Name[hr]=Konfigurator sati
Name[hu]=Óra konfigurátor
Name[id]=Configurator jam
Name[it]=Configuratore orario
Name[ja]=時間コンフィギュレータ
Name[ko]=시간 구성자
Name[lt]=Valandos konfigūratorius
Name[lv]=Stundu konfigurators
Name[ms]=Konfigurasi jam
Name[nb]=Timekonfigurator
Name[nl]=Uurconfigurator
Name[no]=Timekonfigurator
Name[pl]=Konfigurator godzin
Name[pt]=Configurador de horas
Name[ro]=Configurator oră
Name[sk]=Konfigurátor hodín
Name[sl]=Ura konfigurator
Name[sr]=Хоур цонфигуратор
Name[sv]=Timkonfigurator
Name[te]=గంట ఆకృతీకరణ
Name[tl]=Oras configurator
Name[tr]=Saat yapılandırıcı
Name[uk]=Конфігуратор години
Name[vi]=Cấu hình giờ
GenericName=Timezones
GenericName[zh]=时区
GenericName[az]=Saat dilimləri
GenericName[bg]=Времеви зони
GenericName[bn]=সময়ের অঞ্চলগুলোকে
GenericName[ca]=Zones horàries
GenericName[cs]=Časová pásma
GenericName[da]=Tidszoner
GenericName[de]=Zeitzonen
GenericName[el]=Ζώνες ώρας
GenericName[eo]=Piedoj
GenericName[es]=Zonas horarias
GenericName[et]=Ajatsoonid
GenericName[fi]=Aikavyöhykkeet
GenericName[fr]=Fuseaux horaires
GenericName[hi]=समय क्षेत्र
GenericName[hr]=Vremenske zone
GenericName[hu]=Időzónák
GenericName[id]=Zona waktu
GenericName[it]=Fusi orari
GenericName[ja]=時間帯
GenericName[ko]=시간대
GenericName[lt]=Laiko juostos
GenericName[lv]=Laika zonas
GenericName[ms]=Timezones
GenericName[nb]=Tidssoner
GenericName[nl]=Tijdzones
GenericName[no]=Tidssoner
GenericName[pl]=Strefy czasowe
GenericName[pt]=Fusos horários
GenericName[ro]=Fusuri orare
GenericName[sk]=Časové pásma
GenericName[sl]=Časovni pasovi
GenericName[sr]=Временске зоне
GenericName[sv]=Tidszoner
GenericName[te]=లను
GenericName[tl]=Timezones
GenericName[tr]=Zaman dilimleri
GenericName[uk]=Часові зони
GenericName[vi]=Múi giờ
Icon=appointment
Exec=gksu dpkg-reconfigure tzdata
Terminal=true
Categories=System;Settings;
