[Desktop Entry]
Name=Icedove -> Thunderbird
Name[zh]=冰鸽 ->雷鸟
Comment=Read/Write Mail/News with Thunderbird
GenericName=Mail Client
TryExec=/usr/bin/icedove
Exec=/usr/bin/icedove %u
Terminal=false
X-MultipleArgs=false
Type=Application
Version=1.0
Icon=thunderbird
# Don't show up this (transitional) desktop file in the Categories.
#Categories=Network;Email;News;GTK;
# Also don't associate Icedove with the MIME types.
#MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/x-vcard;
StartupWMClass=Thunderbird
StartupNotify=true
# don't show Icedove since we switched back to thunderbird

NoDisplay=true
OnlyShowIn=Unity;

