[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Khan Academy
Categories=Education;WebApp
StartupNotify=true
#NoDisplay=false
Icon=kedit
Exec=web-launcher --app=https://www.khanacademy.org
