[Desktop Entry]
Name=Klavaro
Comment=Yet another touch typing tutor
Comment[az]=Təcrübə yazan başqa bir toxunuş
Comment[bg]=Още един допир учител пишете
Comment[ca]=Un altre tutor de mecanografia de tocs
Comment[el]=Ακόμα ένας δάσκαλος πληκτρολογώντας το δάχτυλό σας
Comment[et]=Veel üks puutepõhine juhendaja
Comment[fi]=Vielä toinen kosketustyön ohjaaja
Comment[hi]=फिर भी एक टच टाइपिंग ट्यूटर
Comment[hr]=Još jedan dodirni tutor za tipkanje
Comment[id]=Namun, tutor mengetik mengetik lainnya
Comment[ja]=さらに別のタッチタイピングチューター
Comment[ko]=또 다른 터치 타이핑 튜터
Comment[lt]=Dar vienas liepsnimas rašant mokytoją
Comment[lv]=Vēl viens pieskārienu rakstīšanas skolotājs
Comment[ms]=Satu lagi tutor menaip sentuhan
Comment[no]=Enda en annen berøringstrykker
Comment[pt]=Mais um tutor táctil
Comment[ro]=Cu toate acestea, un alt tutore tastând tutore
Comment[sk]=Ešte ďalší učiteľ dotykového písania
Comment[sl]=Še en tip tipkanje mentorja
Comment[sr]=Још један савјетник за куцање на додир
Comment[te]=మరో టచ్ టైపింగ్ శిక్షకుడు
Comment[tl]=Ngunit isa pang touch-type tutor
Comment[tr]=Yine başka bir dokunmatik öğretmen
Comment[ar]=جولة تعليم طباعة أخرى جديدة
Comment[bn]=আরেকটি স্পর্শ টাইপিং শিক্ষক
Comment[cs]=Jeden z dalších programů pro výuku psaní na stroji
Comment[da]=Endnu et værktøj til øvelse af maskinskrivning
Comment[de]=Ein weiteres Programm zum Erlernen des Tastschreibens
Comment[eo]=Plia instruilo por tajpado
Comment[es]=Simplemente un tutor más de mecanografía
Comment[eu]=Beste tutore automatiko bat ukitze-mekanografia ikasten laguntzeko
Comment[fr]=Un logiciel d'apprentissage de la dactylographie
Comment[gl]=Simplemente un titor máis de mecanografía
Comment[hu]=Ingyenes és szabad gépírásoktató program
Comment[it]=Un altro programma per imparare ad usare la tastiera
Comment[kk]=Тағы да бір теруді үйретуші
Comment[nb]=Enda et verktøy til å øve maskinskrivning
Comment[nl]=voor het leren van blind typen
Comment[pl]=Jeszcze jeden samouczek szybkiego pisania
Comment[pt_BR]=Tutorial para digitação gratuito
Comment[ru]=Ещё один клавиатурный тренажёр
Comment[sv]=Ännu en tangentbords tränare
Comment[uk]=Ще одна програма для навчання набору наосліп
Comment[ur]=ایک اور لمسی ٹائپنگ اتالیق
Comment[vi]=Vẫn còn một chương trình học gõ bàn phím máy tính
Comment[zh_CN]=就是另一个盲打训练的家庭教师
GenericName=Fast keyboard typing trainer
GenericName[az]=Tez klaviatura yazaraq məşqçi
GenericName[bg]=Бърз инструктор за набиране на клавиатури
GenericName[bn]=দ্রুত কীবোর্ড টাইপিং প্রশিক্ষক
GenericName[ca]=Entrenador de teclat ràpid
GenericName[cs]=Rychlý trenažér pro psaní klávesnic
GenericName[da]=Hurtig tastatur typing træner
GenericName[de]=Schneller Tastatureingabetrainer
GenericName[el]=Γρήγορος εκπαιδευτής πληκτρολογίου πληκτρολογίου
GenericName[eo]=Rapida klavara tajptrejnilo
GenericName[es]=Entrenador de mecanografía de teclado rápido
GenericName[et]=Kiire klaviatuuri trükkimise treener
GenericName[fi]=Nopea näppäimistö-kirjoitinohjaaja
GenericName[fr]=Entraîneur de frappe rapide du clavier
GenericName[hi]=फास्ट कीबोर्ड टाइपिंग ट्रेनर
GenericName[hr]=Brzi tipkovnički trener tipkovnice
GenericName[hu]=Gyors billentyűzet gépelés tréner
GenericName[id]=Cepat mengetik keyboard pelatih
GenericName[it]=Trainer di digitazione rapida della tastiera
GenericName[ja]=ファストキーボードタイピングトレーナー
GenericName[ko]=빠른 키보드 타이핑 트레이너
GenericName[lt]=Greitas klaviatūros rašymo treniruoklis
GenericName[lv]=Ātri tastatūras ierakstīšanas treneris
GenericName[ms]=Jurulatih menaip keyboard cepat
GenericName[nb]=Rask tastatur typing trener
GenericName[nl]=Snelle toetsenbordtypertrainer
GenericName[no]=Rask tastatur typing trener
GenericName[pl]=Szybki trener pisania na klawiaturze
GenericName[pt]=Treinador de digitação de teclado rápido
GenericName[ro]=Tastatură rapidă de tastare
GenericName[sk]=Rýchle písanie klávesnice tréner
GenericName[sl]=Hitri tipkalni učitelj
GenericName[sr]=Брза тастатура за куцање на тастатури
GenericName[sv]=Snabbt tangentbordstyptrainer
GenericName[te]=ఫాస్ట్ కీబోర్డ్ టైపింగ్ శిక్షణ
GenericName[tl]=Mabilis na keyboard type trainer
GenericName[tr]=Hızlı klavye yazma eğitmeni
GenericName[uk]=Швидкий набір клавіатурних тренажерів
GenericName[vi]=Kỹ năng đánh máy gõ nhanh
TryExec=klavaro
Exec=klavaro
Icon=klavaro
Terminal=false
Type=Application
Categories=Education;GTK;
StartupNotify=true
