[Desktop Entry]
Type=Application
Name=Links2
GenericName=Extremely light simple web browser
GenericName[az]=Çox yüngül sadə web browser
GenericName[bg]=Изключително лек прост уеб браузър
GenericName[bn]=অত্যন্ত হালকা সহজ ওয়েব ব্রাউজার
GenericName[ca]=Navegador web extremadament lleuger
GenericName[cs]=Extrémně lehký jednoduchý webový prohlížeč
GenericName[da]=Ekstremt let enkel webbrowser
GenericName[de]=Extrem leichter einfacher Webbrowser
GenericName[el]=Εξαιρετικά ελαφρύ απλό πρόγραμμα περιήγησης ιστού
GenericName[eo]=Ekstreme malpeza kaj simpla grafika retumilo
GenericName[es]=Navegador web simple extremadamente ligero
GenericName[et]=Äärmiselt lihtne veebibrauser
GenericName[fi]=Erittäin kevyt yksinkertainen web-selain
GenericName[fr]=Navigateur web extrêmement léger
GenericName[hi]=बेहद हल्का सरल वेब ब्राउज़र
GenericName[hr]=Izuzetno lagan jednostavan web preglednik
GenericName[hu]=Rendkívül könnyű egyszerű böngésző
GenericName[id]=Sangat sederhana web browser sederhana
GenericName[it]=Estremamente leggero browser web semplice
GenericName[ja]=非常に軽いシンプルなWebブラウザ
GenericName[ko]=매우 가벼운 간단한 웹 브라우저
GenericName[lt]=Labai lengva paprasta naršyklė
GenericName[lv]=Ļoti vienkāršs tīmekļa pārlūks
GenericName[ms]=Sangat ringan penyemak imbas web mudah
GenericName[nb]=Ekstremt lett enkel nettleser
GenericName[nl]=Extreem lichte, eenvoudige webbrowser
GenericName[no]=Ekstremt lett enkel nettleser
GenericName[pl]=Niezwykle lekka prosta przeglądarka internetowa
GenericName[pt]=Navegador web simples e extremamente leve
GenericName[ro]=Excelent ușor browser web simplu
GenericName[sk]=Extrémne ľahký jednoduchý webový prehliadač
GenericName[sl]=Izjemno preprost spletni brskalnik
GenericName[sr]=Изузетно лаган једноставан веб прегледач
GenericName[sv]=Extremt lätt enkel webbläsare
GenericName[te]=చాలా తేలికైన సాధారణ వెబ్ బ్రౌజర్
GenericName[tl]=Lubhang magaan ang simpleng web browser
GenericName[tr]=Son derece hafif basit web tarayıcısı
GenericName[uk]=Надзвичайно легкий простий веб-браузер
GenericName[vi]=Vô cùng ánh sáng đơn giản trình duyệt web
Comment=Web browser running in both graphics and text mode
Comment[az]=Həm qrafika, həm də mətn rejimi ilə çalışan veb brauzer
Comment[bg]=Уеб браузър, работещ в графичен и текстов режим
Comment[bn]=ওয়েব ব্রাউজার উভয় গ্রাফিক্স এবং টেক্সট মোডে চলমান
Comment[ca]=Navegador web que s'executa tant en gràfics com en mode de text
Comment[cs]=Webový prohlížeč běží v grafickém i textovém režimu
Comment[da]=Webbrowser kører i både grafik og tekst-tilstand
Comment[de]=Webbrowser läuft sowohl im Grafik- als auch im Textmodus
Comment[el]=Το πρόγραμμα περιήγησης στο Web εκτελείται τόσο σε λειτουργία γραφικών όσο και σε κείμενο
Comment[eo]=Retumilo funkcianta kaj en grafika kaj en teksta reĝimo
Comment[es]=Navegador web que se ejecuta en modo de gráficos y texto
Comment[et]=Veebibrauser töötab nii graafiliselt kui ka tekstrežiimis
Comment[fi]=Web-selain toimii sekä grafiikka- että tekstimuodossa
Comment[fr]=Navigateur Web fonctionnant en mode graphique et en mode texte
Comment[hi]=ग्राफिक्स और टेक्स्ट मोड दोनों में चलने वाला वेब ब्राउज़र
Comment[hr]=Web preglednik koji se izvodi u grafičkom i tekstnom načinu rada
Comment[hu]=A webböngésző grafikus és szöveges üzemmódban is fut
Comment[id]=Browser web berjalan dalam mode grafis dan teks
Comment[it]=Il browser Web è in esecuzione in modalità grafica e testo
Comment[ja]=グラフィックスモードとテキストモードの両方で動作するWebブラウザ
Comment[ko]=그래픽 및 텍스트 모드로 실행되는 웹 브라우저
Comment[lt]=Interneto naršyklė, veikianti grafine ir teksto režimu
Comment[lv]=Tīmekļa pārlūkprogramma darbojas gan grafiskā, gan teksta režīmā
Comment[ms]=Penyemak imbas web berjalan dalam kedua-dua grafik dan mod teks
Comment[nb]=Nettleser som kjører i både grafikk og tekstmodus
Comment[nl]=Webbrowser in grafische en tekstmodus
Comment[no]=Nettleser som kjører i både grafikk og tekstmodus
Comment[pl]=Przeglądarka internetowa działa zarówno w trybie graficznym, jak i tekstowym
Comment[pt]=Navegador da Web em execução em modo gráfico e de texto
Comment[ro]=Browser web care rulează atât în ​​modul grafic, cât și în modul text
Comment[sk]=Webový prehliadač beží v grafickom aj textovom režime
Comment[sl]=Spletni brskalnik deluje tako v grafičnem kot v besedilnem načinu
Comment[sr]=Веб прегледач који се покреће иу графичком и текстуалном режиму
Comment[sv]=Webbläsaren körs i både grafik och textläge
Comment[te]=వెబ్ బ్రౌజర్ రెండు గ్రాఫిక్స్ మరియు టెక్స్ట్ రీతిలో నడుస్తుంది
Comment[tl]=Ang browser na tumatakbo sa parehong graphics at mode ng teksto
Comment[tr]=Hem grafik hem de metin modunda çalışan Web tarayıcısı
Comment[uk]=Веб-браузер працює як у графічному, так і в текстовому режимі
Comment[vi]=Trình duyệt Web chạy ở cả chế độ đồ hoạ và văn bản
Comment[pt_BR]=Navegador web que funciona tanto no modo texto como no modo gráfico
TryExec=xlinks2
Exec=xlinks2
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
