[Desktop Entry]
Type=Application
Name=LRF Viewer
Name[zh]=LRF 查看器
Name[az]=LRF Görüntüleyicisi
Name[bg]=LRF Viewer
Name[bn]=এলআরএফ ভিউয়ার
Name[ca]=Visor LRF
Name[cs]=Prohlížeč LRF
Name[da]=LRF Viewer
Name[de]=LRF-Viewer
Name[el]=Προβολέας LRF
Name[eo]=LRF-Vidigilo
Name[es]=Visor LRF
Name[et]=LRF vaataja
Name[fi]=LRF Viewer
Name[fr]=Visionneuse LRF
Name[hi]=एलआरएफ व्यूअर
Name[hr]=LRF preglednik
Name[hu]=LRF Viewer
Name[id]=Penampil LRF
Name[it]=Visualizzatore LRF
Name[ja]=LRFビューア
Name[ko]=LRF 뷰어
Name[lt]=LRF žiūrovas
Name[lv]=LRF skatītājs
Name[ms]=Pemapar LRF
Name[nb]=LRF Viewer
Name[nl]=LRF-kijker
Name[no]=LRF Viewer
Name[pl]=Przeglądarka LRF
Name[pt]=Visualizador LRF
Name[ro]=Vizualizator LRF
Name[sk]=Prehliadač LRF
Name[sl]=Pregledovalnik LRF
Name[sr]=ЛРФ Виевер
Name[sv]=LRF Viewer
Name[te]=LRF వ్యూయర్
Name[tl]=LRF Viewer
Name[tr]=LRF Görüntüleyici
Name[uk]=Переглядач LRF
Name[vi]=Trình xem LRF
Comment=Viewer for LRF files (SONY ebook format files)
Comment[zh]=LRF 文件查看器（SONY 电子书格式文件）
Comment[az]=LRF faylları üçün görüntüleyici (SONY ebook formatlı fayllar)
Comment[bg]=Преглед на LRF файлове (файлове във формат SONY ebook)
Comment[bn]=এলআরএফ ফাইলের জন্য ভিউয়ার (সনি ইবুক ফরম্যাট ফাইল)
Comment[ca]=Visor de fitxers LRF (fitxers en format ebook SONY)
Comment[cs]=Prohlížeč souborů LRF (soubory formátu e -knih SONY)
Comment[da]=Viewer til LRF -filer (SONY ebook -formatfiler)
Comment[de]=Viewer für LRF-Dateien (Dateien im SONY-E-Book-Format)
Comment[el]=Προβολή για αρχεία LRF (αρχεία μορφής ebook SONY)
Comment[eo]=Vidilo por LRF-dosieroj (SONY-ebook-formataj dosieroj)
Comment[es]=Visor de archivos LRF (archivos de formato de libro electrónico de SONY)
Comment[et]=LRF -failide vaataja (SONY e -raamatu vormingus failid)
Comment[fi]=LRF -tiedostojen katseluohjelma (SONY -e -kirjatiedostot)
Comment[fr]=Visionneuse de fichiers LRF (fichiers au format ebook SONY)
Comment[hi]=एलआरएफ फाइलों के लिए दर्शक (सोनी ईबुक प्रारूप फाइलें)
Comment[hr]=Preglednik datoteka LRF (datoteke formata SONY ebook)
Comment[hu]=Megtekintő LRF fájlokhoz (SONY ebook formátumú fájlok)
Comment[id]=Penampil untuk file LRF (file format ebook SONY)
Comment[it]=Visualizzatore per file LRF (file in formato ebook SONY)
Comment[ja]=LRFファイル（SONY電子ブック形式ファイル）のビューア
Comment[ko]=LRF 파일용 뷰어(SONY 전자책 형식 파일)
Comment[lt]=LRF failų peržiūros priemonė („SONY ebook“ formato failai)
Comment[lv]=LRF failu skatītājs (SONY ebook formāta faili)
Comment[ms]=Viewer untuk fail LRF (fail format ebook SONY)
Comment[nb]=Viewer for LRF -filer (SONY ebook -formatfiler)
Comment[nl]=Viewer voor LRF-bestanden (SONY-bestanden in e-boekformaat)
Comment[no]=Viewer for LRF -filer (SONY ebook -formatfiler)
Comment[pl]=Przeglądarka plików LRF (pliki w formacie SONY ebook)
Comment[pt]=Visualizador para arquivos LRF (arquivos de formato de e-book SONY)
Comment[ro]=Vizualizator pentru fișiere LRF (fișiere în format ebook SONY)
Comment[sk]=Prehliadač súborov LRF (súbory formátu eBook SONY)
Comment[sl]=Pregledovalnik datotek LRF (datoteke formata SONY ebook)
Comment[sr]=Прегледник ЛРФ датотека (датотеке формата СОНИ ебоок)
Comment[sv]=Viewer för LRF -filer (SONY -filer i e -bokformat)
Comment[te]=LRF ఫైల్స్ కోసం వీక్షకుడు (SONY ఈబుక్ ఫార్మాట్ ఫైల్స్)
Comment[tl]=Viewer para sa mga LRF file (mga file ng format ng ebook ng SONY)
Comment[tr]=LRF dosyaları için görüntüleyici (SONY e-kitap formatındaki dosyalar)
Comment[uk]=Переглядач файлів LRF (файли у форматі електронної книги SONY)
Comment[vi]=Trình xem tệp LRF (tệp định dạng sách điện tử SONY)
TryExec=lrfviewer
Exec=lrfviewer %F
Icon=calibre
MimeType=application/x-sony-bbeb;
Categories=Viewer;Office;
NoDisplay=true
