[Desktop Entry]
Type=Application
Name=Customize Look and Feel
Name[zh]=自定义外观
Name[az]=Baxış və hissləri fərdiləşdirin
Name[bn]=কাস্টমাইজ চেহারা এবং অনুভূতি
Name[ca]=Personalitza l’aspecte i la sensació
Name[eo]=Agordi Aspekton
Name[hi]=लुक और फील को कस्टमाइज़ करें
Name[lv]=Pielāgot izskatu
Name[ms]=Peribadikan Lihat dan Rasa
Name[nb]=Tilpass Look and Feel
Name[no]=Tilpass Look and Feel
Name[sk]=Prispôsobte vzhľad a dojem
Name[tl]=I-customize ang Look at Feel
Name[ar]=تخصيص المظهر و الإحساس
Name[be]=Настаўленні выгляду
Name[bg]=Персонализиране на Външния вид
Name[cs]=Upravit vzhled a chování
Name[da]=Tilpas udseende
Name[de]=Erscheinungsbild anpassen
Name[el]=Προσαρμογή εμφάνισης και αισθητικής
Name[en_GB]=Customise Look and Feel
Name[es]=Personalizar apariencia y comportamiento
Name[et]=Välimuse Kohandamine
Name[fa]=سفارشی سازی نما و شما
Name[fi]=Muokkaa ulkonäköä ja tuntumaa
Name[fo]=Tillaga útsjónd og kenslu
Name[fr]=Personnaliser l'apparence
Name[gl]=Personalizar a aparencia e o comportamento
Name[he]=התאמת המראה והתחושה
Name[hr]=Prilagođava izgled i dojam
Name[hu]=Megjelenés testreszabása
Name[id]=Ubah Tampilan dan Rasa
Name[it]=Personalizza Aspetto e Stile
Name[ja]=ルックアンドフィールを設定します
Name[kk]=Сыртқы түрін баптау
Name[ko]=겉보기를 조정합니다
Name[lg]=Tegeka eby'endabika n'enneyisa
Name[lt]=Derinti išvaizdą
Name[nl]=Uiterlijk en bediening aanpassen
Name[pa]=ਦਿੱਖ ਤੇ ਪਰਭਾਵ ਪਸੰਦ ਮੁਤਾਬਕ
Name[pl]=Preferencje wyglądu
Name[pt]=Personalizar aparência e comportamento
Name[pt_BR]=Personalizar visual
Name[ro]=Personalizați desktopul
Name[ru]=Настройка внешнего вида
Name[sl]=Videz in občutek
Name[sr]=Подешавања изгледа
Name[sr@latin]=Podešavanja izgleda
Name[sv]=Hantera utseende och beteende
Name[te]=రూపాన్ని మలచుకుని అనందించండి
Name[tr]=Görünümü Özelleştir
Name[tt_RU]=Тышкы кыяфәт
Name[ug]=كۆرۈنۈش ۋە تۇيغۇنى ئۆزلەشتۈرۈش
Name[uk]=Налаштувати вигляд і відображення
Name[vi]=Tùy chỉnh Giao diện
Name[zh_CN]=自定义外观和体验
Name[zh_TW]=自訂外觀風格
GenericName=Customize GTK theme, icons and fonts
GenericName[zh]=自定义 GTK 主题、图标和字体
GenericName[az]=GTK mövzusunu, nişanlar və şriftləri özelleştirin
GenericName[bg]=Персонализирайте темата, иконите и шрифтовете на GTK
GenericName[bn]=GTK থিম, আইকন এবং ফন্ট কাস্টমাইজ করুন
GenericName[ca]=Personalitzeu el tema, les icones i les fonts de GTK
GenericName[cs]=Vlastní GTK téma, ikony a fonty
GenericName[da]=Tilpas GTK tema, ikoner og skrifttyper
GenericName[de]=Passen Sie das GTK-Design, die Symbole und Schriftarten an
GenericName[el]=Προσαρμόστε το θέμα GTK, τα εικονίδια και τις γραμματοσειρές
GenericName[eo]=Agordi GTK-etoson, piktogramojn kaj tiparojn
GenericName[es]=Personaliza el tema GTK, iconos y fuentes
GenericName[et]=Kohanda GTK teemat, ikoone ja fonte
GenericName[fi]=Mukauta GTK-teema, kuvakkeet ja fontit
GenericName[fr]=Personnaliser le thème, les icônes et les polices GTK
GenericName[hi]=GTK थीम, आइकन और फोंट को कस्टमाइज़ करें
GenericName[hr]=Prilagodite GTK temu, ikone i fontove
GenericName[hu]=A GTK téma, ikonok és betűtípusok testreszabása
GenericName[id]=Kustomisasi tema, ikon, dan font GTK
GenericName[it]=Personalizza il tema, le icone e i caratteri GTK
GenericName[ja]=GTKテーマ、アイコン、フォントをカスタマイズする
GenericName[ko]=GTK 테마, 아이콘 및 글꼴 사용자 정의
GenericName[lt]=Tinkinkite GTK temą, piktogramas ir šriftus
GenericName[lv]=Pielāgojiet GTK tēmu, ikonas un fontus
GenericName[ms]=Sesuaikan tema GTK, ikon dan fon
GenericName[nb]=Tilpass GTK-tema, ikoner og skrifter
GenericName[nl]=Pas GTK-thema, pictogrammen en lettertypen aan
GenericName[no]=Tilpass GTK-tema, ikoner og skrifter
GenericName[pl]=Dostosuj motyw GTK, ikony i czcionki
GenericName[pt]=Personalize o tema, os ícones e as fontes do GTK
GenericName[ro]=Personalizați tema GTK, pictogramele și fonturile
GenericName[sk]=Prispôsobte si tému GTK, ikony a písma
GenericName[sl]=Prilagodite temo, ikone in pisave GTK
GenericName[sr]=Прилагодите ГТК тему, иконе и фонтове
GenericName[sv]=Anpassa GTK-tema, ikoner och teckensnitt
GenericName[te]=GTK థీమ్, చిహ్నాలు మరియు ఫాంట్లను అనుకూలీకరించండి
GenericName[tl]=I-customize ang GTK na tema, mga icon at mga font
GenericName[tr]=GTK temasını, simgeleri ve yazı tiplerini özelleştirme
GenericName[uk]=Налаштуйте тему, іконки та шрифти GTK
GenericName[vi]=Tùy chỉnh chủ đề, biểu tượng và phông chữ GTK
Comment=Customizes look and feel for GTK applications, fonts and icons
Comment[zh]=自定义 GTK 应用程序、字体和图标的外观
Comment[az]=GTK tətbiqləri, yazı tipləri və ikonları üçün görünüşünü və hisslərini özelleştirir
Comment[bg]=Персонализира изгледа и усещането за GTK приложения, шрифтове и икони
Comment[bn]=GTK অ্যাপ্লিকেশন, ফন্ট এবং আইকনের জন্য চেহারা এবং অনুভূতি কাস্টমাইজ করে
Comment[ca]=Personalitza l’aspecte i l’aparença de les aplicacions, fonts i icones GTK
Comment[cs]=Přizpůsobí vzhled a dojem pro GTK aplikace, fonty a ikony
Comment[da]=Tilpasser udseende og følelse for GTK-applikationer, skrifttyper og ikoner
Comment[de]=Passt Aussehen und Verhalten für GTK-Anwendungen, Schriftarten und Symbole an
Comment[el]=Προσαρμόζει την εμφάνιση και την αίσθηση για εφαρμογές GTK, γραμματοσειρές και εικονίδια
Comment[eo]=Agordas aspekton de GTK-aplikaĵoj, tiparoj kaj piktogramoj
Comment[es]=Personaliza la apariencia de las aplicaciones, fuentes e íconos GTK.
Comment[et]=Kohandab GTK rakenduste, fontide ja ikoonide välimust
Comment[fi]=Mukauttaa GTK-sovellusten, fonttien ja kuvakkeiden ulkoasua
Comment[fr]=Personnalise l'apparence des applications, des polices et des icônes GTK
Comment[hi]=GTK एप्लिकेशन, फोंट और आइकन के लिए लुक और महसूस को अनुकूलित करता है
Comment[hr]=Prilagođava izgled i dojam za GTK aplikacije, fontove i ikone
Comment[hu]=Testreszabja a GTK alkalmazások, betűtípusok és ikonok megjelenését
Comment[id]=Menyesuaikan tampilan dan nuansa untuk aplikasi, font, dan ikon GTK
Comment[it]=Personalizza l'aspetto grafico per le applicazioni GTK, i caratteri e le icone
Comment[ja]=GTKアプリケーション、フォント、およびアイコンの外観をカスタマイズする
Comment[ko]=GTK 응용 프로그램, 글꼴 및 아이콘의 모양 및 느낌을 사용자 정의합니다.
Comment[lt]=Tinkina GTK programų, šriftų ir piktogramų išvaizdą
Comment[lv]=Pielāgo GTK lietojumprogrammu, fontu un ikonu izskatu
Comment[ms]=Menyesuaikan rupa dan rasa untuk aplikasi GTK, fon dan ikon
Comment[nb]=Tilpasser utseende og følelse for GTK-applikasjoner, skrifter og ikoner
Comment[nl]=Het uiterlijk wordt aangepast voor GTK-toepassingen, lettertypen en pictogrammen
Comment[no]=Tilpasser utseende og følelse for GTK-applikasjoner, skrifter og ikoner
Comment[pl]=Dostosowuje wygląd i styl aplikacji GTK, czcionek i ikon
Comment[pt]=Personaliza a aparência dos aplicativos GTK, fontes e ícones
Comment[ro]=Personalizează aspectul pentru aplicațiile GTK, fonturile și pictogramele
Comment[sk]=Prispôsobuje vzhľad a vzhľad pre GTK aplikácie, fonty a ikony
Comment[sl]=Prilagodi videz in občutek za aplikacije, pisave in ikone GTK
Comment[sr]=Прилагођава изглед и осећај за ГТК апликације, фонтове и иконе
Comment[sv]=Anpassar utseende och känsla för GTK-applikationer, teckensnitt och ikoner
Comment[te]=GTK అప్లికేషన్లు, ఫాంట్లు మరియు చిహ్నాల కోసం రూపాన్ని మరియు అనుభూతిని అనుకూలీకరిస్తుంది
Comment[tl]=Nagbagay ng hitsura at pakiramdam para sa mga application, font at icon ng GTK
Comment[tr]=GTK uygulamaları, yazı tipleri ve simgeler için görünüm ve hissi kişiselleştirir
Comment[uk]=Налаштовує зовнішній вигляд додатків, шрифтів і піктограм GTK
Comment[vi]=Tùy chỉnh giao diện cho các ứng dụng, phông chữ và biểu tượng GTK
Icon=preferences-desktop-theme
Exec=lxappearance
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
