[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Mega
GenericName=Free storage in cloud
GenericName[az]=Buludda pulsuz saxlama
GenericName[bg]=Безплатно съхранение в облака
GenericName[bn]=ক্লাউডে বিনামূল্যে সঞ্চয়স্থান
GenericName[ca]=Emmagatzematge gratuït al núvol
GenericName[cs]=Volné úložiště v cloudu
GenericName[da]=Gratis opbevaring i skyen
GenericName[de]=Freier Speicher in der Cloud
GenericName[el]=Δωρεάν αποθήκευση στο σύννεφο
GenericName[en]=Free storage in cloud
GenericName[eo]=Senpaga stokado en nubo
GenericName[es]=Almacenamiento gratuito en la nube
GenericName[et]=Tasuta ladustamine pilves
GenericName[fi]=Ilmainen tallennus pilvessä
GenericName[fr]=Stockage gratuit dans le cloud
GenericName[hi]=क्लाउड में निशुल्क मेमोरी
GenericName[hr]=Besplatna pohrana u oblaku
GenericName[hu]=Ingyenes tárhely a felhőben
GenericName[id]=Penyimpanan gratis di awan
GenericName[it]=Stoccaggio gratuito nella nube
GenericName[ja]=クラウド内の無料ストレージ
GenericName[ko]=클라우드의 무료 저장 용량
GenericName[lt]=Nemokama saugykla debesyje
GenericName[lv]=Bezmaksas krātuve mākoņos
GenericName[ms]=Penyimpanan percuma di awan
GenericName[nb]=Gratis lagring i skyen
GenericName[nl]=Gratis opslag in de wolk
GenericName[no]=Gratis lagring i skyen
GenericName[pl]=Wolne miejsce w chmurze
GenericName[pt]=Armazenamento gratuito na nuvem
GenericName[ro]=Spațiu liber de stocare în nor
GenericName[sk]=Voľný úložný priestor v cloude
GenericName[sl]=Brezplačno shranjevanje v oblaku
GenericName[sr]=Слободно складиштење у облаку
GenericName[sv]=Fri lagring i molnet
GenericName[te]=మేఘంలో ఉచిత నిల్వ
GenericName[tl]=Libreng imbakan sa cloud
GenericName[tr]=Bulutta ücretsiz depolama
GenericName[uk]=Безкоштовне зберігання в хмарі
GenericName[vi]=Lưu trữ miễn phí trong đám mây
Categories=FileTransfer;WebApp
StartupNotify=true
NoDisplay=false
Icon=network
Exec=web-launcher --app=http://mega.co.nz
