[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Mind maps
Name[az]=Mind xəritələri
Name[bg]=Ум карти
Name[bn]=মন মানচিত্র
Name[ca]=Mapes mentals
Name[cs]=Myslové mapy
Name[da]=Mind maps
Name[de]=Gedächniskarten
Name[el]=Χάρτες μυαλού
Name[en]=Mind maps
Name[eo]=Mensaj mapoj
Name[es]=Mapas mentales
Name[et]=Mind kaardid
Name[fi]=Mielen kartat
Name[fr]=Les cartes mentales
Name[hi]=दिमागी मानचित्र
Name[hr]=Karte umova
Name[hu]=Mind térképek
Name[id]=Peta konsep
Name[it]=Mappe di mente
Name[ja]=マインドマップ
Name[ko]=마인드 맵
Name[lt]=Minčių žemėlapiai
Name[lv]=Mind kartes
Name[ms]=Peta fikiran
Name[nb]=Mind maps
Name[nl]=Mind maps
Name[no]=Mind maps
Name[pl]=Mapy umysłu
Name[pt]=Mapas mentais
Name[ro]=Harta hindurilor
Name[sk]=Mapy mysli
Name[sl]=Mind maps
Name[sr]=Минд карте
Name[sv]=Mind maps
Name[te]=మైండ్స్ మైండ్
Name[tl]=Mga mapa ng isip
Name[tr]=Zihin haritaları
Name[uk]=Карти розуму
Name[vi]=Sơ đồ tư duy
Categories=Utilities;FlowChart;Organizer
StartupNotify=true
NoDisplay=false
Icon=dia
Exec=web-launcher --app=http://my-mind.github.io
