[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MSDOS Games
Comment=Play online all the classic MSDOS games
Comment[az]=Bütün klassik MSDOS oyunlar oynayır
Comment[bg]=Играйте онлайн всички класически игри на MSDOS
Comment[bn]=সমস্ত ক্লাসিক MSDOS গেম খেলুন
Comment[ca]=Juga en línia tots els jocs clàssics de MS-DOS
Comment[cs]=Zahrajte si online všechny klasické hry MSDOS
Comment[da]=Spil online alle de klassiske MSDOS spil
Comment[de]=Spielen Sie online alle klassischen MSDOS-Spiele
Comment[el]=Παίξτε online όλα τα κλασικά παιχνίδια MSDOS
Comment[eo]=Ludu enrete ĉiujn klasikajn MS-DU-ludojn
Comment[es]=Juega en línea todos los juegos clásicos de MSDOS
Comment[et]=Mänge võrgus kõiki klassikalisi MSDOS mänge
Comment[fi]=Pelaa verkossa kaikkia klassisia MSDOS-pelejä
Comment[fr]=Jouez en ligne à tous les jeux classiques de MSDOS
Comment[hi]=ऑनलाइन सभी क्लासिक एमएसडीओएस गेम खेलते हैं
Comment[hr]=Igrajte online svim klasičnim MSDOS igrama
Comment[hu]=Játssz online az összes klasszikus MSDOS játékkal
Comment[id]=Bermain online semua game MSDOS klasik
Comment[it]=Gioca in linea tutti i classici giochi MSDOS
Comment[ja]=すべての古典的なMSDOSゲームをオンラインでプレイ
Comment[ko]=모든 클래식 MSDOS 게임을 온라인으로 즐기십시오.
Comment[lt]=Žaiskite internete visus klasikinius'MSDOS'žaidimus
Comment[lv]=Spēlējiet tiešsaistē visas klasiskās MSDOS spēles
Comment[ms]=Main online semua permainan MSDOS klasik
Comment[nb]=Spill online alle de klassiske MSDOS spillene
Comment[nl]=Speel online alle klassieke MSDOS-spellen
Comment[no]=Spill online alle de klassiske MSDOS spillene
Comment[pl]=Graj online wszystkie klasyczne gry MSDOS
Comment[pt]=Jogue online todos os jogos clássicos do MSDOS
Comment[ro]=Joaca online toate jocurile clasice MSDOS
Comment[sk]=Zahrajte si online všetky klasické hry MSDOS
Comment[sl]=Igrajte online vse klasične igre MSDOS
Comment[sr]=Играјте онлине класичне МСДОС игре
Comment[sv]=Spela online alla de klassiska MSDOS-spelen
Comment[te]=అన్ని క్లాసిక్ MSDOS గేమ్స్ ప్లే
Comment[tl]=I-play ang lahat ng mga klasikong laro ng MSDOS
Comment[tr]=Tüm klasik MSDOS oyunlarını çevrimiçi oynayın
Comment[uk]=Грайте в онлайн всі класичні ігри MSDOS
Comment[vi]=Chơi trực tuyến tất cả các trò chơi cổ điển MSDOS
Categories=Games;WebApp
StartupNotify=true
NoDisplay=false
Icon=task-due
Exec=web-launcher --app=http://archive.org/details/softwarelibrary_msdos_games/ chrome firefox chromium
