[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Music Youtube
Name[zh]=音乐优酷
Name[az]=Musiqi Youtube
Name[bg]=Музика Youtube
Name[bn]=সঙ্গীত ইউটিউব
Name[ca]=Música Youtube
Name[cs]=Hudba Youtube
Name[da]=Musik Youtube
Name[de]=Musik Youtube
Name[el]=Μουσική Youtube
Name[eo]=Muziko Youtube
Name[es]=Música Youtube
Name[et]=Muusika Youtube
Name[fi]=Musiikki Youtube
Name[fr]=Musique Youtube
Name[hi]=संगीत यूट्यूब
Name[hr]=Glazba Youtube
Name[hu]=Zene Youtube
Name[id]=Musik Youtube
Name[it]=Musica Youtube
Name[ja]=Music Youtube
Name[ko]=뮤직 유튜브
Name[lt]=Muzika Youtube
Name[lv]=Mūzika Youtube
Name[ms]=Youtube Muzik
Name[nb]=Musikk Youtube
Name[nl]=Muziek Youtube
Name[no]=Musikk Youtube
Name[pl]=Muzyka Youtube
Name[pt]=Youtube de musica
Name[ro]=Muzică Youtube
Name[sk]=Hudba Youtube
Name[sl]=Glasba Youtube
Name[sr]=Мусиц Иоутубе
Name[sv]=Musik Youtube
Name[te]=మ్యూజిక్ యూట్యూబ్
Name[tl]=Music Youtube
Name[tr]=Müzik Youtube
Name[uk]=Музика Youtube
Name[vi]=Âm nhạc trên Youtube
GenericName=Music online
GenericName[zh]=在线音乐
GenericName[az]=Musiqi online
GenericName[bg]=Музика онлайн
GenericName[bn]=সঙ্গীত অনলাইন
GenericName[ca]=Música en línia
GenericName[cs]=Hudba online
GenericName[da]=Musik online
GenericName[de]=Musik online
GenericName[el]=Μουσική σε απευθείας σύνδεση
GenericName[en]=Music online
GenericName[eo]=Muziko enrete
GenericName[es]=Música en línea
GenericName[et]=Muusika veebis
GenericName[fi]=Musiikki verkossa
GenericName[fr]=Musique en ligne
GenericName[hi]=संगीत ऑनलाइन
GenericName[hr]=Glazba na mreži
GenericName[hu]=Zene online
GenericName[id]=Musik online
GenericName[it]=Musica online
GenericName[ja]=音楽オンライン
GenericName[ko]=음악 온라인
GenericName[lt]=Muzika internete
GenericName[lv]=Mūzika tiešsaistē
GenericName[ms]=Muzik dalam talian
GenericName[nb]=Musikk på nettet
GenericName[nl]=Muziek online
GenericName[no]=Musikk på nettet
GenericName[pl]=Muzyka online
GenericName[pt]=Música online
GenericName[ro]=Muzică online
GenericName[sk]=Hudba online
GenericName[sl]=Glasba na spletu
GenericName[sr]=Музика онлине
GenericName[sv]=Musik på nätet
GenericName[te]=సంగీతం ఆన్లైన్
GenericName[tl]=Musika online
GenericName[tr]=Çevrimiçi müzik
GenericName[uk]=Музика онлайн
GenericName[vi]=Âm nhạc trực tuyến
Categories=AudioVideo;Audio;Music;WebApp
StartupNotify=true
#NoDisplay=false
Icon=jajuk
Exec=web-launcher --app=https://music.youtube.com
