[Desktop Entry]
Name=NetSurf
Comment=Browse the World Wide Web
Comment[az]=Ümumdünya İnternetə baxın
Comment[bg]=Разгледайте World Wide Web
Comment[bn]=ওয়ার্ল্ড ওয়াইড ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu per la World Wide Web
Comment[cs]=Procházet web
Comment[da]=Gennemse World Wide Web
Comment[de]=Durchsuchen Sie das World Wide Web
Comment[el]=Περιηγηθείτε στον Παγκόσμιο Ιστό
Comment[eo]=Foliumu la mondan retejon
Comment[es]=Navega por la World Wide Web
Comment[et]=Sirvige veebisaiti
Comment[fi]=Selaa World Wide Webissä
Comment[fr]=Parcourir le World Wide Web
Comment[hi]=वर्ल्ड वाइड वेब ब्राउज़ करें
Comment[hr]=Pregledajte World Wide Web
Comment[hu]=Tallózás a világhálón
Comment[id]=Jelajahi World Wide Web
Comment[it]=Sfoglia il World Wide Web
Comment[ja]=ワールドワイドウェブを閲覧する
Comment[ko]=World Wide Web 탐색
Comment[lt]=Naršykite World Wide Web
Comment[lv]=Pārlūkojiet World Wide Web
Comment[ms]=Semak imbas World Wide Web
Comment[nb]=Bla gjennom World Wide Web
Comment[nl]=Blader door het World Wide Web
Comment[no]=Bla gjennom World Wide Web
Comment[pl]=Przeglądaj World Wide Web
Comment[pt]=Navegue pela World Wide Web
Comment[ro]=Navigați pe World Wide Web
Comment[sk]=Prechádzať na World Wide Web
Comment[sl]=Brskajte po svetovnem spletu
Comment[sr]=Прегледајте Ворлд Виде Веб
Comment[sv]=Bläddra på World Wide Web
Comment[te]=వరల్డ్ వైడ్ వెబ్ను బ్రౌజ్ చేయండి
Comment[tl]=Mag-browse sa World Wide Web
Comment[tr]=World Wide Web'e göz atın
Comment[uk]=Перегляньте всесвітню мережу
Comment[vi]=Duyệt World Wide Web
GenericName=Extremely light simple graphical web browser
GenericName[az]=Çox yüngül sadə qrafik veb brauzer
GenericName[bg]=Изключително лек прост графичен уеб браузър
GenericName[bn]=অত্যন্ত হালকা সহজ গ্রাফিকাল ওয়েব ব্রাউজার
GenericName[ca]=Navegador gràfic senzill extremadament lleuger
GenericName[cs]=Extrémně jednoduchý grafický webový prohlížeč
GenericName[da]=Ekstremt let enkel grafisk webbrowser
GenericName[de]=Extrem leichter einfacher grafischer Webbrowser
GenericName[el]=Εξαιρετικά ελαφρύ απλό γραφικό πρόγραμμα περιήγησης ιστού
GenericName[eo]=Ekstreme lumo simpla grafika retumilo
GenericName[es]=Navegador gráfico gráfico extremadamente ligero
GenericName[et]=Väga lihtne, lihtne graafiline veebibrauser
GenericName[fi]=Erittäin kevyt yksinkertainen graafinen web-selain
GenericName[fr]=Navigateur web graphique extrêmement léger
GenericName[hi]=बेहद हल्का सरल ग्राफिकल वेब ब्राउज़र
GenericName[hr]=Izuzetno lagan jednostavan grafički web preglednik
GenericName[hu]=Rendkívül könnyű egyszerű grafikus böngésző
GenericName[id]=Browser web grafis sederhana yang sangat ringan
GenericName[it]=Estremamente leggero browser web grafico semplice
GenericName[ja]=非常に軽いシンプルなグラフィカルなWebブラウザ
GenericName[ko]=매우 간단한 그래픽 웹 브라우저
GenericName[lt]=Labai lengva paprasta grafinė naršyklė
GenericName[lv]=Ļoti viegls vienkāršs grafiskais tīmekļa pārlūks
GenericName[ms]=Sangat ringan pelayar web grafik yang ringan
GenericName[nb]=Ekstremt lett enkel grafisk nettleser
GenericName[nl]=Zeer lichte eenvoudige grafische webbrowser
GenericName[no]=Ekstremt lett enkel grafisk nettleser
GenericName[pl]=Niezwykle lekka, prosta przeglądarka graficzna
GenericName[pt]=Navegador gráfico gráfico extremamente simples e leve
GenericName[ro]=Excelent de simplu browser grafic web simplu
GenericName[sk]=Extrémne jednoduchý grafický webový prehliadač
GenericName[sl]=Izjemno lahek preprost grafični spletni brskalnik
GenericName[sr]=Изузетно лаган једноставни графички веб прегледач
GenericName[sv]=Extremt lätt enkel grafisk webbläsare
GenericName[te]=చాలా తేలికైన గ్రాఫికల్ వెబ్ బ్రౌజర్
GenericName[tl]=Lubhang magaan ang simpleng graphical web browser
GenericName[tr]=Son derece hafif basit grafik web tarayıcısı
GenericName[uk]=Надзвичайно легкий простий графічний веб-браузер
GenericName[vi]=Trình duyệt web đồ họa đơn giản nhẹ nhàng
TryExec=netsurf-gtk
Exec=netsurf-gtk %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=netsurf.png
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png
StartupWMClass=NetSurf-bin
StartupNotify=true
