[Desktop Entry]
Name=Internet and Wifi
Name[zh]=互联网和无线网络
Name[vi]=Internet và Wifi
Name[uk]=Інтернет і Wi-Fi
Name[tr]=İnternet ve Wi-Fi
Name[tl]=Internet at Wifi
Name[te]=ఇంటర్నెట్ మరియు వైఫై
Name[sv]=Internet och wifi
Name[sr]=Интернет и Ви-Фи
Name[sl]=Internet in Wifi
Name[sk]=Internet a Wifi
Name[ro]=Internet și Wifi
Name[pt]=Internet e wi-fi
Name[pl]=Internet i Wi-Fi
Name[no]=Internett og Wifi
Name[nl]=Internetten en wifi
Name[nb]=Internett og Wifi
Name[ms]=Internet dan Wifi
Name[lv]=Internets un Wifi
Name[lt]=Internetas ir Wifi
Name[ko]=인터넷과 와이파이
Name[ja]=インターネットと Wi-Fi
Name[it]=Internet e Wi-Fi
Name[id]=Internet dan Wifi
Name[hu]=Internet és Wifi
Name[hr]=Internet i Wifi
Name[hi]=इंटरनेट और वाईफाई
Name[fr]=Internet et Wi-Fi
Name[fi]=Internet ja Wifi
Name[et]=Internet ja Wifi
Name[es]=Internet y wifi
Name[eo]=Interreto kaj Wifi
Name[el]=Διαδίκτυο και Wi-Fi
Name[de]=Internet und WLAN
Name[da]=Internet og Wifi
Name[cs]=Internet a Wifi
Name[ca]=Internet i Wifi
Name[bn]=ইন্টারনেট এবং ওয়াইফাই
Name[bg]=Интернет и Wifi
Name[az]=İnternet və Wifi
Comment=Configure your internet and wifi network connections
Comment[zh]=配置您的互联网和 wifi 网络连接
Comment[vi]=Định cấu hình kết nối mạng internet và wifi của bạn
Comment[uk]=Налаштуйте підключення до мережі Інтернет і Wi-Fi
Comment[tr]=İnternet ve wifi ağ bağlantılarınızı yapılandırın
Comment[tl]=I-configure ang iyong mga koneksyon sa internet at wifi network
Comment[te]=మీ ఇంటర్నెట్ మరియు వైఫై నెట్వర్క్ కనెక్షన్లను కాన్ఫిగర్ చేయండి
Comment[sv]=Konfigurera dina internet- och wifi-nätverksanslutningar
Comment[sr]=Конфигуришите интернет и вифи мрежне везе
Comment[sl]=Konfigurirajte svoje internetne in wifi omrežne povezave
Comment[sk]=Nakonfigurujte si internetové a wifi sieťové pripojenia
Comment[ro]=Configurați-vă conexiunile la internet și la rețeaua wifi
Comment[pt]=Configure suas conexões de rede de internet e wi-fi
Comment[pl]=Skonfiguruj połączenia z Internetem i siecią Wi-Fi
Comment[no]=Konfigurer internett- og wifi-nettverkstilkoblingene
Comment[nl]=Configureer uw internet- en wifi-netwerkverbindingen
Comment[nb]=Konfigurer internett- og wifi-nettverkstilkoblingene
Comment[ms]=Konfigurasikan sambungan rangkaian internet dan wifi anda
Comment[lv]=Konfigurējiet interneta un wifi tīkla savienojumus
Comment[lt]=Konfigūruokite savo interneto ir „Wi-Fi“ tinklo ryšius
Comment[ko]=인터넷 및 Wi-Fi 네트워크 연결 구성
Comment[ja]=インターネットと Wi-Fi ネットワーク接続を構成する
Comment[it]=Configura le tue connessioni di rete internet e wifi
Comment[id]=Konfigurasikan koneksi jaringan internet dan wifi Anda
Comment[hu]=Konfigurálja az internet és a wifi hálózati kapcsolatait
Comment[hr]=Konfigurirajte svoje internetske i wifi mrežne veze
Comment[hi]=अपने इंटरनेट और वाईफाई नेटवर्क कनेक्शन को कॉन्फ़िगर करें
Comment[fr]=Configurez vos connexions réseau internet et wifi
Comment[fi]=Määritä Internet- ja wifi-verkkoyhteytesi
Comment[et]=Konfigureerige oma Interneti- ja wifi-võrguühendused
Comment[es]=Configura tus conexiones de red de internet y wifi
Comment[eo]=Agordu viajn interretajn kaj wifi-retajn konektojn
Comment[el]=Διαμορφώστε τις συνδέσεις σας στο διαδίκτυο και στο δίκτυο wifi
Comment[de]=Konfigurieren Sie Ihre Internet- und WLAN-Netzwerkverbindungen
Comment[da]=Konfigurer dine internet- og wifi-netværksforbindelser
Comment[cs]=Nakonfigurujte si připojení k internetu a wifi síti
Comment[ca]=Configura les teves connexions a Internet i a la xarxa wifi
Comment[bn]=আপনার ইন্টারনেট এবং ওয়াইফাই নেটওয়ার্ক সংযোগ কনফিগার করুন
Comment[bg]=Конфигурирайте вашите интернет и wifi мрежови връзки
Comment[az]=İnternet və WiFi şəbəkə bağlantılarınızı konfiqurasiya edin
Comment[zh_CN]=管理网络连接
Comment[zh_HK]=管理你的網絡連線
Comment[zh_TW]=管理您的網路連線
Icon=nm-device-wireless
Exec=wifi-app
Terminal=false
Type=Application
#NoDisplay=true
Categories=System;Settings;
NotShowIn=KDE;GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-applet
X-GNOME-UsesNotifications=true
