[Desktop Entry]
Name=Flameshot
Name[zh_CN]=火焰截图
GenericName=Screenshot tool
GenericName[az]=Ekran görüntüsü aləti
GenericName[bg]=Инструмент за екранни снимки
GenericName[bn]=স্ক্রিনশট টুল
GenericName[ca]=Eina de captura de pantalla
GenericName[cs]=Nástroj pro snímání obrazovky
GenericName[da]=Skærmbillede værktøj
GenericName[de]=Screenshot-Tool
GenericName[el]=Εργαλείο στιγμιότυπου οθόνης
GenericName[eo]=Ekrankopia ilo
GenericName[et]=Ekraanipildi tööriist
GenericName[fi]=Kuvakaappaustyökalu
GenericName[hi]=स्क्रीनशॉट टूल
GenericName[hr]=Alat za snimanje zaslona
GenericName[hu]=Képernyőkép eszköz
GenericName[id]=Alat tangkapan layar
GenericName[it]=Strumento screenshot
GenericName[ko]=스크린샷 도구
GenericName[lt]=Ekrano kopijos įrankis
GenericName[lv]=Ekrānuzņēmuma rīks
GenericName[ms]=Alat tangkapan skrin
GenericName[nb]=Skjermbildeverktøy
GenericName[no]=Skjermbildeverktøy
GenericName[pt]=Ferramenta de captura de tela
GenericName[ro]=Instrument de captură de ecran
GenericName[sl]=Orodje za posnetek zaslona
GenericName[sv]=Skärmdumpverktyg
GenericName[te]=స్క్రీన్షాట్ సాధనం
GenericName[tl]=Tool sa screenshot
GenericName[tr]=Ekran görüntüsü aracı
GenericName[vi]=Công cụ chụp màn hình
GenericName[zh]=截图工具
GenericName[zh_CN]=屏幕截图工具
GenericName[pl]=Narzędzie do zrzutów ekranu
GenericName[fr]=Outil de capture d'écran
GenericName[nl]=Schermfotoprogramma
GenericName[nl_NL]=Schermfotoprogramma
GenericName[ja]=スクリーンショットツール
GenericName[ru]=Создание скриншотов
GenericName[sk]=Nástroj na zachytávanie obrazovky
GenericName[sr]=Снимач екрана
GenericName[uk]=Інструмент скриншотів
GenericName[es]=Herramienta de captura de pantalla
GenericName[pt_BR]=Ferramenta de captura de tela
Comment=Powerful yet simple to use screenshot software.
Comment[az]=Güclü, lakin istifadəsi asan ekran görüntüsü proqramı.
Comment[bg]=Мощен, но лесен за използване софтуер за екранни снимки.
Comment[bn]=স্ক্রিনশট সফ্টওয়্যার ব্যবহার করার জন্য শক্তিশালী কিন্তু সহজ।
Comment[ca]=Programari de captura de pantalla potent però senzill d'utilitzar.
Comment[cs]=Výkonný, ale snadno použitelný software pro snímání obrazovky.
Comment[da]=Kraftig, men brugervenlig screenshot-software.
Comment[el]=Ισχυρό αλλά απλό στη χρήση λογισμικό στιγμιότυπων οθόνης.
Comment[eo]=Potenca tamen facile uzebla ekrankopia programaro.
Comment[et]=Võimas, kuid lihtsalt kasutatav ekraanipildi tarkvara.
Comment[fi]=Tehokas mutta helppokäyttöinen kuvakaappausohjelmisto.
Comment[hi]=स्क्रीनशॉट सॉफ्टवेयर का उपयोग करने के लिए शक्तिशाली लेकिन सरल।
Comment[hr]=Snažan, ali jednostavan softver za snimanje zaslona.
Comment[hu]=Erőteljes, de egyszerűen használható képernyőképes szoftver.
Comment[id]=Kuat namun mudah digunakan perangkat lunak tangkapan layar.
Comment[it]=Software di screenshot potente ma semplice da usare.
Comment[ko]=강력하면서도 사용하기 쉬운 스크린샷 소프트웨어.
Comment[lt]=Galinga, bet paprasta naudoti ekrano kopijų programinė įranga.
Comment[lv]=Jaudīga, taču vienkārši lietojama ekrānuzņēmumu programmatūra.
Comment[ms]=Berkuasa tetapi mudah untuk menggunakan perisian tangkapan skrin.
Comment[nb]=Kraftig, men enkel å bruke skjermbildeprogramvare.
Comment[no]=Kraftig, men enkel å bruke skjermbildeprogramvare.
Comment[pt]=Software de captura de tela poderoso, mas simples de usar.
Comment[ro]=Software de captură de ecran puternic, dar simplu de utilizat.
Comment[sl]=Zmogljiva, a preprosta programska oprema za posnetke zaslona.
Comment[sv]=Kraftfull men ändå enkel att använda skärmdumpsprogramvara.
Comment[te]=స్క్రీన్షాట్ సాఫ్ట్వేర్ ఉపయోగించడానికి శక్తివంతమైనది అయితే సులభం.
Comment[tl]=Napakahusay ngunit simpleng gamitin ang software ng screenshot.
Comment[tr]=Güçlü ancak kullanımı basit bir ekran görüntüsü yazılımı.
Comment[vi]=Mạnh mẽ nhưng đơn giản để sử dụng phần mềm chụp màn hình.
Comment[zh]=功能强大但易于使用的屏幕截图软件。
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[nl]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[nl_NL]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sk]=Mocný, no tiež jednoduchý softvér na zachytávanie obrazovky.
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Comment[es]=Software de captura de pantalla potente y fácil de usar.
Comment[de]=Schlichte, leistungsstarke Screenshot-Software
Comment[pt_BR]=Software de captura de tela poderoso, mas simples de usar.
Keywords=flameshot;screenshot;capture;shutter;
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
Keywords[fr]=flameshot;capture d'écran;capter;shutter;
Keywords[ja]=flameshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Keywords[nl]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[es]=flameshot;screenshot;capture;shutter;captura;
Keywords[de]=flameshot;screenshot;Bildschirmfoto;Aufnahme;
Keywords[pt_BR]=flameshot;screenshot;captura de tela;captura;shutter;
Exec=/usr/bin/flameshot
Icon=org.flameshot.Flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
Actions=Configure;Capture;Launcher;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.flameshot.Flameshot
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot
#NoDisplay=true

[Desktop Action Configure]
Name=Configure
Name[zh_CN]=配置
Name[pl]=Konfiguruj
Name[fr]=Configurer
Name[ja]=設定
Name[ru]=Настройки
Name[sk]=Nastaviť
Name[nl]=Instellen
Name[sr]=Подешавања
Name[uk]=Налаштувати
Name[es]=Configurar
Name[de]=Einstellungen
Name[pt_BR]=Configurar
Exec=/usr/bin/flameshot config

NoDisplay=true
OnlyShowIn=Unity;


[Desktop Action Capture]
Name=Take screenshot
Name[zh_CN]=进行截图
Name[pl]=Zrzut ekranu
Name[fr]=Prendre une capture d'écran
Name[ja]=スクリーンショットを撮る
Name[ru]=Сделать скриншот
Name[sk]=Zachytiť obrazovku
Name[sr]=Сними екран
Name[uk]=Зробити знімок
Name[nl]=Schermfoto maken
Name[es]=Tomar captura de pantalla
Name[de]=Bildschirmfoto aufnehmen
Name[pt_BR]=Capturar tela
Exec=/usr/bin/flameshot gui --delay 500
Type=Application
#NoDisplay=true

[Desktop Action Launcher]
Name=Open launcher
Name[de]=Starter öffnen
Name[nl]=Starter openen
Name[sk]=Otvoriť spúšťač
Name[zh_CN]=打开启动器
Name[pt_BR]=Abrir lançador
Exec=/usr/bin/flameshot launcher

NoDisplay=true
OnlyShowIn=Unity;

