[Desktop Entry]
Name=Nicotine
Comment=SoulSeek filesharing client
Comment[az]=SoulSeek filesharing müştəri
Comment[bg]=SoulSeek споделяне на файлове
Comment[bn]=SoulSeek filesharing ক্লায়েন্ট
Comment[ca]=Client de compartiment d'arxius de SoulSeek
Comment[cs]=SoulSeek sdílení souborů
Comment[da]=SoulSeek filharingsklient
Comment[de]=SoulSeek-Filesharing-Client
Comment[el]=SoulSeek clientharing client
Comment[eo]=SoulSeek registranta klienton
Comment[es]=Cliente de intercambio de archivos SoulSeek
Comment[et]=SoulSeeki failide jagamise klient
Comment[fi]=SoulSeek filesharing asiakas
Comment[fr]=Client de partage de fichiers SoulSeek
Comment[hi]=SoulSeek filesharing क्लाइंट
Comment[hr]=SoulSeek filesharing klijent
Comment[hu]=SoulSeek fájlmegosztó kliens
Comment[id]=Klien SoulSeek filesharing
Comment[it]=SoulSeek client di filesharing
Comment[ja]=SoulSeekファイル共有クライアント
Comment[ko]=SoulSeek 파일 공유 클라이언트
Comment[lt]=SoulSeek failų dalijimosi klientas
Comment[lv]=SoulSeek failu koplietošanas klients
Comment[ms]=Klien filesharing SoulSeek
Comment[nb]=SoulSeek filharingsklient
Comment[nl]=SoulSeek filesharing client
Comment[no]=SoulSeek filharingsklient
Comment[pl]=Klient do udostępniania plików SoulSeek
Comment[pt]=Cliente de compartilhamento de arquivos SoulSeek
Comment[ro]=SoulSeek client sharing files
Comment[sk]=Súbor zdieľania súborov SoulSeek
Comment[sl]=SoulSeek datotekaharing stranka
Comment[sr]=СоулСеек датотекахаринг клијент
Comment[sv]=SoulSeek filhanteringsklient
Comment[te]=SoulSeek filesharing క్లయింట్
Comment[tl]=SoulSeek filesharing client
Comment[tr]=SoulSeek dosya paylaşım istemcisi
Comment[uk]=SoulSeek для спільного використання файлів клієнта
Comment[vi]=SoulSeek chia sẻ dữ liệu khách hàng
GenericName=Music downloader
GenericName[az]=Musiqi yükləyicisi
GenericName[bg]=Музикално изтегляне
GenericName[bn]=সঙ্গীত ডাউনলোডকারী
GenericName[ca]=Descàrrega de música
GenericName[cs]=Stahování hudby
GenericName[da]=Musik downloader
GenericName[de]=Musik-Downloader
GenericName[el]=Λήψη μουσικής
GenericName[eo]=Malkovrilo de muziko
GenericName[es]=Descargador de música
GenericName[et]=Muusika allalaadija
GenericName[fi]=Musiikkitiedosto
GenericName[fr]=Téléchargeur de musique
GenericName[hi]=संगीत डाउनलोडर
GenericName[hr]=Preuzimanje glazbe
GenericName[hu]=Zene letöltő
GenericName[id]=Downloader musik
GenericName[it]=Downloader di musica
GenericName[ja]=音楽ダウンローダ
GenericName[ko]=음악 다운로더
GenericName[lt]=Muzikos parsisiuntėjas
GenericName[lv]=Mūzikas lejupielāde
GenericName[ms]=Pemuat turun muzik
GenericName[nb]=Musikknedlasting
GenericName[nl]=Muziek downloader
GenericName[no]=Musikknedlasting
GenericName[pl]=Pobieranie muzyki
GenericName[pt]=Music downloader
GenericName[ro]=Descărcați muzică
GenericName[sk]=Hudba na stiahnutie
GenericName[sl]=Prenosnik glasbe
GenericName[sr]=Мусиц довнлоадер
GenericName[sv]=Musik nedladdare
GenericName[te]=సంగీతం డౌన్లోడ్కర్త
GenericName[tl]=Downloader ng musika
GenericName[tr]=Müzik indirici
GenericName[uk]=Завантажувач музики
GenericName[vi]=Trình tải nhạc
TryExec=nicotine
Exec=nicotine
Icon=nicotine-plus
Terminal=false
Type=Application
Categories=Network;P2P;
StartupNotify=true
