[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PCSX
GenericName=PlayStation Emulator
GenericName[az]=PlayStation Emulator
GenericName[bg]=Емулатор на PlayStation
GenericName[bn]=প্লেস্টেশন এমুলেটর
GenericName[ca]=Emulador de PlayStation
GenericName[cs]=Emulátor PlayStation
GenericName[da]=PlayStation -emulator
GenericName[de]=PlayStation-Emulator
GenericName[el]=PlayStation Emulator
GenericName[eo]=PlayStation Emulator
GenericName[es]=Emulador de PlayStation
GenericName[et]=PlayStationi emulaator
GenericName[fi]=PlayStation -emulaattori
GenericName[fr]=Émulateur PlayStation
GenericName[hi]=प्लेस्टेशन एमुलेटर
GenericName[hr]=PlayStation emulator
GenericName[hu]=PlayStation emulátor
GenericName[id]=Emulator PlayStation
GenericName[it]=Emulatore PlayStation
GenericName[ja]=PlayStationエミュレーター
GenericName[ko]=플레이스테이션 에뮬레이터
GenericName[lt]=„PlayStation“ emuliatorius
GenericName[lv]=PlayStation emulators
GenericName[ms]=Emulator PlayStation
GenericName[nb]=PlayStation -emulator
GenericName[nl]=PlayStation-emulator
GenericName[no]=PlayStation -emulator
GenericName[pl]=Emulator PlayStation
GenericName[pt]=Emulador de PlayStation
GenericName[ro]=Emulator PlayStation
GenericName[sk]=Emulátor PlayStation
GenericName[sl]=Emulator PlayStation
GenericName[sr]=ПлаиСтатион Емулатор
GenericName[sv]=PlayStation -emulator
GenericName[te]=ప్లేస్టేషన్ ఎమ్యులేటర్
GenericName[tl]=PlayStation Emulator
GenericName[tr]=PlayStation Emülatörü
GenericName[uk]=Емулятор PlayStation
GenericName[vi]=Trình giả lập PlayStation
GenericName[zh_CN]=PlayStation 模拟器
GenericName[zh_TW]=PlayStation 模擬器
Comment=Sony PlayStation emulator
Comment[az]=Sony PlayStation emulyatoru
Comment[bg]=Емулатор на Sony PlayStation
Comment[bn]=সনি প্লেস্টেশন এমুলেটর
Comment[ca]=Emulador de Sony PlayStation
Comment[cs]=Emulátor Sony PlayStation
Comment[da]=Sony PlayStation -emulator
Comment[de]=Sony PlayStation-Emulator
Comment[el]=Εξομοιωτής Sony PlayStation
Comment[eo]=Emulador de Sony PlayStation
Comment[es]=Emulador de Sony PlayStation
Comment[et]=Sony PlayStationi emulaator
Comment[fi]=Sonyn PlayStation -emulaattori
Comment[fr]=Émulateur Sony PlayStation
Comment[hi]=सोनी प्लेस्टेशन एमुलेटर
Comment[hr]=Sony PlayStation emulator
Comment[hu]=Sony PlayStation emulátor
Comment[id]=Emulator Sony PlayStation
Comment[it]=Emulatore Sony PlayStation
Comment[ja]=SonyPlayStationエミュレーター
Comment[ko]=소니 플레이스테이션 에뮬레이터
Comment[lt]=„Sony PlayStation“ emuliatorius
Comment[lv]=Sony PlayStation emulators
Comment[ms]=Emulator Sony PlayStation
Comment[nb]=Sony PlayStation -emulator
Comment[nl]=Sony PlayStation-emulator
Comment[no]=Sony PlayStation -emulator
Comment[pl]=Emulator Sony PlayStation
Comment[pt]=Emulador de PlayStation Sony
Comment[ro]=Emulatorul Sony PlayStation
Comment[sk]=Emulátor Sony PlayStation
Comment[sl]=Emulator Sony PlayStation
Comment[sr]=Сони ПлаиСтатион емулатор
Comment[sv]=Sony PlayStation -emulator
Comment[te]=సోనీ ప్లేస్టేషన్ ఎమ్యులేటర్
Comment[tl]=Emulator ng Sony PlayStation
Comment[tr]=Sony PlayStation emülatörü
Comment[uk]=Емулятор Sony PlayStation
Comment[vi]=Trình giả lập PlayStation của Sony
Comment[zh_CN]=Sony PlayStation 模拟器
Comment[zh_TW]=Sony PlayStation 模擬器
Exec=pcsx
Icon=pcsx-icon
Categories=Game;Emulator
