[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name=Recover deleted files
Name[az]=Silinən faylları bərpa edin
Name[bg]=Възстановяване на изтритите файлове
Name[bn]=মুছে ফেলা ফাইলগুলি পুনরুদ্ধার করুন
Name[ca]=Recupera els fitxers esborrats
Name[cs]=Obnovit smazané soubory
Name[da]=Gendan slettede filer
Name[de]=Gelöschte Dateien wiederherstellen
Name[el]=Ανακτήστε τα διαγραμμένα αρχεία
Name[en]=Recover deleted files
Name[eo]=Reakiri forigitajn dosierojn
Name[es]=Recuperar archivos borrados
Name[et]=Kustutatud failide taastamine
Name[fi]=Palauta poistetut tiedostot
Name[fr]=Récupérer les fichiers supprimés
Name[hi]=हटाई गई फ़ाइलें पुनर्प्राप्त करें
Name[hr]=Obnova izbrisanih datoteka
Name[hu]=A törölt fájlok helyreállítása
Name[id]=Pulihkan file yang dihapus
Name[it]=Recupera i file cancellati
Name[ja]=削除されたファイルを回復する
Name[ko]=삭제 된 파일 복구
Name[lt]=Atkurti ištrintus failus
Name[lv]=Atgūt izdzēstos failus
Name[ms]=Pulihkan fail yang dipadam
Name[nb]=Gjenopprett slettede filer
Name[nl]=Herstel verwijderde bestanden
Name[no]=Gjenopprett slettede filer
Name[pl]=Odzyskaj usunięte pliki
Name[pt]=Recuperar arquivos excluídos
Name[ro]=Recuperarea fișierelor șterse
Name[sk]=Obnovte odstránené súbory
Name[sl]=Obnovi izbrisane datoteke
Name[sr]=Обнови избрисане датотеке
Name[sv]=Återställ raderade filer
Name[te]=తొలగించిన ఫైళ్లను పునరుద్ధరించండి
Name[tl]=Mabawi ang natanggal na mga file
Name[tr]=Silinen dosyaları kurtar
Name[uk]=Відновлення видалених файлів
Name[vi]=Khôi phục các tập tin đã xóa
GenericName=Scan a disk and recover lost files
GenericName[az]=Bir diskə baxın və itirilmiş faylları bərpa edin
GenericName[bg]=Сканиране на диск и възстановяване на изгубени файлове
GenericName[bn]=একটি ডিস্ক স্ক্যান এবং হারিয়ে ফাইল পুনরুদ্ধার
GenericName[ca]=Escaneja un disc i recupera els fitxers perduts
GenericName[cs]=Skenování disku a obnovení ztracených souborů
GenericName[da]=Scan en disk og gendan tabte filer
GenericName[de]=Scannt eine Diskette und stellt verlorene Dateien wieder her
GenericName[el]=Σάρωση ενός δίσκου και ανάκτηση χαμένων αρχείων
GenericName[en]=Scan a disk and recover lost files
GenericName[eo]=Skani diskon kaj rekuperi perdajn dosierojn
GenericName[es]=Escanee un disco y recupere archivos perdidos
GenericName[et]=Vaate kettale ja taastada kaotatud failid
GenericName[fi]=Skannaa levy ja palauta kadonneet tiedostot
GenericName[fr]=Analyser un disque et récupérer des fichiers perdus
GenericName[hi]=एक डिस्क को स्कैन करें और खोई फ़ाइलें पुनर्प्राप्त करें
GenericName[hr]=Skenirajte disk i oporavite izgubljene datoteke
GenericName[hu]=Keressen egy lemezt és helyreállítsa az elveszett fájlokat
GenericName[id]=Pindai disk dan pulihkan file yang hilang
GenericName[it]=Scansionare un disco e recuperare i file persi
GenericName[ja]=ディスクをスキャンして紛失したファイルを回復する
GenericName[ko]=디스크 검사 및 손실 된 파일 복구
GenericName[lt]=Nuskaitykite diską ir atkurkite prarastus failus
GenericName[lv]=Noklikšķiniet uz diska un atgūstiet zaudētos failus
GenericName[ms]=Imbas cakera dan pulihkan fail yang hilang
GenericName[nb]=Skann en disk og gjenopprett tapte filer
GenericName[nl]=Scan een schijf en herstel verloren bestanden
GenericName[no]=Skann en disk og gjenopprett tapte filer
GenericName[pl]=Zeskanuj dysk i odzyskaj utracone pliki
GenericName[pt]=Digitalize um disco e recupere arquivos perdidos
GenericName[ro]=Scanați un disc și recuperați fișiere pierdute
GenericName[sk]=Skenovanie disku a obnovenie stratených súborov
GenericName[sl]=Skenirajte disk in obnovite izgubljene datoteke
GenericName[sr]=Скенирајте диск и вратите изгубљене датотеке
GenericName[sv]=Skanna en skiva och återställa borttappade filer
GenericName[te]=డిస్క్ను స్కాన్ చేసి, కోల్పోయిన ఫైళ్లను పునరుద్ధరించండి
GenericName[tl]=I-scan ang isang disk at mabawi ang mga nawalang file
GenericName[tr]=Bir disk tarayın ve kayıp dosyaları kurtarın
GenericName[uk]=Сканування диска та відновлення втрачених файлів
GenericName[vi]=Quét một đĩa và phục hồi các tập tin bị mất
Categories=System;Utility;FileTools;FileManager
StartupNotify=true
NoDisplay=false
Icon=system-search
Exec=photorec
