[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name=Recover deleted files
GenericName=Scan a disk for recover any files
Categories=Utility
StartupNotify=true
NoDisplay=false
Icon=system-search
Exec=photorec
