[Desktop Entry]
Name=MusicBrainz Picard
Comment=Tag your music with the next generation MusicBrainz tagger
Comment[az]=Musiqiinizi növbəti nəsil MusicBrainz tagger ilə yazın
Comment[bg]=Маркирайте музиката си с следващото поколение MusicBrainz тагер
Comment[bn]=পরের প্রজন্মের MusicBrainz Tagger সঙ্গে আপনার সঙ্গীত লিখুন
Comment[ca]=Etiqueta la teva música amb l'etiquetador MusicBrainz de la propera generació
Comment[cs]=Označte svou hudbu novou značkou MusicBrainz tagger
Comment[da]=Tag din musik med næste generation MusicBrainz tagger
Comment[de]=Kennzeichnen Sie Ihre Musik mit dem MusicBrainz Tagger der nächsten Generation
Comment[el]=Επισημάνετε τη μουσική σας με την επόμενη γενιά του MusicBrainz tagger
Comment[eo]=Etikedu vian muzikon kun la sekva generacio MusicBrainz-etikedo
Comment[es]=Etiquete su música con el etiquetador MusicBrainz de la próxima generación
Comment[et]=Märgi oma muusikat järgmise põlvkonna MusicBrainz tagger
Comment[fi]=Merkitse musiikki seuraavan sukupolven MusicBrainz-taggerilla
Comment[fr]=Marquer votre musique avec le tagger MusicBrainz de nouvelle génération
Comment[hi]=अगली पीढ़ी के संगीतब्रेनज टैगर के साथ अपने संगीत को टैग करें
Comment[hr]=Označite svoju glazbu pomoću sljedeće generacije MusicBrainz oznaka
Comment[hu]=Tagolja a zenéit a következő generációs MusicBrainz címkézővel
Comment[id]=Tandai musik Anda dengan tagger MusicBrainz generasi berikutnya
Comment[it]=Tag tua musica con il tagger di MusicBrainz di nuova generazione
Comment[ja]=次世代MusicBrainzタガーであなたの音楽にタグを付ける
Comment[ko]=차세대 MusicBrainz 태거로 음악에 태그 달기
Comment[lt]=Žymėkite muziką naudodami naujos kartos'MusicBrainz'žymą
Comment[lv]=Nosauciet mūziku ar nākamās paaudzes MusicBrainz tagger
Comment[ms]=Tag muzik anda dengan tagger MusicBrainz generasi seterusnya
Comment[nb]=Merk musikken din med neste generasjons MusicBrainz-tagger
Comment[nl]=Tag je muziek met de volgende generatie MusicBrainz-taggers
Comment[no]=Merk musikken din med neste generasjons MusicBrainz-tagger
Comment[pl]=Oznacz swoją muzykę taggeriem nowej generacji MusicBrainz
Comment[pt]=Marque sua música com a próxima geração do tagger MusicBrainz
Comment[ro]=Etichetați muzica cu eticheta MusicBrainz următoare
Comment[sk]=Označte svoju hudbu novou značkou MusicBrainz tagger
Comment[sl]=Označite glasbo z oznako MusicBrainz naslednje generacije
Comment[sr]=Означите своју музику са следећом генерацијом МусицБраинз таггером
Comment[sv]=Tag din musik med nästa generations MusicBrainz tagger
Comment[te]=తరువాతి తరం MusicBrainz tagger తో మీ సంగీతాన్ని ట్యాగ్ చేయండి
Comment[tl]=I-tag ang iyong musika sa susunod na henerasyon na MusicBrainz tagger
Comment[tr]=Müziğinizi yeni nesil MusicBrainz etiketleyici ile etiketleyin
Comment[uk]=Позначте свою музику тегом MusicBrainz нового покоління
Comment[vi]=Gắn thẻ bài hát của bạn bằng công cụ ghi âm MusicBrainz thế hệ kế tiếp
GenericName=Music names fixer
GenericName[az]=Musiqi adları fixer
GenericName[bg]=Редактор на музикални имена
GenericName[bn]=সঙ্গীত নাম fixer
GenericName[ca]=Fixador de noms de música
GenericName[cs]=Music fixer
GenericName[da]=Music name fixer
GenericName[de]=Musik Namensfixer
GenericName[el]=Ονομαστής μουσικών ονομάτων
GenericName[eo]=Muziknomo-korektilo
GenericName[es]=Fijador de nombres musicales
GenericName[et]=Muusika nimetuste fikseerija
GenericName[fi]=Musiikin nimet
GenericName[fr]=Noms de musique
GenericName[hi]=संगीत नाम फिक्सर
GenericName[hr]=Popravljač imena glazbe
GenericName[hu]=Zene nevek rögzítője
GenericName[id]=Pemanggil nama musik
GenericName[it]=Fissatore di nomi di musica
GenericName[ja]=音楽名解決
GenericName[ko]=음악 이름 해결사
GenericName[lt]=Muzikos vardų fiksuotojas
GenericName[lv]=Mūzikas nosaukumu fiksētājs
GenericName[ms]=Pembetulkan nama muzik
GenericName[nb]=Music name fixer
GenericName[nl]=Muziek namen fixer
GenericName[no]=Music name fixer
GenericName[pl]=Utrwalacz nazw muzyki
GenericName[pt]=Fixador de nomes de música
GenericName[ro]=Nume de fixare a muzicii
GenericName[sk]=Nástroj na opravy hudobných mien
GenericName[sl]=Pritrjevalec glasbenih imen
GenericName[sr]=Фиксатор имена музике
GenericName[sv]=Music name fixer
GenericName[te]=సంగీతం పేర్లు ఫిక్సర్
GenericName[tl]=Mga fixer ng mga pangalan ng musika
GenericName[tr]=Müzik isimleri düzeltici
GenericName[uk]=Фіксер музичних імен
GenericName[vi]=Người đặt tên nhạc
TryExec=picard
Exec=picard %F
Terminal=false
Type=Application
StartupNotify=true
Icon=picard
Categories=Audio;
MimeType=audio/x-mp3;audio/ogg;audio/mpeg;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/x-tta;audio/x-ms-wma;audio/x-wavpack;
