[Desktop Entry]
Name=Powertop
Comment=Analize your resources usage for your laptop performance
Comment[az]=Laptop performansınız üçün resursların istifadəsini təhlil edin
Comment[bg]=Анализирайте използването на ресурсите си за ефективността на лаптопа си
Comment[bn]=আপনার ল্যাপটপ কর্মক্ষমতা জন্য আপনার সম্পদ ব্যবহার বিশ্লেষণ
Comment[ca]=Analitzeu l'ús dels recursos per al rendiment del portàtil
Comment[cs]=Analyzujte využití zdrojů pro výkon notebooku
Comment[da]=Analyser din ressourceforbrug til din bærbare ydeevne
Comment[de]=Analysieren Sie Ihre Ressourcenauslastung für Ihre Laptop-Leistung
Comment[el]=Αναλύστε τη χρήση των πόρων σας για την απόδοση του φορητού υπολογιστή σας
Comment[eo]=Analizu vian rimedon uzadon por via tekkomputilo
Comment[es]=Analice el uso de sus recursos para el rendimiento de su computadora portátil
Comment[et]=Analüüsige ressursside kasutamist sülearvuti jõudluse jaoks
Comment[fi]=Analysoi resurssien käyttö kannettavan tietokoneen suorituskyvyn mukaan
Comment[fr]=Analysez l'utilisation de vos ressources pour les performances de votre ordinateur portable
Comment[hi]=अपने लैपटॉप प्रदर्शन के लिए अपने संसाधनों का उपयोग विश्लेषण करें
Comment[hr]=Analizirajte upotrebu resursa za performanse prijenosnog računala
Comment[hu]=Elemezze a források felhasználását a laptop teljesítményéhez
Comment[id]=Analisis penggunaan sumber daya Anda untuk kinerja laptop Anda
Comment[it]=Analizza l'utilizzo delle risorse per le prestazioni del tuo computer portatile
Comment[ja]=ラップトップのパフォーマンスを分析
Comment[ko]=랩탑 성능에 대한 리소스 사용량 분석
Comment[lt]=Analizuokite savo išteklių naudojimą savo nešiojamojo kompiuterio veikimui
Comment[lv]=Analizējiet resursu lietojumu, lai veiktu savu klēpjdatoru
Comment[ms]=Menganalisis penggunaan sumber daya anda untuk prestasi komputer riba anda
Comment[nb]=Analyser ressursbruk for din bærbare ytelse
Comment[nl]=Analyseer uw resourcegebruik voor uw laptopprestaties
Comment[no]=Analyser ressursbruk for din bærbare ytelse
Comment[pl]=Przeanalizuj wykorzystanie zasobów pod kątem wydajności laptopa
Comment[pt]=Analise o uso de recursos para o desempenho do seu laptop
Comment[ro]=Analizați utilizarea resurselor pentru performanța laptopului
Comment[sk]=Analyzujte využitie vašich zdrojov pre výkon vášho notebooku
Comment[sl]=Analizirajte porabo sredstev za uspešnost vašega prenosnika
Comment[sr]=Анализирајте коришћење својих ресурса за перформансе вашег лаптопа
Comment[sv]=Analysera resursanvändningen för din bärbara prestanda
Comment[te]=మీ లాప్టాప్ పనితీరు కోసం మీ వనరులను వాడండి
Comment[tl]=Pag-aralan ang iyong paggamit ng gamit-yaman para sa pagganap ng iyong laptop
Comment[tr]=Dizüstü bilgisayarınızın performansı için kaynak kullanımınızı analiz edin
Comment[uk]=Проаналізуйте використання ресурсів для роботи ноутбука
Comment[vi]=Phân tích việc sử dụng tài nguyên của bạn cho hiệu năng máy tính xách tay của bạn
GenericName=Analize resources and consumption profiler for your laptop
GenericName[az]=Laptopunuz üçün resursları və istehlak profilerini analiz edin
GenericName[bg]=Анализирайте ресурсите и профила на консумация за вашия лаптоп
GenericName[bn]=আপনার ল্যাপটপের জন্য সম্পদ এবং খরচ প্রোফাইলার নির্ণয় করুন
GenericName[ca]=Analitzeu els recursos i el perfilador de consum per al vostre ordinador portàtil
GenericName[cs]=Analyzujte zdroje a profil spotřeby pro váš notebook
GenericName[da]=Analyser ressourcer og forbrugsprofil for din bærbare computer
GenericName[de]=Analysieren Sie Ressourcen und Verbrauchs-Profiler für Ihren Laptop
GenericName[el]=Αναλύστε τους πόρους και τον προφίλ κατανάλωσης για το φορητό υπολογιστή σας
GenericName[eo]=Analizu rimedojn kaj konsumon por via portebla komputilo
GenericName[es]=Analice los recursos y el perfil de consumo de su computadora portátil
GenericName[et]=Analüüsige sülearvuti jaoks ressursse ja tarbimisharjumusi
GenericName[fi]=Analysoi resursseja ja kulutusprofiilisi kannettavalle tietokoneelle
GenericName[fr]=Analisez les ressources et le profileur de consommation pour votre ordinateur portable
GenericName[hi]=अपने लैपटॉप के लिए संसाधनों और खपत प्रोफाइलर का विश्लेषण करें
GenericName[hr]=Analizirajte resurse i profiler za potrošnju za prijenosno računalo
GenericName[hu]=Elemezze az erőforrásokat és a fogyasztás profilozóját a laptophoz
GenericName[id]=Analize sumber daya dan profiler konsumsi untuk laptop Anda
GenericName[it]=Analisi delle risorse e del profilo di consumo per il tuo computer portatile
GenericName[ja]=あなたのラップトップのためのリソースと消費プロファイラを分析する
GenericName[ko]=랩톱의 자원 및 소비 프로파일 링 분석
GenericName[lt]=Analizuokite savo nešiojamojo kompiuterio resursus ir vartojimo profilius
GenericName[lv]=Analizējiet sava portatīvā datora resursus un patēriņa profilētāju
GenericName[ms]=Analisa sumber dan profiler penggunaan untuk komputer riba anda
GenericName[nb]=Analyser ressurser og forbruksprofil for den bærbare datamaskinen
GenericName[nl]=Analize-bronnen en consumptieprofiler voor uw laptop
GenericName[no]=Analyser ressurser og forbruksprofil for den bærbare datamaskinen
GenericName[pl]=Analizuj zasoby i profiler zużycia dla twojego laptopa
GenericName[pt]=Analize recursos e perfil de consumo para o seu laptop
GenericName[ro]=Analizați resursele și profilul de consum pentru laptop
GenericName[sk]=Analyzujte zdroje a profil spotreby pre váš prenosný počítač
GenericName[sl]=Analizirajte vire in potrošni profiler za vaš prenosnik
GenericName[sr]=Анализирајте ресурсе и профил потрошача за ваш лаптоп
GenericName[sv]=Analysera resurser och konsumtionsprofil för din bärbara dator
GenericName[te]=మీ ల్యాప్టాప్ కోసం వనరులను మరియు వినియోగానికి ప్రొఫైలర్ను విశ్లేషించండి
GenericName[tl]=Pagsusuri ng mga mapagkukunan at consumption profiler para sa iyong laptop
GenericName[tr]=Dizüstü bilgisayarınız için kaynakları ve tüketim profilini hesaplayın
GenericName[uk]=Аналізуйте ресурси та профілі для споживання вашого ноутбука
GenericName[vi]=Analize tài nguyên và hồ sơ tiêu dùng cho máy tính xách tay của bạn
Exec=powertop
Terminal=true
Type=Application
StartupNotify=true
Icon=utilities-system-monitor
Categories=System;
