[Desktop Entry]
Name=Calculator
Name[az]=Kalkulyator
Name[bg]=Калкулатор
Name[bn]=গণক
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[hi]=कैलकुलेटर
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[id]=Kalkulator
Name[it]=Calcolatrice
Name[ja]=電卓
Name[ko]=계산자
Name[lt]=Skaičiuoklė
Name[lv]=Kalkulators
Name[ms]=Kalkulator
Name[nb]=Kalkulator
Name[nl]=Rekenmachine
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ro]=Calculator
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sr]=Калкулатор
Name[sv]=Kalkylator
Name[te]=క్యాలిక్యులేటర్
Name[tl]=Calculator
Name[tr]=Hesap makinesi
Name[uk]=Калькулятор
Name[vi]=Máy tính
Comment=Powerful and easy to use calculator
Comment[az]=Güclü və asan istifadə kalkulyator
Comment[bg]=Мощен и лесен за използване калкулатор
Comment[bn]=শক্তিশালী এবং ক্যালকুলেটর ব্যবহার করা সহজ
Comment[ca]=Calculadora potent i fàcil d'usar
Comment[cs]=Výkonná a snadno použitelná kalkulačka
Comment[da]=Kraftfuld og nem at bruge lommeregner
Comment[de]=Leistungsstarker und benutzerfreundlicher Taschenrechner
Comment[el]=Ισχυρή και εύχρηστη αριθμομηχανή
Comment[eo]=Potenca kaj facila uzi kalkulilon
Comment[es]=Calculadora poderosa y fácil de usar
Comment[et]=Võimas ja kerge kalkulaator
Comment[fi]=Tehokas ja helppokäyttöinen laskin
Comment[fr]=Calculatrice puissante et facile à utiliser
Comment[hi]=शक्तिशाली और उपयोग करने में आसान कैलकुलेटर
Comment[hr]=Snažan i jednostavan za korištenje kalkulator
Comment[hu]=Hatékony és könnyen használható számológép
Comment[id]=Kuat dan mudah digunakan kalkulator
Comment[it]=Calcolatore potente e facile da usare
Comment[ja]=強力で使いやすい電卓
Comment[ko]=강력하고 사용하기 쉬운 계산기
Comment[lt]=Galingas ir lengvas skaičiuotuvas
Comment[lv]=Jaudīgs un viegli lietojams kalkulators
Comment[ms]=Kalkulator yang kuat dan mudah digunakan
Comment[nb]=Kraftig og enkel å bruke kalkulator
Comment[nl]=Krachtige en eenvoudig te gebruiken calculator
Comment[no]=Kraftig og enkel å bruke kalkulator
Comment[pl]=Potężny i łatwy w użyciu kalkulator
Comment[pt]=Calculadora poderosa e fácil de usar
Comment[ro]=Calculator puternic și ușor de utilizat
Comment[sk]=Výkonná a ľahko použiteľná kalkulačka
Comment[sl]=Zmogljiv in enostaven za uporabo kalkulator
Comment[sr]=Снажан и једноставан калкулатор
Comment[sv]=Kraftfull och lättanvänd räknare
Comment[te]=శక్తివంతమైన మరియు కాలిక్యులేటర్ ఉపయోగించడానికి సులభమైన
Comment[tl]=Napakahusay at madaling gamitin na calculator
Comment[tr]=Güçlü ve kullanımı kolay hesap makinesi
Comment[uk]=Потужний і простий у використанні калькулятор
Comment[vi]=Máy tính mạnh mẽ và dễ sử dụng
Exec=qalculate-gtk
Icon=calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;

