[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rage Player
GenericName=Multimedia center (GL accelerated)
GenericName[az]=Multimedia mərkəzi (GL tezləşdirildi)
GenericName[bg]=Мултимедиен център (ускорено GL)
GenericName[bn]=মাল্টিমিডিয়া সেন্টার (জিএল প্রবেশন)
GenericName[ca]=Centre multimèdia (GL accelerat)
GenericName[cs]=Multimediální centrum (GL zrychlená)
GenericName[da]=Multimediecenter (GL accelereret)
GenericName[de]=Multimedia-Center (GL beschleunigt)
GenericName[el]=Κέντρο πολυμέσων (επιταχυνόμενο GL)
GenericName[en]=Multimedia center (GL accelerated)
GenericName[eo]=Plurmedia centro (GL akcelita)
GenericName[es]=Centro multimedia (GL acelerado)
GenericName[et]=Multimeediakeskus (GL kiirendatud)
GenericName[fi]=Multimediakeskus (GL nopeutettu)
GenericName[fr]=Centre multimédia (GL accéléré)
GenericName[hi]=मल्टीमीडिया केंद्र (जीएल त्वरित)
GenericName[hr]=Multimedijski centar (GL ubrzan)
GenericName[hu]=Multimédiás központ (GL felgyorsítva)
GenericName[id]=Pusat multimedia (GL dipercepat)
GenericName[it]=Centro multimediale (GL accelerato)
GenericName[ja]=マルチメディアセンター（GL加速）
GenericName[ko]=멀티미디어 센터 (GL 가속)
GenericName[lt]=Multimedijos centras (GL pagreitintas)
GenericName[lv]=Multivides centrs (GL paātrināta)
GenericName[ms]=Pusat multimedia (GL dipercepatkan)
GenericName[nb]=Multimediasenter (GL akselerert)
GenericName[nl]=Multimedia centrum (GL versneld)
GenericName[no]=Multimediasenter (GL akselerert)
GenericName[pl]=Centrum multimedialne (przyspieszenie GL)
GenericName[pt]=Centro multimídia (GL acelerado)
GenericName[ro]=Centrul multimedia (GL accelerat)
GenericName[sk]=Multimediálne centrum (GL zrýchlené)
GenericName[sl]=Multimedijski center (GL pospešeno)
GenericName[sr]=Мултимедијални центар (ГЛ убрзан)
GenericName[sv]=Multimedia Center (GL-accelererade)
GenericName[te]=మల్టీమీడియా సెంటర్ (GL వేగవంతం)
GenericName[tl]=Multimedia center (pinabilis ng GL)
GenericName[tr]=Multimedya merkezi (GL hızlandırılmış)
GenericName[uk]=Мультимедійний центр (GL прискорений)
GenericName[vi]=Trung tâm đa phương tiện (GL tăng tốc)
Icon=mediacenter
TryExec=rage
Exec=rage -gl
Terminal=false
Categories=ENLIGHTENMENT;
