[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rage Player
GenericName=Multimedia Center
GenericName[az]=Multimedia Mərkəzi
GenericName[bg]=Мултимедиен център
GenericName[bn]=মাল্টিমিডিয়া সেন্টার
GenericName[ca]=Centre multimèdia
GenericName[cs]=Multimediální centrum
GenericName[da]=Multimedia Center
GenericName[de]=Multimediazentrum
GenericName[el]=Κέντρο πολυμέσων
GenericName[en]=Multimedia Center
GenericName[eo]=Plurmedia Centro
GenericName[es]=Centro multimedia
GenericName[et]=Multimeedia keskus
GenericName[fi]=Multimedia Center
GenericName[fr]=Centre multimédia
GenericName[hi]=मल्टीमीडिया सेंटर
GenericName[hr]=Multimedijski centar
GenericName[hu]=Multimédiás központ
GenericName[id]=Pusat Multimedia
GenericName[it]=Centro multimediale
GenericName[ja]=マルチメディアセンター
GenericName[ko]=멀티미디어 센터
GenericName[lt]=Multimedijos centras
GenericName[lv]=Multivides centrs
GenericName[ms]=Pusat Multimedia
GenericName[nb]=Multimedia Center
GenericName[nl]=Multimedia Center
GenericName[no]=Multimedia Center
GenericName[pl]=Centrum multimedialne
GenericName[pt]=Centro Multimídia
GenericName[ro]=Centrul multimedia
GenericName[sk]=Multimediálne centrum
GenericName[sl]=Multimedijski center
GenericName[sr]=Мултимедијални центар
GenericName[sv]=Multimedia Center
GenericName[te]=మల్టీమీడియా సెంటర్
GenericName[tl]=Multimedia Center
GenericName[tr]=Multimedya Merkezi
GenericName[uk]=Мультимедійний центр
GenericName[vi]=Trung tâm Đa phương tiện
Icon=mediacenter
TryExec=rage
Exec=rage-launcher %F
Terminal=false
Categories=ENLIGHTENMENT;Application;Demo
