[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Terminal=true
Name=Convert to Debian package
Name[zh]=转换为 Debian 软件包
Name[az]=Debian paketinə çevirin
Name[bg]=Конвертиране в Debian пакета
Name[bn]=ডেবিয়ান প্যাকেজ রূপান্তর করুন
Name[ca]=Convertiu al paquet de Debian
Name[cs]=Převést do balíčku Debian
Name[da]=Konverter til Debian-pakken
Name[de]=In Debian-Paket konvertieren
Name[el]=Μετατροπή στο πακέτο του Debian
Name[en]=Convert to Debian package
Name[eo]=Konvertu al Debian-pako
Name[es]=Convertir a paquete Debian
Name[et]=Teisenda Debiani paketi
Name[fi]=Muunna Debian-pakettiin
Name[fr]=Convertir en paquet Debian
Name[hi]=डेबियन पैकेज में कनवर्ट करें
Name[hr]=Pretvori u paket Debian
Name[hu]=Konvertálás a Debian csomagba
Name[id]=Konversikan ke paket Debian
Name[it]=Convertire in pacchetto Debian
Name[ja]=Debianパッケージに変換する
Name[ko]=데비안 패키지로 변환
Name[lt]=Konvertuokite į'Debian'paketą
Name[lv]=Pārveidot uz Debian pakotni
Name[ms]=Tukar pakej Debian
Name[nb]=Konverter til Debian-pakken
Name[nl]=Converteer naar Debian-pakket
Name[no]=Konverter til Debian-pakken
Name[pl]=Konwertuj na pakiet Debiana
Name[pt]=Pacote de conversão para Debian
Name[ro]=Conversia în pachetul Debian
Name[sk]=Previesť do balíka Debian
Name[sl]=Pretvori v paket Debian
Name[sr]=Претвори у Дебиан пакет
Name[sv]=Konvertera till Debian-paketet
Name[te]=డెబియన్ ప్యాకేజీకి మార్చండి
Name[tl]=I-convert sa package ng Debian
Name[tr]=Debian paketine dönüştürme
Name[uk]=Перетворити в пакет Debian
Name[vi]=Chuyển đổi sang gói Debian
TryExec=alien
Exec=fakeroot alien %f
MimeType=application/x-rpm
