[Desktop Entry]
Name=Scribus
Type=Application
Icon=scribus
#Comment=Page Layout and Publication
GenericName=Page layout and publication
GenericName[az]=Səhifə düzeni və nəşri
GenericName[bg]=Оформление и публикация на страницата
GenericName[bn]=পৃষ্ঠা বিন্যাস এবং প্রকাশনা
GenericName[ca]=Disseny de pàgina i publicació
GenericName[cs]=Rozložení stránky a publikace
GenericName[da]=Side layout og offentliggørelse
GenericName[de]=Seitenlayout und Veröffentlichung
GenericName[el]=Διάταξη και δημοσίευση σελίδας
GenericName[eo]=Paĝaranĝo kaj publikigado
GenericName[es]=Maquetación y publicación
GenericName[et]=Lehekülje paigutus ja avaldamine
GenericName[fi]=Sivun asettelu ja julkaisu
GenericName[fr]=Mise en page et publication
GenericName[hi]=पृष्ठ लेआउट और प्रकाशन
GenericName[hr]=Prijelom i objava stranice
GenericName[hu]=Oldalelrendezés és kiadványszerkesztés
GenericName[id]=Tata letak halaman dan publikasi
GenericName[it]=Impaginazione e pubblicazione
GenericName[ja]=ページレイアウトと出版
GenericName[ko]=페이지 레이아웃 및 게시
GenericName[lt]=Puslapių maketavimas ir leidyba
GenericName[lv]=Lappušu izkārtojums un publicēšana
GenericName[ms]=Susun atur halaman dan penerbitan
GenericName[nb]=Sideoppsett og publisering
GenericName[nl]=Paginaopmaak en publicatie
GenericName[no]=Sideoppsett og publisering
GenericName[pl]=Skład i publikacja
GenericName[pt]=Paginação e publicação
GenericName[ro]=Paginare și publicare
GenericName[sk]=Zalomenie a publikovanie stránky
GenericName[sl]=Postavitev strani in objava
GenericName[sr]=Прелом странице и публикација
GenericName[sv]=Sidlayout och publicering
GenericName[te]=పేజీ లేఅవుట్ మరియు ప్రచురణ
GenericName[tl]=Layout ng pahina at publikasyon
GenericName[tr]=Sayfa düzeni ve yayıncılık
GenericName[uk]=Макет сторінки та публікація
GenericName[vi]=Bố cục trang và xuất bản
TryExec=scribus
Exec=scribus %f
Terminal=false
MimeType=application/vnd.scribus;
Categories=Qt;Graphics;Publishing;
StartupWMClass=scribus
StartupNotify=false
