[Desktop Entry]
Name=Searchmonkey
Name[az]=Searchmonkey
Name[bg]=Searchmonkey
Name[bn]=সার্চমানকি
Name[ca]=Searchmonkey
Name[cs]=Searchmonkey
Name[da]=Searchmonkey
Name[de]=Suchaffe
Name[el]=Αναζήτηση μαϊμού
Name[eo]=Serĉsimio
Name[es]=Searchmonkey
Name[et]=Searchmonkey
Name[fi]=Searchmonkey
Name[fr]=Searchmonkey
Name[hi]=खोजबंदर
Name[hr]=Searchmonkey
Name[hu]=Searchmonkey
Name[id]=Searchmonkey
Name[it]=Cercascimmia
Name[ja]=サーチモンキー
Name[ko]=검색원숭이
Name[lt]=Searchmonkey
Name[lv]=Searchmonkey
Name[ms]=Cari monyet
Name[nb]=Searchmonkey
Name[nl]=Zoekaap
Name[no]=Searchmonkey
Name[pl]=Searchmonkey
Name[pt]=Searchmonkey
Name[ro]=Căutare maimuță
Name[sk]=Vyhľadávacia opica
Name[sl]=Searchmonkey
Name[sr]=Сеарцхмонкеи
Name[sv]=Searchmonkey
Name[te]=శోధన కోతి
Name[tl]=Searchmonkey
Name[tr]=Arama maymunu
Name[uk]=Searchmonkey
Name[vi]=Tìm kiếm
Name[zh]=搜索猴子
Comment=Search files with many options, regex, inside contents, etc
Comment[az]=Bir çox variantı olan faylları axtarın, regex, daxili məzmun və s
Comment[bg]=Търсете файлове с много опции, регулярен израз, вътрешно съдържание и т.н
Comment[bn]=অনেক অপশন, regex, ভিতরের বিষয়বস্তু ইত্যাদি সহ ফাইল অনুসন্ধান করুন
Comment[ca]=Cerca fitxers amb moltes opcions, expresions regulars, continguts interiors, etc
Comment[cs]=Prohledávejte soubory s mnoha možnostmi, regulárním výrazem, vnitřním obsahem atd
Comment[da]=Søg filer med mange muligheder, regex, indvendigt indhold osv
Comment[de]=Durchsuchen Sie Dateien mit vielen Optionen, Regex, Inhalten im Inneren usw
Comment[el]=Αναζήτηση αρχείων με πολλές επιλογές, regex, εσωτερικά περιεχόμενα κ.λπ
Comment[eo]=Serĉu dosierojn per multaj opcioj, regulaj esprimoj, interna enhavo, ktp.
Comment[es]=Busque archivos con muchas opciones, expresiones regulares, contenido interno, etc.
Comment[et]=Otsige faile paljude valikutega, regex, sisemine sisu jne
Comment[fi]=Hae tiedostoja useilla vaihtoehdoilla, regexillä, sisäisillä sisällöillä jne
Comment[fr]=Rechercher des fichiers avec de nombreuses options, regex, contenu intérieur, etc.
Comment[hi]=कई विकल्पों के साथ फ़ाइलें खोजें, रेगेक्स, सामग्री के अंदर, आदि
Comment[hr]=Pretražujte datoteke s mnogo opcija, regularnim izrazom, unutarnjim sadržajem itd
Comment[hu]=Fájlok keresése sok beállítással, regex, belső tartalom stb
Comment[id]=Cari file dengan banyak opsi, regex, konten di dalam, dll
Comment[it]=Cerca file con molte opzioni, regex, contenuti interni, ecc
Comment[ja]=多くのオプション、正規表現、内部コンテンツなどを含むファイルを検索します
Comment[ko]=많은 옵션, 정규식, 내부 콘텐츠 등으로 파일 검색
Comment[lt]=Ieškokite failų su daugybe parinkčių, reguliariosios išraiškos, vidinio turinio ir kt
Comment[lv]=Meklējiet failus ar daudzām opcijām, regulāru izteiksmi, iekšējo saturu utt
Comment[ms]=Cari fail dengan banyak pilihan, regex, kandungan dalam, dsb
Comment[nb]=Søk etter filer med mange alternativer, regulært uttrykk, innhold på innsiden, etc
Comment[nl]=Zoek bestanden met veel opties, regex, interne inhoud, enz
Comment[no]=Søk etter filer med mange alternativer, regulært uttrykk, innhold på innsiden, etc
Comment[pl]=Wyszukuj pliki z wieloma opcjami, wyrażeniami regularnymi, zawartością wewnętrzną itp
Comment[pt]=Pesquise arquivos com muitas opções, regex, conteúdo interno, etc.
Comment[ro]=Căutați fișiere cu multe opțiuni, regex, conținut interior etc
Comment[sk]=Vyhľadávajte súbory s mnohými možnosťami, regulárnym výrazom, vnútorným obsahom atď
Comment[sl]=Iskanje datotek s številnimi možnostmi, regularnimi izrazi, notranjo vsebino itd
Comment[sr]=Претражите датотеке са много опција, регуларних израза, унутрашњег садржаја итд
Comment[sv]=Sök efter filer med många alternativ, regex, inuti innehåll, etc
Comment[te]=అనేక ఎంపికలు, రీజెక్స్, ఇన్సైడ్ కంటెంట్లు మొదలైన వాటితో ఫైల్లను శోధించండి
Comment[tl]=Maghanap ng mga file na may maraming mga pagpipilian, regex, mga nilalaman sa loob, atbp
Comment[tr]=Birçok seçenek, normal ifade, iç içerik vb. Içeren dosyaları arayın
Comment[uk]=Пошук файлів із багатьма параметрами, регулярними виразами, внутрішнім вмістом тощо
Comment[vi]=Tìm kiếm tệp có nhiều tùy chọn, regex, nội dung bên trong, v.v.
Comment[zh]=使用许多选项、正则表达式、内部内容等搜索文件
Exec=searchmonkey
Icon=searchmonkey
Type=Application
StartupNotify=false
Terminal=false
Categories=TextTools;Utility
