[Desktop Entry]
Name=Software and updates
Name[zh]=软件和更新
Name[az]=Proqram təminatı və yeniləmələr
Name[bg]=Софтуер и актуализации
Name[bn]=সফটওয়্যার এবং আপডেট
Name[ca]=Programari i actualitzacions
Name[cs]=Software a aktualizace
Name[da]=Software og opdateringer
Name[de]=Software und Updates
Name[el]=Λογισμικό και ενημερώσεις
Name[eo]=Programaro kaj ĝisdatigoj
Name[es]=Software y actualizaciones
Name[et]=Tarkvara ja värskendused
Name[fi]=Ohjelmistot ja päivitykset
Name[fr]=Logiciels et mises à jour
Name[hi]=सॉफ्टवेयर और अपडेट
Name[hr]=Softver i ažuriranja
Name[hu]=Szoftverek és frissítések
Name[id]=Perangkat lunak dan pembaruan
Name[it]=Software e aggiornamenti
Name[ja]=ソフトウェアとアップデート
Name[ko]=소프트웨어 및 업데이트
Name[lt]=Programinė įranga ir atnaujinimai
Name[lv]=Programmatūra un atjauninājumi
Name[ms]=Perisian dan kemas kini
Name[nb]=Programvare og oppdateringer
Name[nl]=Software en updates
Name[no]=Programvare og oppdateringer
Name[pl]=Oprogramowanie i aktualizacje
Name[pt]=Software e atualizações
Name[ro]=Software și actualizări
Name[sk]=Softvér a aktualizácie
Name[sl]=Programska oprema in posodobitve
Name[sr]=Софтвер и ажурирања
Name[sv]=Programvara och uppdateringar
Name[te]=సాఫ్ట్వేర్ మరియు అప్డేట్లు
Name[tl]=Software at mga pag-update
Name[tr]=Yazılım ve güncellemeler
Name[uk]=Програмне забезпечення та оновлення
Name[vi]=Phần mềm và bản cập nhật
GenericName=Software and updates
GenericName[zh]=软件和更新
GenericName[az]=Proqram təminatı və yeniləmələr
GenericName[bg]=Софтуер и актуализации
GenericName[bn]=সফটওয়্যার এবং আপডেট
GenericName[ca]=Programari i actualitzacions
GenericName[cs]=Software a aktualizace
GenericName[da]=Software og opdateringer
GenericName[de]=Software und Updates
GenericName[el]=Λογισμικό και ενημερώσεις
GenericName[eo]=Programaro kaj ĝisdatigoj
GenericName[es]=Software y actualizaciones
GenericName[et]=Tarkvara ja värskendused
GenericName[fi]=Ohjelmistot ja päivitykset
GenericName[fr]=Logiciels et mises à jour
GenericName[hi]=सॉफ्टवेयर और अपडेट
GenericName[hr]=Softver i ažuriranja
GenericName[hu]=Szoftverek és frissítések
GenericName[id]=Perangkat lunak dan pembaruan
GenericName[it]=Software e aggiornamenti
GenericName[ja]=ソフトウェアとアップデート
GenericName[ko]=소프트웨어 및 업데이트
GenericName[lt]=Programinė įranga ir atnaujinimai
GenericName[lv]=Programmatūra un atjauninājumi
GenericName[ms]=Perisian dan kemas kini
GenericName[nb]=Programvare og oppdateringer
GenericName[nl]=Software en updates
GenericName[no]=Programvare og oppdateringer
GenericName[pl]=Oprogramowanie i aktualizacje
GenericName[pt]=Software e atualizações
GenericName[ro]=Software și actualizări
GenericName[sk]=Softvér a aktualizácie
GenericName[sl]=Programska oprema in posodobitve
GenericName[sr]=Софтвер и ажурирања
GenericName[sv]=Programvara och uppdateringar
GenericName[te]=సాఫ్ట్వేర్ మరియు అప్డేట్లు
GenericName[tl]=Software at mga pag-update
GenericName[tr]=Yazılım ve güncellemeler
GenericName[uk]=Програмне забезпечення та оновлення
GenericName[vi]=Phần mềm và bản cập nhật
Comment=Configure the sources for installable software and updates
Comment[zh]=配置可安装软件和更新的来源
Comment[az]=Quraşdırıla bilən proqram və yeniləmələr üçün mənbələri konfiqurasiya edin
Comment[bg]=Конфигурирайте източниците за инсталируем софтуер и актуализации
Comment[bn]=ইনস্টলযোগ্য সফটওয়্যার এবং আপডেটের জন্য উৎস কনফিগার করুন
Comment[ca]=Configureu les fonts del programari i les actualitzacions instal·lables
Comment[eo]=Agordu la fontojn por instaleblaj programoj kaj ĝisdatigoj
Comment[et]=Seadistage installitava tarkvara ja värskenduste allikad
Comment[hi]=इंस्टॉल करने योग्य सॉफ़्टवेयर और अपडेट के लिए स्रोतों को कॉन्फ़िगर करें
Comment[id]=Konfigurasikan sumber untuk perangkat lunak dan pembaruan yang dapat diinstal
Comment[ja]=インストール可能なソフトウェアとアップデートのソースを構成する
Comment[lt]=Konfigūruokite įdiegtinos programinės įrangos ir naujinimų šaltinius
Comment[lv]=Konfigurējiet instalējamās programmatūras un atjauninājumu avotus
Comment[ms]=Konfigurasikan sumber untuk perisian dan kemas kini yang boleh dipasang
Comment[nb]=Konfigurer kildene for installerbar programvare og oppdateringer
Comment[no]=Konfigurer kildene for installerbar programvare og oppdateringer
Comment[sk]=Nakonfigurujte zdroje pre inštalovateľný softvér a aktualizácie
Comment[sl]=Konfigurirajte vire za namestljivo programsko opremo in posodobitve
Comment[sr]=Конфигуришите изворе за софтвер који се може инсталирати и ажурирања
Comment[te]=ఇన్స్టాల్ చేయగల సాఫ్ట్వేర్ మరియు అప్డేట్ల కోసం మూలాలను కాన్ఫిగర్ చేయండి
Comment[tl]=I-configure ang mga mapagkukunan para sa mai-install na software at mga pag-update
Comment[uk]=Налаштуйте джерела встановленого програмного забезпечення та оновлень
Comment[vi]=Định cấu hình các nguồn cho phần mềm có thể cài đặt và các bản cập nhật
Comment[cs]=Konfigurovat zdroje pro instalovatelný software a aktualizace
Comment[da]=Konfigurér kilderne for installérbar software og opdateringer
Comment[de]=Quellen zum Installieren von Software und Aktualisierungen einrichten
Comment[el]=Ρύθμιση των πηγών για λογισμικό και ενημερώσεις
Comment[en_AU]=Configure the sources for installable software and updates
Comment[en_GB]=Configure the sources for installable software and updates
Comment[es]=Configura los orígenes para el software instalable y las actualizaciones
Comment[fi]=Muokkaa asennettavien ohjelmien ja päivitysten lähteitä
Comment[fr]=Configurer les canaux logiciels (sources de mise à jour) et les mises à jour via Internet
Comment[gl]=Configurar as fontes para programas e actualizacións instalables
Comment[he]=הגדרת מקורות התוכנות להתקנה והעדכונים
Comment[hr]=Podesi repozitorije i nadogradnje
Comment[hu]=Telepíthető szoftverek és frissítések forrásának beállítása
Comment[it]=Configura le sorgenti per gli aggiornamenti e per il software installabile
Comment[ka]=პროგრამების დაყენებისა და განახლების წყაროების კონფიგურირება
Comment[ko]=설치할 수 있는 소프트웨어와 업데이트를 위한 소스를 설정
Comment[ku]=Ji bo nivîsbarî û rojanekirinên têne sazkirin çavkaniyan veava bike
Comment[nl]=Softwarekanalen en internet-updates configureren
Comment[pl]=Konfiguruj źródła pakietów oprogramowania i aktualizacji
Comment[pt]=Configurar os repositórios de software e actualizações instaláveis
Comment[pt_BR]=Configurar as fontes de aplicativos e atualizações
Comment[ro]=Configurează sursele pentru software instalabil şi actualizări
Comment[ru]=Настроить источники установки программ и обновлений
Comment[sv]=Konfigurera källorna för installerbara programvaror och uppdateringar
Comment[th]=ปรับแต่งแหล่งสำหรับซอฟต์แวร์และปรับปรุงที่ติดตั้งได้
Comment[tr]=Kurulabilir yazılım ve güncellemeler için kaynakları yapılandır
Comment[zh_CN]=设定可安装和升级的源
Comment[zh_TW]=設置可安裝的軟體及更新部份之來源。
Keywords=Drivers;Repositories;Repository;PPA;
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
X-MultipleArgs=false
Type=Application
NotShowIn=GNOME;
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
X-GNOME-Settings-Panel=software-properties
X-Unity-Settings-Panel=software-properties
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties

NoDisplay=true
OnlyShowIn=Unity;
