[Desktop Entry]
Keywords=Drivers;
Exec=/usr/bin/software-properties-gtk --open-tab=4
Icon=jockey
Terminal=false
Type=Application
NotShowIn=GNOME;Unity;KDE;
Categories=X-XFCE;GTK;Settings;HardwareSettings
Name=Additional Drivers
Name[es]=Controladores adicionales
Comment=Configure third-party and proprietary drivers
Comment[es]=Configure controladores privativos y de terceros
X-AppStream-Ignore=true
NoDisplay=true
