[Desktop Entry]
Keywords=Drivers;
Exec=/usr/bin/software-properties-gtk --open-tab=4
Icon=jockey
Terminal=false
Type=Application
NotShowIn=GNOME;Unity;KDE;
Categories=X-XFCE;GTK;Settings;HardwareSettings
Name=Additional Drivers
Name[zh]=额外的驱动程序
Name[az]=Əlavə Sürücülər
Name[bg]=Допълнителни драйвери
Name[bn]=অতিরিক্ত ড্রাইভার
Name[ca]=Controladors addicionals
Name[cs]=Další ovladače
Name[da]=Yderligere drivere
Name[de]=Zusätzliche Treiber
Name[el]=Πρόσθετα προγράμματα οδήγησης
Name[eo]=Pliaj Ŝoforoj
Name[et]=Täiendavad draiverid
Name[fi]=Lisäohjaimet
Name[fr]=Pilotes supplémentaires
Name[hi]=अतिरिक्त चालक
Name[hr]=Dodatni upravljački programi
Name[hu]=További illesztőprogramok
Name[id]=Driver Tambahan
Name[it]=Guidatori aggiuntivi
Name[ja]=追加のドライバー
Name[ko]=추가 드라이버
Name[lt]=Papildomi vairuotojai
Name[lv]=Papildu draiveri
Name[ms]=Pemandu Tambahan
Name[nb]=Ekstra drivere
Name[nl]=Extra stuurprogramma's
Name[no]=Ekstra drivere
Name[pl]=Dodatkowe sterowniki
Name[pt]=Motoristas Adicionais
Name[ro]=Drivere suplimentare
Name[sk]=Dodatočné ovládače
Name[sl]=Dodatni gonilniki
Name[sr]=Додатни управљачки програми
Name[sv]=Ytterligare förare
Name[te]=అదనపు డ్రైవర్లు
Name[tl]=Karagdagang Mga Driver
Name[tr]=Ek sürücüler
Name[uk]=Додаткові драйвери
Name[vi]=Trình điều khiển bổ sung
Name[es]=Controladores adicionales
Comment=Configure third-party and proprietary drivers
Comment[zh]=配置第三方和专有驱动程序
Comment[az]=Üçüncü tərəf və mülkiyyət sürücülərini konfiqurasiya edin
Comment[bg]=Конфигурирайте драйвери на трети страни и собственици
Comment[bn]=তৃতীয় পক্ষ এবং মালিকানাধীন ড্রাইভার কনফিগার করুন
Comment[ca]=Configureu controladors propietaris i de tercers
Comment[cs]=Konfigurujte ovladače třetích stran a vlastní ovladače
Comment[da]=Konfigurer tredjeparts- og proprietære drivere
Comment[de]=Konfigurieren von Drittanbieter- und proprietären Treibern
Comment[el]=Διαμόρφωση προγραμμάτων οδήγησης τρίτων και ιδιοκτησίας
Comment[eo]=Agordi triaj kaj posedaj peliloj
Comment[et]=Seadistage kolmanda osapoole ja varalised draiverid
Comment[fi]=Määritä kolmannen osapuolen ja omat ohjaimet
Comment[fr]=Configurer des pilotes tiers et propriétaires
Comment[hi]=तृतीय-पक्ष और मालिकाना ड्राइवरों को कॉन्फ़िगर करें
Comment[hr]=Konfigurirajte upravljačke programe trećih strana i vlasnike
Comment[hu]=Harmadik féltől származó és saját illesztőprogramok beállítása
Comment[id]=Konfigurasikan driver pihak ketiga dan berpemilik
Comment[it]=Configura driver di terze parti e proprietari
Comment[ja]=サードパーティおよび独自のドライバーを構成する
Comment[ko]=타사 및 독점 드라이버 구성
Comment[lt]=Konfigūruokite trečiųjų šalių ir patentuotas tvarkykles
Comment[lv]=Konfigurējiet trešo pušu un patentētus draiverus
Comment[ms]=Konfigurasikan pemacu pihak ketiga dan proprietari
Comment[nb]=Konfigurer tredjeparts og proprietære drivere
Comment[nl]=Configureer stuurprogramma's van derden en eigen stuurprogramma's
Comment[no]=Konfigurer tredjeparts og proprietære drivere
Comment[pl]=Skonfiguruj sterowniki firm trzecich i zastrzeżone
Comment[pt]=Configure drivers de terceiros e proprietários
Comment[ro]=Configurați drivere terțe și proprietare
Comment[sk]=Konfigurujte ovládače tretích strán a vlastníctvo
Comment[sl]=Konfigurirajte gonilnike drugih proizvajalcev in lastniške gonilnike
Comment[sr]=Конфигуришите независне управљачке програме и управљачке програме
Comment[sv]=Konfigurera tredjeparts- och proprietära drivrutiner
Comment[te]=మూడవ పక్షం మరియు యాజమాన్య డ్రైవర్లను కాన్ఫిగర్ చేయండి
Comment[tl]=I-configure ang mga driver ng third-party at pagmamay-ari
Comment[tr]=Üçüncü taraf ve tescilli sürücüleri yapılandırın
Comment[uk]=Налаштування сторонніх та власних драйверів
Comment[vi]=Định cấu hình trình điều khiển của bên thứ ba và trình điều khiển độc quyền
Comment[es]=Configure controladores privativos y de terceros
X-AppStream-Ignore=true

NoDisplay=true
OnlyShowIn=Unity;
