[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Spotify
GenericName=Music online
GenericName[az]=Musiqi online
GenericName[bg]=Музика онлайн
GenericName[bn]=সঙ্গীত অনলাইন
GenericName[ca]=Música en línia
GenericName[cs]=Hudba online
GenericName[da]=Musik online
GenericName[de]=Musik online
GenericName[el]=Μουσική σε απευθείας σύνδεση
GenericName[en]=Music online
GenericName[eo]=Muziko enrete
GenericName[es]=Música en línea
GenericName[et]=Muusika veebis
GenericName[fi]=Musiikki verkossa
GenericName[fr]=Musique en ligne
GenericName[hi]=संगीत ऑनलाइन
GenericName[hr]=Glazba na mreži
GenericName[hu]=Zene online
GenericName[id]=Musik online
GenericName[it]=Musica online
GenericName[ja]=音楽オンライン
GenericName[ko]=음악 온라인
GenericName[lt]=Muzika internete
GenericName[lv]=Mūzika tiešsaistē
GenericName[ms]=Muzik dalam talian
GenericName[nb]=Musikk på nettet
GenericName[nl]=Muziek online
GenericName[no]=Musikk på nettet
GenericName[pl]=Muzyka online
GenericName[pt]=Música online
GenericName[ro]=Muzică online
GenericName[sk]=Hudba online
GenericName[sl]=Glasba na spletu
GenericName[sr]=Музика онлине
GenericName[sv]=Musik på nätet
GenericName[te]=సంగీతం ఆన్లైన్
GenericName[tl]=Musika online
GenericName[tr]=Çevrimiçi müzik
GenericName[uk]=Музика онлайн
GenericName[vi]=Âm nhạc trực tuyến
Categories=AudioVideo;Audio;Music;WebApp
StartupNotify=true
#NoDisplay=false
Icon=spotify
Exec=web-launcher --app=http://play.spotify.com
