[Desktop Entry]
Version=1.0
Name=Surf
GenericName=Simple and fast web browser
GenericName[az]=Sadə və sürətli web browser
GenericName[bg]=Прост и бърз уеб браузър
GenericName[bn]=সহজ এবং দ্রুত ওয়েব ব্রাউজার
GenericName[ca]=Navegador web senzill i ràpid
GenericName[cs]=Jednoduchý a rychlý webový prohlížeč
GenericName[da]=Enkel og hurtig webbrowser
GenericName[de]=Einfacher und schneller Webbrowser
GenericName[el]=Απλός και γρήγορος περιηγητής ιστού
GenericName[eo]=Simpla kaj rapida retumilo
GenericName[es]=Navegador web simple y rápido
GenericName[et]=Lihtne ja kiire veebibrauser
GenericName[fi]=Yksinkertainen ja nopea selain
GenericName[fr]=Navigateur web simple et rapide
GenericName[hi]=सरल और तेज वेब ब्राउज़र
GenericName[hr]=Jednostavan i brz web preglednik
GenericName[hu]=Egyszerű és gyors böngésző
GenericName[id]=Browser web yang sederhana dan cepat
GenericName[it]=Browser web semplice e veloce
GenericName[ja]=シンプルで高速なWebブラウザ
GenericName[ko]=간단하고 빠른 웹 브라우저
GenericName[lt]=Paprasta ir greita interneto naršyklė
GenericName[lv]=Vienkārša un ātra tīmekļa pārlūkprogramma
GenericName[ms]=Penyemak imbas web yang mudah dan pantas
GenericName[nb]=Enkel og rask nettleser
GenericName[nl]=Eenvoudige en snelle webbrowser
GenericName[no]=Enkel og rask nettleser
GenericName[pl]=Prosta i szybka przeglądarka internetowa
GenericName[pt]=Navegador web simples e rápido
GenericName[ro]=Browser web simplu și rapid
GenericName[sk]=Jednoduchý a rýchly webový prehliadač
GenericName[sl]=Preprost in hiter spletni brskalnik
GenericName[sr]=Једноставан и брз веб прегледач
GenericName[sv]=Enkel och snabb webbläsare
GenericName[te]=సాధారణ మరియు వేగవంతమైన వెబ్ బ్రౌజర్
GenericName[tl]=Simple at mabilis na web browser
GenericName[tr]=Basit ve hızlı web tarayıcısı
GenericName[uk]=Простий і швидкий веб-браузер
GenericName[vi]=Trình duyệt web đơn giản và nhanh chóng
Exec=surf "https://www.google.com"
TryExec=surf
Terminal=false
Type=Application
Icon=web-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=surf
StartupNotify=true
