[Desktop Entry]
Name=Synaptic Manager
GenericName=Installer of packages and applications
GenericName[az]=Paketlərin və proqramların quraşdırıcısı
GenericName[bg]=Инсталатор на пакети и приложения
GenericName[bn]=প্যাকেজ এবং অ্যাপ্লিকেশনের ইনস্টলার
GenericName[ca]=Instal·lador de paquets i aplicacions
GenericName[cs]=Instalátor balíčků a aplikací
GenericName[da]=Installatør af pakker og applikationer
GenericName[de]=Installer von Paketen und Anwendungen
GenericName[el]=Εγκαταστάτης πακέτων και εφαρμογών
GenericName[eo]=Instalilo de pakoj kaj aplikoj
GenericName[es]=Instalador de paquetes y aplicaciones
GenericName[et]=Pakettide ja rakenduste installija
GenericName[fi]=Pakettien ja sovellusten asennus
GenericName[fr]=Installateur de paquets et d'applications
GenericName[hi]=संकुल और अनुप्रयोगों के इंस्टॉलर
GenericName[hr]=Instalater paketa i aplikacija
GenericName[hu]=Csomagok és alkalmazások telepítője
GenericName[id]=Installer paket dan aplikasi
GenericName[it]=Installatore di pacchetti e applicazioni
GenericName[ja]=パッケージとアプリケーションのインストーラ
GenericName[ko]=패키지 및 응용 프로그램 설치 프로그램
GenericName[lt]=Paketų ir programų diegimas
GenericName[lv]=Iepakojumu un lietojumprogrammu instalēšana
GenericName[ms]=Pemasang pakej dan aplikasi
GenericName[nb]=Installer av pakker og applikasjoner
GenericName[nl]=Installateur van pakketten en applicaties
GenericName[no]=Installer av pakker og applikasjoner
GenericName[pl]=Instalator pakietów i aplikacji
GenericName[pt]=Instalador de pacotes e aplicativos
GenericName[ro]=Instalator de pachete și aplicații
GenericName[sk]=Inštalátor balíkov a aplikácií
GenericName[sl]=Namestitveni program paketov in aplikacij
GenericName[sr]=Инсталатер пакета и апликација
GenericName[sv]=Installerare av paket och applikationer
GenericName[te]=ప్యాకేజీలు మరియు అనువర్తనాల సంస్థాపిక
GenericName[tl]=Installer ng mga pakete at mga application
GenericName[tr]=Paketlerin ve uygulamaların yükleyicisi
GenericName[uk]=Установник пакетів та програм
GenericName[vi]=Trình cài đặt gói và ứng dụng
Comment=Install, remove and upgrade software packages
Comment[az]=Proqram paketlərini quraşdırın, çıxarın və yeniləyin
Comment[hr]=Instalirajte, uklonite i nadogradite softverske pakete
Comment[id]=Instal, hapus dan upgrade paket perangkat lunak
Comment[lv]=Instalējiet, noņemiet un atjauniniet programmatūras pakotnes
Comment[tl]=I-install, alisin at i-upgrade ang mga pakete ng software
Comment[vi]=Cài đặt, gỡ bỏ và nâng cấp các gói phần mềm
Comment[ar]=ثبّت، أزل وحدّث حزم البرامج
Comment[be]=Усталёўвае, выдаляе і абнаўляе пакеты
Comment[be@latin]=Instaluj, vydalaj i aktualizuj prahramnyja pakunki
Comment[bg]=Инсталиране, премахване и актуализиране на софтуерни пакети
Comment[bn]=সফটওয়্যার প্যাকেজ ইনস্টল, অপসারণ এবং আপগ্রেড
Comment[br]=Staliañ, dilemel hag hizivaat meziantoù
Comment[bs]=Instaliraj, ukloni i nadogradi softverske pakete
Comment[ca]=Instal·la, elimina i actualitza paquets de programari
Comment[ca@valencia]=Instal·la, elimina i actualitza paquets de programari
Comment[cs]=Nainstalovat, odstranit a aktualizovat balíky
Comment[da]=Installér, fjern og opgradér softwarepakker
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[el]=Εγκατάσταση, απομάκρυνση και αναβάθμιση πακέτων λογισμικού
Comment[en_AU]=Install, remove and upgrade software packages
Comment[en_GB]=Install, remove and upgrade software packages
Comment[eo]=Instali, forigi kaj promocii programarajn pakaĵojn
Comment[es]=Instalar, desinstalar y actualizar los paquetes de software
Comment[et]=Paigalda, eemalda ja uuenda tarkvarapakette
Comment[eu]=Instalatu, kendu eta bertsio-berritu software-paketeak
Comment[fi]=Asenna, poista ja päivitä ohjelmistopaketteja
Comment[fr]=Installer, désinstaller et mettre à jour les paquets de logiciels
Comment[gl]=Instalar, retirar e anovar os paquetes de software
Comment[he]=התקנה, הסרה ושדרוג חבילות תכנה.
Comment[hi]=सॉफ्टवेयर पैकेजों की स्थापना, अद्यतन करें या उन्हें हटाएं.
Comment[hu]=Csomagok telepítése, törlése és frissítése
Comment[it]=Installa, rimuove e aggiorna i pacchetti software
Comment[ja]=ソフトウェアパッケージのインストール、削除またはアップグレード
Comment[ko]=소프트웨어 패키지를 설치, 지우기, 업그레이드
Comment[ku]=Pakêtên nivîsbariyê saz bike, jê bibe û bilindbike
Comment[lt]=Įdiekite, šalinkite ir atnaujinkite programų paketus
Comment[mk]=Инсталирајте, отстранете или надградете софтверски пакети
Comment[ms]=Pasang, buang dan tatar pakej perisian
Comment[nb]=Installer, fjern eller oppgrader programpakker
Comment[nl]=Softwarepakketten installeren, verwijderen en opwaarderen
Comment[no]=Installer, fjern eller oppgrader programvare pakker
Comment[pl]=Instalacja, usuwanie i aktualizacja pakietów z oprogramowaniem
Comment[pt]=Instalar, remover e actualizar pacotes
Comment[pt_BR]=Instalar, remover e atualizar pacotes de software
Comment[ro]=Instalează, dezinstalează și actualizează pachete de programe
Comment[ru]=Установить, удалить и обновить пакеты
Comment[sk]=Inštalovať, odstrániť alebo aktualizovať softvérové balíky
Comment[sl]=Namestitev, odstranjevanje in nadgradnja programskih paketov
Comment[sr]=Инсталирајте, уклоните и надоградите пакете програма
Comment[sr@Latn]=Instaliraj, ukloni i nadogradi softverske pakete
Comment[sv]=Installera, ta bort och uppgradera programpaket
Comment[te]=సాఫ్ట్‍వేర్ ప్యాకేజీలను స్థాపించండి, తొలగించండి, ఉన్నతీకరించండి
Comment[th]=ติดตั้ง ถอดถอน และปรับรุ่นแพกเกจซอฟต์แวร์
Comment[tr]=Paketleri kur, kaldır ya da yükselt
Comment[uk]=Встановлення, вилучення та оновлення пакунків програмного забезпечення
Comment[xh]=Faka, susa uze uphucule imiqulu yesoftware
Comment[zh_CN]=安装，删除和升级软件包
Comment[zh_TW]=安裝、移除及升級套件
TryExec=synaptic-pkexec
Exec=synaptic-pkexec
Icon=synaptic
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=synaptic
