[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TED
GenericName=Ideas worth spreading
GenericName[az]=Yayılmağa dəyər fikirlər
GenericName[bg]=Идеи, които си струват да се разпространяват
GenericName[bn]=ছড়িয়ে থাকা ধারণাগুলি
GenericName[ca]=Idees dignes de difondre
GenericName[cs]=Nápady, které stojí za to šířit
GenericName[da]=Ideer værd at sprede
GenericName[de]=Ideen, die es Wert sind verbreitet zu werden
GenericName[el]=Ιδέες που αξίζει να διαδοθούν
GenericName[en]=Ideas worth spreading
GenericName[eo]=Ideoj valoras valori
GenericName[es]=Ideas dignas de difundir
GenericName[et]=Jagamist väärt ideed
GenericName[fi]=Jakamisen arvoisia ideoita
GenericName[fr]=Des idées qui méritent d'être diffusées
GenericName[hi]=फैलाने लायक विचार
GenericName[hr]=Ideje koje vrijedi širiti
GenericName[hu]=Ötletek, amiket érdemes továbbadni
GenericName[id]=Ide patut disebarkan
GenericName[it]=Idee utili da divulgare
GenericName[ja]=価値のあるアイデア
GenericName[ko]=확산 가치가 아이디어
GenericName[lt]=Idėjos vertos skleisti
GenericName[lv]=Idejas, kuras vērts izplatīt
GenericName[ms]=Idea yang perlu disebarkan
GenericName[nb]=Ideer verdt å spre
GenericName[nl]=Ideeën die het waard zijn verspreid te worden
GenericName[no]=Ideer verdt å spre
GenericName[pl]=Idee warte rozprzestrzenienia
GenericName[pt]=Idéias que vale a pena espalhar
GenericName[ro]=Ideile merita raspandite
GenericName[sk]=Nápady hodné šírenia
GenericName[sl]=Ideje vredne širjenja
GenericName[sr]=Идеје вредне ширења
GenericName[sv]=Idéer värda att sprida
GenericName[te]=విస్త్రృత పరచే వీలున్న ఆలోచనలు
GenericName[tl]=Mga ideya na nagkakalat
GenericName[tr]=Yaymaya değer fikirler
GenericName[uk]=Ідеї ​​варто поширювати
GenericName[vi]=Ý tưởng giá trị lan rộng
Categories=Education;WebApp
StartupNotify=true
#NoDisplay=false
Icon=video
Exec=web-launcher --app=http://www.ted.com
