[Desktop Entry]
Encoding=UTF-8
Name=Thunar File Manager
Name[ar]=مدير الملفات Thunar
Name[be]=Кіраўнік файлаў Thunar
Name[ca]=Gestor de fitxers Thunar
Name[cs]=Správce souborů Thunar
Name[de]=Thunar Dateimanager
Name[dz]=ཐུ་ནར་ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής αρχείων Thunar
Name[en_GB]=Thunar File Manager
Name[eo]=Thunar dosier-administrilo
Name[es]=Administrador de Archivos Thunar
Name[et]=Fail haldur Thunar
Name[eu]=Thunar Fitxategi Kudeatzailea
Name[fi]=Thunar-tiedostonhallinta
Name[fr]=Gestionnaire de Fichiers Thunar
Name[gl]=Xestor de ficheiros do Thunar
Name[he]=סייר קבצים "%s"
Name[hu]=Thunar fájlkezelő
Name[it]=Thunar File Manager
Name[ja]=Thunar ファイルマネージャー
Name[ko]=Thunar 화일 관리자
Name[lv]=Thunar Failu Pārvaldnieks
Name[mk]=Thunar менаџер на датотеки
Name[nb_NO]=Thunar Filbehandler
Name[nl]=Thunar bestandsbeheerder
Name[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików Thunar
Name[pt_BR]=Gerenciador de Arquivos Thunar
Name[pt_PT]=Gestor de Ficheiros Thunar
Name[ro]=Administratorul de fişiere Thunar
Name[ru]=Файловый менеджер Thunar
Name[sk]=Správca súborov Thunar
Name[sq]=Përgjegjësi i Kartelave Thunar
Name[sv]=Filhanteraren Thunar
Name[tr]=Thunar Dosya Yöneticisi
Name[uk]=Файловий менеджер Thunar
Name[ur]=تھنر فائل منیجر
Name[zh_CN]=Thunar 文件管理器
Name[zh_TW]=Thunar 檔案管理程式
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات الجهاز بمدير الملفات
Comment[be]=Вандроўка па файлавай сыстэме з кіраўніком файлаў
Comment[ca]=Navega el sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[de]=Das Dateisystem im Dateimanager anzeigen
Comment[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ་དང་བཅས་ཡིག་སྣོད་རིམ་ལུགས་འདི་བརྡ་འཚོལ་འབད།
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Explorar el sistema de ficheros con el administrador de archivos
Comment[et]=Sirvi failisüsteemi faili halduriga
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explora-lo sistema de ficheiros co xestor de ficheiros
Comment[he]=עיין במערכת הקבצים עם מנהל הקבצים
Comment[hu]=Fájlrendszer böngészése a fájlkezelővel
Comment[it]=Esplora il filesystem con il file manager
Comment[ja]=ファイルマネージャーでファイルシステムを閲覧します
Comment[ko]=화일 관리자로 화일시스템을 탐색합니다.
Comment[lv]=Pārlūko failsistēmu ar failu pārvaldnieku
Comment[mk]=Пребарајте го датотечниот систем со менаџерот на датотки
Comment[nb_NO]=Utforsk filsystemet med filbehandleren
Comment[nl]=Met de bestandsbeheerder door het bestandssysteem bladeren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przeglądaj system plików
Comment[pt_BR]=Navegar o sistema de arquivos com o gerenciador de arquivos
Comment[pt_PT]=Navegar o sistema de ficheiros com o gestor de ficheiros
Comment[ro]=Navigare în sistemul de fişiere cu administratorul de fişiere
Comment[ru]=Просмотр файловой системы с помощью файлового менеджера
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sq]=Shfletoni sistemin e kartelave me përgjegjësin e kartelave
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[tr]=Dosya yöneticisi ile gezin
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[ur]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[zh_CN]=使用文件管理器浏览文件系统
Comment[zh_TW]=使用檔案管理程式瀏覽檔案系統
GenericName=File Manager
GenericName[ar]=مدير الملفات
GenericName[be]=Кіраўнік файлаў
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[de]=Dateimanager
GenericName[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosier-administrilo
GenericName[es]=Administrador de Archivos
GenericName[et]=Fali haldur
GenericName[eu]=Fitxategi Kudeatzailea
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[hu]=Fájlkezelő
GenericName[it]=File Manager
GenericName[ja]=ファイルマネージャー
GenericName[ko]=화일 관리자
GenericName[lv]=Failu Pārvaldnieks
GenericName[mk]=Менаџер на датотеки
GenericName[nb_NO]=Filbehandler
GenericName[nl]=Bestandsbeheerder
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[pt_PT]=Gestor de Ficheiros
GenericName[ro]=Administrator de fişiere
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sq]=Përgjegjës Kartelash 
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetimi
GenericName[uk]=Файловий менеджер
GenericName[ur]=فائل منیجر
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理程式
Exec=Thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;FileManager;

# vi:set encoding=UTF-8:
