[Desktop Entry]
Encoding=UTF-8
Name=Bulk Rename
Name[ar]=تغيير اسم مجموعة
Name[be]=Буйное перайменаваньне
Name[ca]=Canvi de nom en bloc
Name[cs]=Bulk Rename
Name[de]=Bulk-Rename
Name[dz]=སྦུང་ཚད་ཅན་བསྐྱར་མིང་བཏགས།
Name[el]=Μαζική μετονομασία
Name[en_GB]=Bulk Rename
Name[eo]=Amasa Renomilo
Name[es]=Renombrador Masivo
Name[et]=Hulganisti ümbernimetus
Name[eu]=Berrizendatu...
Name[fi]=Joukkonimeäjä
Name[fr]=Renommer en masse
Name[gl]=Renomeador masivo
Name[hu]=Csoportos átnevezés
Name[it]=Bulk Rename
Name[ja]=バルクリネーム
Name[ko]=일괄 이름변경
Name[lv]=Masu Pārdēvēšana
Name[mk]=Bulk Rename
Name[nb_NO]=Gi nytt navn (Bulk)
Name[nl]=Massaal hernoemen
Name[pa]=ਬਲਕ ਰੀ-ਨੇਮ
Name[pl]=Zmień nazwę
Name[pt_BR]=Renomear em Massa
Name[pt_PT]=Renomear em Massa
Name[ro]=Redenumire în masă
Name[ru]=Массовое переименование
Name[sk]=Hromadné premenovanie
Name[sq]=Riemërtim në Masë
Name[sv]=Massomdöpning
Name[tr]=Toplu Yeniden Adlandırma
Name[uk]=Масове перейменування
Name[ur]=بلک رینیم
Name[zh_CN]=批量重命名
Name[zh_TW]=批次重新命名
Comment=Rename Multiple Files
Comment[ar]=تغيير إسم عدة ملفات
Comment[be]=Перайменаваньне некалькіх файлаў
Comment[ca]=Canvia el nom de multiples fitxers
Comment[cs]=Přejmenovat skupinu souborů
Comment[de]=Mehrere Dateien gleichzeitig umbenennen
Comment[dz]=སྣ་མང་ཡིག་སྣོད་ཚུ་བསྐྱར་མིང་བཏགས།
Comment[el]=Μετονομασία πολλαπλών αρχείων
Comment[en_GB]=Rename Multiple Files
Comment[eo]=Renomigu Multajn Dosierojn
Comment[es]=Renombrar Múltiples Ficheros
Comment[et]=Nimeta palju faile ümber
Comment[eu]=Fitxategia anitz berrizendatu
Comment[fi]=Nimeä useita tiedostoja uudelleen
Comment[fr]=Renommer plusieurs fichiers
Comment[gl]=Renomear múltiplos ficheiros
Comment[he]=שנה שמות קבצים רבים
Comment[hu]=Több fájl átnevezése
Comment[it]=Rinomina più file
Comment[ja]=複数のファイル名を変更します
Comment[ko]=다중 화일의 이름을 바꿉니다.
Comment[lv]=Pārdēvēt Vairākus Failus
Comment[mk]=Преименувај повеќе датотеки
Comment[nb_NO]=Gi nytt navn til _mange filer
Comment[nl]=Meerdere bestanden hernoemen
Comment[pa]=ਕਈ ਫਾਇਲਾਂ ਦਾ ਨਾਂ ਬਦਲੋ
Comment[pl]=Zmień nazwy wielu plików
Comment[pt_BR]=Renomear Múltiplos Arquivos
Comment[pt_PT]=Renomear Múltiplos Ficheiros
Comment[ro]=Redenumire în masă de fişiere
Comment[ru]=Переименование нескольких файлов
Comment[sk]=Hromadné premenovanie
Comment[sq]=Riemërto Shumë Kartela
Comment[sv]=Byt namn på flera filer
Comment[tr]=Çoklu Dosyaları Yeniden Adlandır
Comment[uk]=Перейменування декілька файлів
Comment[ur]=متعدد فائلوں کا نام بدلیں
Comment[zh_CN]=重命名多个文件
Comment[zh_TW]=重新命名多個檔案
GenericName=Bulk Rename
GenericName[ar]=تغيير اسم مجموعة
GenericName[be]=Буйное перайменаваньне
GenericName[ca]=Canvi de nom en bloc
GenericName[cs]=Bulk Rename
GenericName[de]=Bulk-Rename
GenericName[dz]=སྦུང་ཚད་ཅན་བསྐྱར་མིང་བཏགས།
GenericName[el]=Μαζική μετονομασία
GenericName[en_GB]=Bulk Rename
GenericName[eo]=Amasa Renomilo
GenericName[es]=Renombrador Masivo
GenericName[et]=Hulganisti ümbernimetus
GenericName[eu]=Berrizendatu...
GenericName[fi]=Joukkonimeäjä
GenericName[fr]=Renommer en masse
GenericName[gl]=Renomeador masivo
GenericName[hu]=Csoportos átnevezés
GenericName[it]=Bulk Rename
GenericName[ja]=バルクリネーム
GenericName[ko]=일괄 이름변경
GenericName[lv]=Masu Pārdēvēšana
GenericName[mk]=Bulk Rename
GenericName[nb_NO]=Gi nytt navn (Bulk)
GenericName[nl]=Massaal hernoemen
GenericName[pa]=ਬਲਕ ਰੀ-ਨੇਮ
GenericName[pl]=Zmień nazwę
GenericName[pt_BR]=Renomear em Massa
GenericName[pt_PT]=Renomear em Massa
GenericName[ro]=Redenumire în masă
GenericName[ru]=Массовое переименование
GenericName[sk]=Hromadné premenovanie
GenericName[sq]=Riemërtim në Masë
GenericName[sv]=Massomdöpning
GenericName[tr]=Toplu Yeniden Adlandırma
GenericName[uk]=Масове перейменування
GenericName[ur]=بلک رینیم
GenericName[zh_CN]=批量重命名
GenericName[zh_TW]=批次重新命名
Exec=/usr/lib/thunar/ThunarBulkRename %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;System;Utility;Core;GTK;Filesystem;
NoDisplay=true

# vi:set encoding=UTF-8:
