[Desktop Entry]
Encoding=UTF-8
Name=Thunar File Manager
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Exec=Thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;FileManager;

# vi:set encoding=UTF-8:
