[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TROM
GenericName=Documentary
GenericName[az]=Sənədli
GenericName[ca]=Documental
GenericName[cs]=Dokumentární
GenericName[da]=Dokumentar
GenericName[de]=Dokumentarfilm
GenericName[en]=Documentary
GenericName[eo]=Dokumenta filmo
GenericName[es]=Documental
GenericName[et]=Dokumentaalne
GenericName[fi]=Dokumenttielokuva
GenericName[fr]=Documentaire
GenericName[hr]=Dokumentarni film
GenericName[hu]=Dokumentumfilm
GenericName[id]=Dokumenter
GenericName[it]=Documentario
GenericName[lt]=Dokumentinis filmas
GenericName[lv]=Dokumentālā filma
GenericName[ms]=Dokumentari
GenericName[nb]=Dokumentar
GenericName[nl]=Documentaire
GenericName[no]=Dokumentar
GenericName[pl]=Film dokumentalny
GenericName[pt]=Documentário
GenericName[ro]=Film documentar
GenericName[sk]=Dokumentárne
GenericName[sl]=Dokumentarni
GenericName[sv]=Dokumentär
GenericName[tl]=Dokumentaryo
GenericName[tr]=Belgesel
GenericName[vi]=Phim tài liệu
Categories=Education;WebApp
StartupNotify=true
NoDisplay=false
Icon=video
Exec=web-launcher --app=http://www.tromsite.com
