[Desktop Entry]
Name=Unison
Comment=Interface for the unison file synchronization tool
Comment[az]=Unison faylının sinxronizasiya alətinin interfeysi
Comment[bg]=Интерфейс за инструмента за синхронизиране на файлове за унифициране
Comment[bn]=একজোড়া ফাইল সিঙ্ক্রোনাইজেশন টুলের জন্য ইন্টারফেস
Comment[ca]=Interfície per a l'eina de sincronització d'arxius unison
Comment[cs]=Rozhraní pro nástroj synchronizace souborů Unison
Comment[da]=Interface til unison-filsynkroniseringsværktøjet
Comment[de]=Schnittstelle für das Unison-Dateisynchronisierungstool
Comment[el]=Διεπαφή για το εργαλείο συγχρονισμού αρχείων unison
Comment[eo]=Interfaco por la unisona dosiero sinkroniga ilo
Comment[es]=Interfaz para la herramienta de sincronización de archivos de unísono
Comment[et]=Unison-failide sünkroonimise tööriista liides
Comment[fi]=Interface for unison tiedoston synkronointityökalu
Comment[fr]=Interface pour l'outil de synchronisation de fichiers unison
Comment[hi]=एकीकरण फ़ाइल सिंक्रनाइज़ेशन टूल के लिए इंटरफ़ेस
Comment[hr]=Sučelje za unison file sinkronizaciju alata
Comment[hu]=Az unison fájlszinkronizáló eszköz interfésze
Comment[id]=Interface untuk alat sinkronisasi file serentak
Comment[it]=Interfaccia per lo strumento di sincronizzazione dei file di unison
Comment[ja]=ユニゾンファイル同期ツールのインタフェース
Comment[ko]=통합 파일 동기화 도구의 인터페이스
Comment[lt]=Sąsaja unison file synchronization tool
Comment[lv]=Unison faila sinhronizācijas rīka saskarne
Comment[ms]=Antara muka untuk alat penyegerakan fail serentak
Comment[nb]=Grensesnitt for unison filsynkroniseringsverktøy
Comment[nl]=Interface voor het Unison-bestandssynchronisatietool
Comment[no]=Grensesnitt for unison filsynkroniseringsverktøy
Comment[pl]=Interfejs do narzędzia synchronizacji plików unisono
Comment[pt]=Interface para a ferramenta de sincronização de arquivos Unison
Comment[ro]=Interfață pentru instrumentul de sincronizare a fișierelor unison
Comment[sk]=Rozhranie pre nástroj synchronizácie súborov unison
Comment[sl]=Vmesnik za orodje za sinhronizacijo datoteke za datoteke
Comment[sr]=Интерфејс за алат за синхронизацију унисон датотеке
Comment[sv]=Gränssnitt för unison-filsynkroniseringsverktyget
Comment[te]=అన్సాండ్ ఫైల్ సింక్రొనైజేషన్ టూల్ కోసం ఇంటర్ఫేస్
Comment[tl]=Interface para sa tool ng pag-synchronize ng unison file
Comment[tr]=Birleştirme dosyası senkronizasyon aracı arayüzü
Comment[uk]=Інтерфейс для універсального інструменту синхронізації файлів
Comment[vi]=Giao diện cho công cụ đồng bộ tập tin unison
GenericName=Backup and synchronize files among your computers
GenericName[az]=Kompüterləriniz arasında faylları zənginləşdirin və sinxronlaşdırın
GenericName[bg]=Архивирайте и синхронизирайте файлове между вашите компютри
GenericName[bn]=আপনার কম্পিউটারের মধ্যে ফাইলগুলির ব্যাকআপ এবং সিঙ্ক্রোনাইজ করুন
GenericName[ca]=Còpia de seguretat i sincronització de fitxers entre els equips
GenericName[cs]=Zálohujte a synchronizujte soubory mezi počítači
GenericName[da]=Sikkerhedskopier og synkroniser filer mellem dine computere
GenericName[de]=Sichern und synchronisieren Sie Dateien zwischen Ihren Computern
GenericName[el]=Δημιουργία αντιγράφων ασφαλείας και συγχρονισμός αρχείων μεταξύ των υπολογιστών σας
GenericName[eo]=Rezervu kaj sinkronigi dosierojn inter viaj komputiloj
GenericName[es]=Copia de seguridad y sincroniza archivos entre tus computadoras
GenericName[et]=Varundage ja sünkroonige faile arvutis
GenericName[fi]=Tietojen varmuuskopiointi ja synkronointi tietokoneiden välillä
GenericName[fr]=Sauvegarde et synchronisation de fichiers entre vos ordinateurs
GenericName[hi]=अपने कंप्यूटर में फ़ाइलों को बैकअप और सिंक्रनाइज़ करें
GenericName[hr]=Sigurnosno kopiranje i usklađivanje datoteka između vaših računala
GenericName[hu]=Fájlok biztonsági mentése és szinkronizálása számítógépek között
GenericName[id]=Backup dan sinkronkan file antar komputer Anda
GenericName[it]=Consente di eseguire il backup e sincronizzare i file tra i computer
GenericName[ja]=コンピュータ間でファイルをバックアップおよび同期する
GenericName[ko]=컴퓨터간에 파일 백업 및 동기화
GenericName[lt]=Atsarginė kopija ir sinchronizavimas failus tarp kompiuterių
GenericName[lv]=Backup un sinhronizējiet failus savā datorā
GenericName[ms]=Sandarkan dan segerakkan fail antara komputer anda
GenericName[nb]=Sikkerhetskopier og synkroniser filer mellom datamaskinene dine
GenericName[nl]=Back-up en synchronisatie van bestanden tussen uw computers
GenericName[no]=Sikkerhetskopier og synkroniser filer mellom datamaskinene dine
GenericName[pl]=Twórz kopie zapasowe i synchronizuj pliki między komputerami
GenericName[pt]=Faça backup e sincronize arquivos entre seus computadores
GenericName[ro]=Actualizați și sincronizați fișierele între computerele dvs.
GenericName[sk]=Zálohujte a synchronizujte súbory medzi počítačmi
GenericName[sl]=Varnostno kopirajte in sinhronizirajte datoteke med svojimi računalniki
GenericName[sr]=Правите резервне копије и синхронизујте датотеке између рачунара
GenericName[sv]=Säkerhetskopiera och synkronisera filer mellan dina datorer
GenericName[te]=బ్యాకప్ మరియు మీ కంప్యూటర్ల మధ్య ఫైళ్లను సమకాలీకరించండి
GenericName[tl]=I-backup at i-synchronise ang mga file sa iyong mga computer
GenericName[tr]=Dosyaları bilgisayarlarınız arasında yedekleyin ve senkronize edin
GenericName[uk]=Резервне копіювання та синхронізація файлів серед ваших комп'ютерів
GenericName[vi]=Sao lưu và đồng bộ hóa các tệp giữa các máy tính của bạn
TryExec=unison-gtk
Exec=unison-gtk
Terminal=false
X-MultipleArgs=false
Type=Application
#Icon=unison-2.52-gtk.svg
Icon=unison
#Categories=Utility;FileTools;GTK;
Categories=Utility;FileTools;
StartupWMClass=Unison-gtk
StartupNotify=true
