[Desktop Entry]
Name=USBView
Comment=View USB devices attached to system
Comment[az]=Sistemə qoşulmuş USB cihazlarına baxın
Comment[bg]=Вижте USB устройства, свързани към системата
Comment[bn]=সিস্টেমের সাথে সংযুক্ত ইউএসবি ডিভাইসগুলি দেখুন
Comment[ca]=Veure els dispositius USB connectats al sistema
Comment[cs]=Zobrazení zařízení USB připojených k systému
Comment[da]=Se USB-enheder tilsluttet systemet
Comment[de]=An das System angeschlossene USB-Geräte anzeigen
Comment[el]=Προβολή συσκευών USB που είναι συνδεδεμένες στο σύστημα
Comment[eo]=Rigardu USB-aparatojn ligitajn al sistemo
Comment[es]=Ver dispositivos USB conectados al sistema
Comment[et]=Vaadake süsteemiga ühendatud USB-seadmeid
Comment[fi]=Näytä järjestelmään liitetyt USB-laitteet
Comment[fr]=Afficher les périphériques USB connectés au système
Comment[hi]=सिस्टम से जुड़े यूएसबी डिवाइस देखें
Comment[hr]=Pogledajte USB uređaje priključene na sustav
Comment[hu]=A rendszerhez csatlakoztatott USB-eszközök megtekintése
Comment[id]=Lihat perangkat USB yang terpasang ke sistem
Comment[it]=Visualizza i dispositivi USB collegati al sistema
Comment[ja]=システムに接続されている USB デバイスを表示する
Comment[ko]=시스템에 연결된 USB 장치 보기
Comment[lt]=Peržiūrėkite prie sistemos prijungtus USB įrenginius
Comment[lv]=Skatiet sistēmai pievienotās USB ierīces
Comment[ms]=Lihat peranti USB yang dilampirkan pada sistem
Comment[nb]=Se USB-enheter koblet til systemet
Comment[nl]=Bekijk USB-apparaten die op het systeem zijn aangesloten
Comment[no]=Se USB-enheter koblet til systemet
Comment[pl]=Wyświetl urządzenia USB podłączone do systemu
Comment[pt]=Exibir dispositivos USB conectados ao sistema
Comment[ro]=Vizualizați dispozitivele USB atașate la sistem
Comment[sk]=Zobrazenie zariadení USB pripojených k systému
Comment[sl]=Oglejte si naprave USB, priključene na sistem
Comment[sr]=Погледајте УСБ уређаје прикључене на систем
Comment[sv]=Visa USB-enheter som är anslutna till systemet
Comment[te]=సిస్టమ్కు జోడించబడిన USB పరికరాలను వీక్షించండి
Comment[tl]=Tingnan ang mga USB device na naka-attach sa system
Comment[tr]=Sisteme bağlı USB aygıtlarını görüntüleyin
Comment[uk]=Перегляньте USB-пристрої, підключені до системи
Comment[vi]=Xem các thiết bị USB được gắn vào hệ thống
Comment[zh]=查看连接到系统的 USB 设备
Exec=su-to-root -X -c /usr/bin/usbview
Icon=usbview
Terminal=false
Type=Application
Keywords=USB;devices;connected;removable;
Categories=GTK;HardwareSettings;Settings;

NoDisplay=true
OnlyShowIn=Unity;
