[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Videoneat
GenericName=Curated science knowledge
GenericName[az]=Kütlənmiş elm bilikləri
GenericName[bg]=Известно научно познание
GenericName[bn]=কৌলিক বিজ্ঞান জ্ঞান
GenericName[ca]=Coneixement científic de comissariat
GenericName[cs]=Vypracované znalosti vědy
GenericName[da]=Kurateret videnskab viden
GenericName[de]=Kuriertes Wissenschaftswissen
GenericName[el]=Μαθητευόμενη γνώση της επιστήμης
GenericName[en]=Curated science knowledge
GenericName[eo]=Kuritaj sciencaj scioj
GenericName[es]=Conocimiento científico curado
GenericName[et]=Kujundatud teaduse teadmised
GenericName[fi]=Curated science knowledge
GenericName[fr]=Connaissance de la science organisée
GenericName[hi]=क्युरेटेड साइंस नॉलेज
GenericName[hr]=Kustosno znanje o znanosti
GenericName[hu]=Természettudományos ismeretek
GenericName[id]=Pengetahuan ilmu yang dikurasi
GenericName[it]=Conoscenza della scienza curata
GenericName[ja]=キュレートされた科学知識
GenericName[ko]=큐레이터 과학 지식
GenericName[lt]=Kuravintos mokslo žinios
GenericName[lv]=Kultūras zinātnes zināšanas
GenericName[ms]=Ilmu sains yang dikerjakan
GenericName[nb]=Kuratert vitenskapskunnskap
GenericName[nl]=Geïllustreerde wetenschappelijke kennis
GenericName[no]=Kuratert vitenskapskunnskap
GenericName[pl]=Kurowana wiedza naukowa
GenericName[pt]=Curated science knowledge
GenericName[ro]=Cunoștințe științifice învățate
GenericName[sk]=Vypracované vedecké poznatky
GenericName[sl]=Kurirano znanje znanosti
GenericName[sr]=Киран научно знање
GenericName[sv]=Kurerad vetenskaplig kunskap
GenericName[te]=విజ్ఞాన శాస్త్ర జ్ఞానం
GenericName[tl]=Kakaibang kaalaman sa agham
GenericName[tr]=Küratörlü bilim bilgisi
GenericName[uk]=Кураторське наукове знання
GenericName[vi]=Khoa học kiến ​​thức
Categories=Education;WebApp
StartupNotify=true
NoDisplay=false
Icon=video
Exec=web-launcher --app=http://www.videoneat.com
