[Desktop Entry]
Name=VirtualBox
GenericName=PC virtualization, computer simulator
GenericName[az]=PC virtualizasiyası, kompyuter simulyatoru
GenericName[bg]=PC виртуализация, компютърни симулатори
GenericName[bn]=পিসি ভার্চুয়ালাইজেশন, কম্পিউটার সিমুলেটর
GenericName[ca]=Virtualització de PC, simulador informàtic
GenericName[cs]=PC virtualizace, počítačový simulátor
GenericName[da]=PC virtualisering, computersimulator
GenericName[de]=PC-Virtualisierung, Computersimulator
GenericName[el]=Εικονικοποίηση υπολογιστή, προσομοιωτή υπολογιστή
GenericName[eo]=PC-virtualigo, komputila simulilo
GenericName[es]=Virtualización de PC, simulador de computadora
GenericName[et]=Arvuti virtualiseerimine, arvuti simulaator
GenericName[fi]=PC-virtualisointi, tietokone simulaattori
GenericName[fr]=Virtualisation PC, simulateur informatique
GenericName[hi]=पीसी वर्चुअलाइजेशन, कंप्यूटर सिम्युलेटर
GenericName[hr]=PC virtualizacija, računalni simulator
GenericName[hu]=PC virtualizáció, számítógépes szimulátor
GenericName[id]=PC virtualisasi, simulator komputer
GenericName[it]=Virtualizzazione del PC, simulatore di computer
GenericName[ja]=PC仮想化、コンピュータシミュレータ
GenericName[ko]=PC 가상화, 컴퓨터 시뮬레이터
GenericName[lt]=Kompiuterio virtualizavimas, kompiuterinis simuliatorius
GenericName[lv]=Datoru virtualizācija, datoru simulators
GenericName[ms]=Maya PC, simulator komputer
GenericName[nb]=PC-virtualisering, datasimulator
GenericName[nl]=PC-virtualisatie, computersimulator
GenericName[no]=PC-virtualisering, datasimulator
GenericName[pl]=Wirtualizacja komputerów, symulator komputerowy
GenericName[pt]=Virtualização de PC, simulador de computador
GenericName[ro]=PC virtualizare, simulator de calculator
GenericName[sk]=PC virtualizácia, počítačový simulátor
GenericName[sl]=PC virtualizacija, računalniški simulator
GenericName[sr]=ПЦ виртуелизација, рачунарски симулатор
GenericName[sv]=PC-virtualisering, datorsimulator
GenericName[te]=PC వాస్తవీకరణ, కంప్యూటర్ సిమ్యులేటర్
GenericName[tl]=PC virtualization, computer simulator
GenericName[tr]=PC sanallaştırma, bilgisayar simülatörü
GenericName[uk]=Віртуалізація ПК, комп'ютерний тренажер
GenericName[vi]=Ảo hóa máy tính, giả lập máy tính
Comment=Run several virtual systems on a single host computer
Comment[az]=Bir ana kompüterdə bir neçə virtual sistemin işə salınması
Comment[bg]=Изпълнявайте няколко виртуални системи на един хост компютър
Comment[bn]=একক হোস্ট কম্পিউটারে কয়েকটি ভার্চুয়াল সিস্টেম চালান
Comment[ca]=Executa diversos sistemes virtuals en una única màquina host
Comment[cs]=Spusťte několik virtuálních systémů na jednom hostitelském počítači
Comment[da]=Kør flere virtuelle systemer på en enkelt vært computer
Comment[el]=Εκτελέστε διάφορα εικονικά συστήματα σε έναν κεντρικό υπολογιστή
Comment[eo]=Kuri plurajn virtualajn sistemojn en sola gastigada komputilo
Comment[es]=Ejecuta varios sistemas virtuales en una sola computadora host
Comment[et]=Käivitage mitu virtuaalsüsteemi ühe arvutiga
Comment[fi]=Suorita useita virtuaalisia järjestelmiä yhdellä isäntätietokoneella
Comment[fr]=Exécuter plusieurs systèmes virtuels sur un seul ordinateur hôte
Comment[hi]=एक मेजबान कंप्यूटर पर कई वर्चुअल सिस्टम चलाएं
Comment[hr]=Pokrenite nekoliko virtualnih sustava na jednom host računalu
Comment[hu]=Több virtuális rendszer futtatása egyetlen gazdaszámítógépen
Comment[id]=Jalankan beberapa sistem virtual di komputer host tunggal
Comment[ja]=単一のホストコンピュータ上で複数の仮想システムを実行する
Comment[lt]=Vykdykite keletą virtualių sistemų viename pagrindiniame kompiuteryje
Comment[lv]=Darbiniet vairākas virtuālās sistēmas uz viena saimniekdatora
Comment[ms]=Jalankan beberapa sistem maya pada komputer hos tunggal
Comment[nb]=Kjør flere virtuelle systemer på en enkelt vertsmaskin
Comment[nl]=Voer verschillende virtuele systemen uit op een enkele hostcomputer
Comment[no]=Kjør flere virtuelle systemer på en enkelt vertsmaskin
Comment[pt]=Execute vários sistemas virtuais em um único computador host
Comment[ro]=Executați mai multe sisteme virtuale pe un singur computer gazdă
Comment[sk]=Spustite niekoľko virtuálnych systémov v jednom hostiteľskom počítači
Comment[sl]=Zaženite več virtualnih sistemov na enem gostujočem računalniku
Comment[sr]=Покрените неколико виртуелних система на једном хост рачунару
Comment[te]=ఒకే హోస్ట్ కంప్యూటర్లో అనేక వాస్తవిక వ్యవస్థలను అమలు చేయండి
Comment[tl]=Magpatakbo ng maraming mga virtual na sistema sa isang solong host computer
Comment[tr]=Tek bir ana bilgisayarda birkaç sanal sistemi çalıştırın
Comment[uk]=Запустіть декілька віртуальних систем на одному головному комп'ютері
Comment[vi]=Chạy một số hệ thống ảo trên một máy chủ lưu trữ đơn
Comment[de]=Mehrere virtuelle Maschinen auf einem einzigen Rechner ausführen
Comment[it]=Esegui più macchine virtuali su un singolo computer
Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
Comment[sv]=Kör flera virtuella system på en enda värddator
Comment[ko]=가상 머신
Type=Application
TryExec=VirtualBox
Exec=VirtualBox %U
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Icon=virtualbox
Categories=Emulator;Utility;
