[Desktop Entry]
Version=1.0
Name=VisualBoy Advance
Comment=Game Boy Advance emulator
Comment[az]=Oyun Boy Advance emulatoru
Comment[bg]=Game Boy Advance емулатор
Comment[bn]=গেম বয় অ্যাডভান্স এমুলেটর
Comment[ca]=Emulador de Game Boy Advance
Comment[cs]=Emulátor Game Boy Advance
Comment[da]=Game Boy Advance -emulator
Comment[de]=Game Boy Advance-Emulator
Comment[el]=Εξομοιωτής Game Boy Advance
Comment[eo]=Game Boy Advance-emulilo
Comment[es]=Emulador de Game Boy Advance
Comment[et]=Game Boy Advance emulaator
Comment[fi]=Game Boy Advance -emulaattori
Comment[fr]=Émulateur Game Boy Advance
Comment[hi]=गेम ब्वॉय एडवांस एमुलेटर
Comment[hr]=Game Boy Advance emulator
Comment[hu]=Game Boy Advance emulátor
Comment[id]=Emulator Game Boy Advance
Comment[it]=Emulatore Game Boy Advance
Comment[ja]=ゲームボーイアドバンスエミュレータ
Comment[ko]=게임보이 어드밴스 에뮬레이터
Comment[lt]=„Game Boy Advance“ emuliatorius
Comment[lv]=Game Boy Advance emulators
Comment[ms]=Emulator Game Boy Advance
Comment[nb]=Game Boy Advance -emulator
Comment[nl]=Game Boy Advance-emulator
Comment[no]=Game Boy Advance -emulator
Comment[pl]=Emulator Game Boy Advance
Comment[pt]=Emulador Game Boy Advance
Comment[ro]=Emulator Game Boy Advance
Comment[sk]=Emulátor Game Boy Advance
Comment[sl]=Emulator Game Boy Advance
Comment[sr]=Гаме Бои Адванце емулатор
Comment[sv]=Game Boy Advance -emulator
Comment[te]=గేమ్ బాయ్ అడ్వాన్స్ ఎమ్యులేటర్
Comment[tl]=Laro Boy Advance emulator
Comment[tr]=Game Boy Advance emülatörü
Comment[uk]=Емулятор Game Boy Advance
Comment[vi]=Trình giả lập Game Boy Advance
Exec=gvba
Icon=VisualBoyAdvance-gtk-32x32
Terminal=false
Type=Application
Categories=Game;Emulator;
StartupNotify=true
