[Desktop Entry]
Name=vokoscreen
GenericName=Video screencast
GenericName[az]=Video ekranı
GenericName[bg]=Сценарий за видеоклипове
GenericName[bn]=ভিডিও স্ক্রিনকাস্ট
GenericName[ca]=Pantalla de vídeo
GenericName[cs]=Video screencast
GenericName[da]=Video screencast
GenericName[de]=Video-Screencast
GenericName[el]=Βίντεο screencast
GenericName[eo]=Videoekrankopio
GenericName[es]=Screencast de video
GenericName[et]=Videokuvar
GenericName[fi]=Videon kuuntelu
GenericName[fr]=Screencast vidéo
GenericName[hi]=वीडियो स्क्रीनकास्ट
GenericName[hr]=Prikaz videozapisa
GenericName[hu]=Videószerkesztés
GenericName[id]=Video screencast
GenericName[it]=Screencast video
GenericName[ja]=ビデオスクリーンキャスト
GenericName[ko]=비디오 스크린 캐스트
GenericName[lt]=Vaizdo ekranas
GenericName[lv]=Video ekrānsaudzētājs
GenericName[ms]=Screencast video
GenericName[nb]=Video screencast
GenericName[nl]=Video screencast
GenericName[no]=Video screencast
GenericName[pl]=Video screencast
GenericName[pt]=Vídeo screencast
GenericName[ro]=Sesiunea video a ecranului
GenericName[sk]=Video screencast
GenericName[sl]=Video skrinjica
GenericName[sr]=Видео сцреенцаст
GenericName[sv]=Videoscreencast
GenericName[te]=వీడియో స్క్రీన్కాస్ట్
GenericName[tl]=Screencast ng video
GenericName[tr]=Video screencast
GenericName[uk]=Відеоролик
GenericName[vi]=Video screencast
Comment=Record a video screencast of your desktop
Comment[az]=Masaüstünüzün bir video ekranını yazın
Comment[bg]=Запишете видеокасетофон на вашия работен плот
Comment[bn]=আপনার ডেস্কটপের একটি ভিডিও স্ক্রিনকোড রেকর্ড করুন
Comment[ca]=Grava un screencast de vídeo del vostre escriptori
Comment[cs]=Zaznamenejte videostream na ploše
Comment[da]=Optag en video screencast på dit skrivebord
Comment[de]=Nehmen Sie einen Video-Screencast Ihres Desktops auf
Comment[el]=Καταγράψτε μια προβολή οθόνης βίντεο της επιφάνειας εργασίας σας
Comment[eo]=Registru videoekrankopion de via labortablo
Comment[es]=Grabe un video screencast de su escritorio
Comment[et]=Salvestage oma töölauale videokuvar
Comment[fi]=Tallenna työpöydän videon kuunteluportaali
Comment[fr]=Enregistrer un screencast vidéo de votre bureau
Comment[hi]=अपने डेस्कटॉप का एक वीडियो स्क्रीनकास्ट रिकॉर्ड करें
Comment[hr]=Snimite video snimak zaslona radne površine
Comment[hu]=Felvétel az asztal video képernyőképéről
Comment[id]=Rekam video screencast dari desktop Anda
Comment[it]=Registra uno screencast video sul tuo desktop
Comment[ja]=デスクトップのビデオスクリーンキャストを録画する
Comment[ko]=바탕 화면의 비디오 스크린 캐스트 녹화
Comment[lt]=Įrašykite vaizdo įrašo ekraną iš savo darbalaukio
Comment[lv]=Ierakstiet video darbvirsmas ekrānattēlu
Comment[ms]=Rekodkan skrin video desktop anda
Comment[nb]=Ta opp en videoscreencast på skrivebordet ditt
Comment[nl]=Neem een ​​video screencast op van je bureaublad
Comment[no]=Ta opp en videoscreencast på skrivebordet ditt
Comment[pl]=Nagraj screencast wideo na pulpicie
Comment[pt]=Grave um screencast de vídeo da sua área de trabalho
Comment[ro]=Înregistrați un ecran video de pe desktop
Comment[sk]=Nahrajte video vysielanie obrazovky na pracovnej ploche
Comment[sl]=Posnemite videoposnetek na namizju
Comment[sr]=Снимите видео снимак на радној површини
Comment[sv]=Spela in en video skärmdump på skrivbordet
Comment[te]=మీ డెస్క్టాప్ యొక్క వీడియో స్క్రీన్కాస్ట్ను రికార్డ్ చేయండి
Comment[tl]=Mag-record ng screencast ng video sa iyong desktop
Comment[tr]=Masaüstünüzün bir video screencastını kaydedin
Comment[uk]=Запишіть відеозапис на робочому столі
Comment[vi]=Quay video màn hình của máy tính để bàn của bạn
StartupNotify=false
Terminal=false
Type=Application
# note: unfrotunately theres no window class for it, duh
Icon=acidrip
Exec=vokoscreen
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
