[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Wetransfer
GenericName=Send big files to your contacts
GenericName[az]=Əlaqələrinizə böyük fayllar göndərin
GenericName[bg]=Изпратете големи файлове до вашите контакти
GenericName[bn]=আপনার পরিচিতিগুলিতে বড় ফাইল পাঠান
GenericName[ca]=Envia fitxers grans als teus contactes
GenericName[cs]=Odeslání velkých souborů vašim kontaktům
GenericName[da]=Send store filer til dine kontakter
GenericName[de]=Senden Sie große Dateien an Ihre Kontakte
GenericName[el]=Στείλτε μεγάλα αρχεία στις επαφές σας
GenericName[eo]=Sendu grandajn dosierojn al viaj kontaktoj
GenericName[es]=Envía grandes archivos a tus contactos
GenericName[et]=Saada suuremaid faile oma kontaktidele
GenericName[fi]=Lähetä suuria tiedostoja yhteystietoihisi
GenericName[fr]=Envoyer de gros fichiers à vos contacts
GenericName[hi]=अपने संपर्कों में बड़ी फाइलें भेजें
GenericName[hr]=Pošaljite velike datoteke u svoje kontakte
GenericName[hu]=Nagy fájlok küldése a névjegyekhez
GenericName[id]=Kirim file besar ke kontak Anda
GenericName[it]=Invia file di grandi dimensioni ai tuoi contatti
GenericName[ja]=連絡先に大きなファイルを送信する
GenericName[ko]=대화 상대에게 큰 파일 보내기
GenericName[lt]=Siųskite didelius failus į savo kontaktus
GenericName[lv]=Nosūtiet lielus failus saviem kontaktiem
GenericName[ms]=Hantar fail besar ke kenalan anda
GenericName[nb]=Send store filer til kontaktene dine
GenericName[nl]=Verzend grote bestanden naar uw contacten
GenericName[no]=Send store filer til kontaktene dine
GenericName[pl]=Wysyłaj duże pliki do swoich kontaktów
GenericName[pt]=Envie arquivos grandes para seus contatos
GenericName[ro]=Trimiteți fișiere mari contactelor dvs.
GenericName[sk]=Odošlite veľké súbory do kontaktov
GenericName[sl]=Pošljite velike datoteke v svoje stike
GenericName[sr]=Пошаљите велике датотеке својим контактима
GenericName[sv]=Skicka stora filer till dina kontakter
GenericName[te]=మీ పరిచయాలకు పెద్ద ఫైళ్లను పంపించండి
GenericName[tl]=Magpadala ng mga malalaking file sa iyong mga contact
GenericName[tr]=Kişilerinize büyük dosyalar gönderin
GenericName[uk]=Надіслати великі файли до ваших контактів
GenericName[vi]=Gửi các tệp lớn đến các liên hệ của bạn
Categories=FileTransfer;WebApp
StartupNotify=true
NoDisplay=false
Icon=network
Exec=web-launcher --app=http://wetransfer.com
