[Desktop Entry]
# dummy desktop for add icon to x-terminal-emulator
Encoding=UTF-8
Type=Application
Name=Terminal
GenericName=Terminal
Comment=Terminal emulator
Comment[az]=Terminal emulyatoru
Comment[bg]=Терминален емулатор
Comment[bn]=টার্মিনাল এমুলেটর
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[da]=Terminalemulator
Comment[de]=Terminal-Emulator
Comment[el]=Εξομοιωτής τερματικού
Comment[et]=Terminali emulaator
Comment[fi]=Terminaali -emulaattori
Comment[fr]=Émulateur de terminal
Comment[hi]=टर्मिनल एमुलेटर
Comment[hr]=Terminal emulator
Comment[hu]=Terminál emulátor
Comment[id]=Emulator terminal
Comment[ja]=ターミナルエミュレータ
Comment[lt]=Terminalo emuliatorius
Comment[lv]=Termināla emulators
Comment[ms]=Emulator terminal
Comment[nb]=Terminalemulator
Comment[nl]=Terminal-emulator
Comment[no]=Terminalemulator
Comment[pl]=Emulator terminala
Comment[ro]=Emulator terminal
Comment[sk]=Koncový emulátor
Comment[sl]=Terminalni emulator
Comment[sr]=Терминал емулатор
Comment[sv]=Terminalemulator
Comment[te]=టెర్మినల్ ఎమ్యులేటర్
Comment[tl]=Terminal emulator
Comment[tr]=Bağlantı emülatörü
Comment[uk]=Емулятор терміналу
Comment[vi]=Trình mô phỏng thiết bị đầu cuối
Comment[eo]=Terminalimitilo
Comment[es]=Emulador de terminal
Comment[gl]=Emulador de terminal
Comment[it]=Emulatore di terminale
Comment[pt]=Emulador de terminal
Comment[ru]=Эмулятор терминала
Comment[ko]=터미널 에뮬레이터
Keywords=shell;prompt;command;commandline;
Keywords[ko]=셸;프롬프트;명령;명령줄;터미널;
Exec=x-terminal-emulator
Icon=terminology
Categories=System;TerminalEmulator;
StartupWMClass=x-terminal-emulator

#NoDisplay=true
#OnlyShowIn=Unity;
