[Desktop Entry]
Encoding=UTF-8
Name=XChat IRC
GenericName=Chat
GenericName[az]=Söhbət
GenericName[bg]=Чат
GenericName[bn]=আড্ডা
GenericName[ca]=Xat
GenericName[cs]=Povídat si
GenericName[da]=Snak
GenericName[de]=Plaudern
GenericName[el]=Κουβέντα
GenericName[eo]=Babili
GenericName[es]=Chat
GenericName[et]=Vestlus
GenericName[fi]=Chat
GenericName[fr]=Discuter
GenericName[hi]=चैट
GenericName[hr]=Razgovor
GenericName[hu]=Csevegés
GenericName[id]=Mengobrol
GenericName[it]=Chiacchierata
GenericName[ja]=チャット
GenericName[ko]=채팅
GenericName[lt]=Pokalbis
GenericName[lv]=Tērzēšana
GenericName[ms]=Berbual
GenericName[nb]=Chat
GenericName[nl]=Chatten
GenericName[no]=Chat
GenericName[pl]=Czat
GenericName[pt]=Bate-papo
GenericName[ro]=Conversație
GenericName[sk]=Rozhovor
GenericName[sl]=Klepetajte
GenericName[sr]=Ћаскање
GenericName[sv]=Chatt
GenericName[te]=చాట్
GenericName[tl]=Chat
GenericName[tr]=Sohbet etmek
GenericName[uk]=Чат
GenericName[vi]=Trò chuyện
Comment=Chat with other people using Internet Relay Chat
Comment[de]=Chatten Sie mit anderen Personen über den Internet Relay Chat
Comment[es]=Chatea con otras personas usando Internet Relay Chat
Comment[fi]=Keskustele muiden ihmisten kanssa Internet Relay Chatin avulla
Comment[fr]=Discutez avec d'autres personnes en utilisant Internet Relay Chat
Comment[hu]=Csevegjen másokkal az Internet Relay Chat használatával
Comment[lt]=Kalbėkitės su kitais žmonėmis naudodami „Internet Relay Chat“
Comment[no]=Chat med andre mennesker ved hjelp av Internet Relay Chat
Comment[ro]=Conversați prin chat cu alte persoane folosind Internet Relay Chat
Comment[sl]=Klepetajte z drugimi ljudmi z uporabo internetnega relejnega klepeta
Comment[sv]=Chatta med andra personer som använder Internet Relay Chat
Comment[az]=İnternet Relay Chat istifadə edərək digər insanlarla söhbət edin
Comment[bg]=Чат с други хора, използващи Интернет реле за чат
Comment[bn]=ইন্টারনেট রিলে চ্যাট ব্যবহার করে অন্যান্য মানুষের সাথে চ্যাট করুন
Comment[ca]=Xateja amb altres persones mitjançant Xat de retransmissió per Internet
Comment[cs]=Chatujte s ostatními lidmi pomocí Internet Relay Chat
Comment[da]=Chat med andre mennesker ved hjælp af Internet Relay Chat
Comment[el]=Συνομιλήστε με άλλα άτομα χρησιμοποιώντας το Relay Chat του Διαδικτύου
Comment[eo]=Babili kun aliaj homoj per Interreta Relajsa Babilejo
Comment[et]=Vestelge teiste inimestega Interneti -releevestluse abil
Comment[hi]=इंटरनेट रिले चैट का उपयोग करके अन्य लोगों के साथ चैट करें
Comment[hr]=Razgovarajte s drugim ljudima koristeći internetski relejni chat
Comment[id]=Mengobrol dengan orang lain menggunakan Obrolan Relay Internet
Comment[it]=Chatta con altre persone utilizzando Internet Relay Chat
Comment[ja]=インターネットリレーチャットを使用して他の人とチャットする
Comment[ko]=인터넷 릴레이 채팅을 사용하여 다른 사람들과 채팅
Comment[lv]=Tērzējiet ar citiem cilvēkiem, izmantojot interneta pārsūtīšanas tērzēšanu
Comment[ms]=Berbual dengan orang lain menggunakan Internet Relay Chat
Comment[nb]=Chat med andre mennesker ved hjelp av Internet Relay Chat
Comment[nl]=Chat met andere mensen via Internet Relay Chat
Comment[pl]=Rozmawiaj z innymi osobami za pomocą Internet Relay Chat
Comment[pt]=Converse com outras pessoas usando o Internet Relay Chat
Comment[sk]=Rozhovor s inými ľuďmi pomocou Internet Relay Chat
Comment[sr]=Разговарајте са другим људима користећи Интернет релејно ћаскање
Comment[te]=ఇంటర్నెట్ రిలే చాట్ ఉపయోగించి ఇతర వ్యక్తులతో చాట్ చేయండి
Comment[tl]=Makipag-chat sa ibang mga tao gamit ang Internet Relay Chat
Comment[tr]=İnternet Geçişli Sohbeti kullanarak diğer kişilerle sohbet edin
Comment[uk]=Спілкуйтеся з іншими людьми за допомогою Інтернет -чату
Comment[vi]=Trò chuyện với những người khác bằng Internet Relay Chat
TryExec=xchat
Exec=xchat
Icon=xchat
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
