[Desktop Entry]
Version=1.0
Type=Application
Name=Multiple copy and paste
Name[zh]=多次复制粘贴
Name[az]=Bir neçə surəti və yapışdırıb
Name[bg]=Множество копиране и поставяне
Name[bn]=একাধিক কপি এবং পেস্ট
Name[ca]=Múltiples copiar i enganxar
Name[cs]=Více kopií a vkládání
Name[da]=Flere kopier og indsæt
Name[de]=Mehrfach kopieren und einfügen
Name[el]=Πολλαπλά αντίγραφα και επικόλληση
Name[eo]=Multobligu kopii kaj bati
Name[es]=Copiar y pegar múltiples
Name[et]=Mitme kopeerimise ja kleepimise
Name[fi]=Useita kopioi ja liitä
Name[fr]=Multiple copier et coller
Name[hi]=एकाधिक कॉपी और पेस्ट
Name[hr]=Višestruko kopiranje i lijepljenje
Name[hu]=Több másolás és beillesztés
Name[id]=Salin dan tempel banyak
Name[it]=Copia e incolla multipli
Name[ja]=複数コピー＆ペースト
Name[ko]=여러 개의 복사하여 붙여 넣기
Name[lt]=Keli kopijuoti ir įklijuoti
Name[lv]=Vairāki kopēt un ielīmēt
Name[ms]=Pelbagai salinan dan tampal
Name[nb]=Flere kopiere og lime inn
Name[nl]=Meerdere kopiëren en plakken
Name[no]=Flere kopiere og lime inn
Name[pl]=Wielokrotne kopiowanie i wklejanie
Name[pt]=Múltipla copiar e colar
Name[ro]=Copiați și lipiți mai multe
Name[sk]=Viacnásobné kopírovanie a vkladanie
Name[sl]=Več kopiranje in lepljenje
Name[sr]=Вишеструко копирање и лепљење
Name[sv]=Flera kopior och klistra in
Name[te]=బహుళ కాపీ మరియు పేస్ట్
Name[tl]=Maramihang kopya at i-paste
Name[tr]=Birden çok kopyala ve yapıştır
Name[uk]=Кілька копіювати і вставляти
Name[vi]=Nhiều bản sao và dán
Comment=Clipboard manager
Comment[zh]=剪贴板管理器
Comment[az]=Pano meneceri
Comment[bg]=Мениджър на клипборда
Comment[bn]=ক্লিপবোর্ড ম্যানেজার
Comment[eo]=Portebla direktisto
Comment[et]=Lõikelaudade haldur
Comment[hi]=क्लिपबोर्ड प्रबंधक
Comment[ms]=Pengurus papan klip
Comment[nb]=Utklippstavlen leder
Comment[no]=Utklippstavlen leder
Comment[ro]=Manager de timbru
Comment[sl]=Upravitelj odložišča
Comment[sr]=Менаџер за међуспремник
Comment[te]=క్లిప్బోర్డ్ మేనేజర్
Comment[tl]=Clipboard manager
Comment[ar]=مدير الحافظة
Comment[ast]=Xestor de cartafueyu
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholderhåndtering
Comment[de]=Verwaltung der Zwischenablagen
Comment[el]=Διαχειριστής προχείρου
Comment[en_GB]=Clipboard manager
Comment[es]=Gestor del portapapeles
Comment[eu]=Arbel kudeatzailea
Comment[fi]=Leikepöytien hallintatyökalu
Comment[fr]=Gestionnaire de presse-papier
Comment[gl]=Xestor de portarretallos
Comment[he]=מנהל לוח גזירה
Comment[hr]=Upravitelj međuspremnika
Comment[hu]=Vágólapkezelő
Comment[id]=Manajer papan klip
Comment[is]=Klippispjaldsstjóri
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボードマネージャ
Comment[kk]=Алмасу буферін басқарушысы
Comment[ko]=클립보드 관리자
Comment[lt]=Iškarpinės tvarkyklė
Comment[lv]=Starpliktuves pārvaldnieks
Comment[nl]=Klembordbeheerder
Comment[pl]=Zarządza skopiowanymi elementami
Comment[pt]=Gestor de área de transferência
Comment[pt_BR]=Gerenciador de área de transferência
Comment[ru]=Менеджер буфера обмена
Comment[sk]=Správca schránky
Comment[sv]=Urklippshanterare
Comment[tr]=Pano yöneticisi
Comment[ug]=Clipboard باشقۇرغۇ
Comment[uk]=Керування буфером обміну
Comment[ur]=کلپ بورڈ منیجر
Comment[ur_PK]=کلپ بورڈ منیجر
Comment[vi]=Trình quản lý bộ nhớ đệm
Comment[zh_CN]=剪贴板管理器
Comment[zh_TW]=剪貼簿管理員
TryExec=xfce4-clipman
Exec=xfce4-clipman
Icon=xfce4-clipman-plugin
Terminal=false
Categories=GTK;Utility;TrayIcon;
OnlyShowIn=XFCE;GNOME;
StartupNotify=false
