[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Smarter every day
Name[az]=Hər gün daha ağıllı
Name[bg]=По-умни всеки ден
Name[bn]=প্রতিদিন স্মার্ট
Name[ca]=Cada dia més intel·ligent
Name[cs]=Každý den chytřejší
Name[da]=Smartere hver dag
Name[de]=Jeden Tag klüger
Name[el]=Πιο έξυπνος κάθε μέρα
Name[eo]=Pli inteligenta ĉiutage
Name[es]=Más inteligente cada día
Name[et]=Targem iga päevaga
Name[fi]=Älykkäämpi joka päivä
Name[fr]=Plus intelligent chaque jour
Name[hi]=हर दिन होशियार
Name[hr]=Svaki dan pametniji
Name[hu]=Minden nap okosabb
Name[id]=Lebih pintar setiap hari
Name[it]=Ogni giorno più intelligente
Name[ja]=毎日、よりスマートに
Name[ko]=매일 더 스마트하게
Name[lt]=Protingesnis kiekvieną dieną
Name[lv]=Ar katru dienu gudrāks
Name[ms]=Lebih bijak setiap hari
Name[nb]=Smartere hver dag
Name[nl]=Elke dag slimmer
Name[no]=Smartere hver dag
Name[pl]=Mądrzejszy każdego dnia
Name[pt]=Mais inteligente a cada dia
Name[ro]=În fiecare zi mai inteligent
Name[sk]=Každý deň múdrejší
Name[sl]=Vsak dan pametnejši
Name[sr]=Сваким даном паметнији
Name[sv]=Smartare för varje dag
Name[te]=ప్రతిరోజూ తెలివిగా
Name[tl]=Mas matalino araw-araw
Name[tr]=Her gün daha akıllı
Name[uk]=Розумніше з кожним днем
Name[vi]=Thông minh hơn mỗi ngày
Name[zh]=每天更聪明
GenericName=Youtube educative channel
GenericName[zh]=Youtube教育频道
GenericName[az]=Youtube təhsilli kanal
GenericName[bg]=Youtube образователен канал
GenericName[bn]=ইউটিউব শিক্ষাগত চ্যানেল
GenericName[ca]=Canal educatiu de YouTube
GenericName[cs]=Youtube vzdělávací kanál
GenericName[da]=Youtube uddannelses kanal
GenericName[de]=Youtube erzieherischer Kanal
GenericName[el]=Youtube εκπαιδευτικό κανάλι
GenericName[eo]=Edukia Jutuba kanalo
GenericName[es]=Canal educativo de Youtube
GenericName[et]=Youtube hariv kanal
GenericName[fi]=Youtube-koulutuskanava
GenericName[fr]=Chaîne éducative Youtube
GenericName[hi]=यूट्यूब शिक्षित चैनल
GenericName[hr]=YouTubeov edukativni kanal
GenericName[hu]=Youtube oktatócsatorna
GenericName[id]=Saluran edukasi Youtube
GenericName[it]=Canale educativo di Youtube
GenericName[ja]=YouTubeの教育チャネル
GenericName[ko]=YouTube 교육 채널
GenericName[lt]=Youtube edukacinis kanalas
GenericName[lv]=Youtube izglītojošs kanāls
GenericName[ms]=Saluran pendidikan Youtube
GenericName[nb]=Youtube pedagogisk kanal
GenericName[nl]=YouTube educatief kanaal
GenericName[no]=Youtube pedagogisk kanal
GenericName[pl]=Kanał edukacyjny Youtube
GenericName[pt]=Canal educativo do Youtube
GenericName[ro]=Youtube canal educativ
GenericName[sk]=Youtube vzdelávací kanál
GenericName[sl]=Youtube izobraževalni kanal
GenericName[sr]=Иоутубе едукативни канал
GenericName[sv]=Youtube pedagogisk kanal
GenericName[te]=Youtube విద్యా ఛానెల్
GenericName[tl]=Ang edukasyonal na channel sa Youtube
GenericName[tr]=Youtube eğitim kanalı
GenericName[uk]=Навчальний канал YouTube
GenericName[vi]=Kênh giáo dục Youtube
Categories=Education;WebApp
StartupNotify=true
#NoDisplay=false
Icon=video
Exec=web-launcher --app="https://www.youtube.com/@smartereveryday/videos"
