[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Veritasium
GenericName=Youtube educative channel
GenericName[az]=Youtube təhsilli kanal
GenericName[bg]=Youtube образователен канал
GenericName[bn]=ইউটিউব শিক্ষাগত চ্যানেল
GenericName[ca]=Canal educatiu de YouTube
GenericName[cs]=Youtube vzdělávací kanál
GenericName[da]=Youtube uddannelses kanal
GenericName[de]=Youtube erzieherischer Kanal
GenericName[el]=Youtube εκπαιδευτικό κανάλι
GenericName[eo]=Kanalo educativa de Youtube
GenericName[es]=Canal educativo de Youtube
GenericName[et]=Youtube hariv kanal
GenericName[fi]=Youtube-koulutuskanava
GenericName[fr]=Chaîne éducative Youtube
GenericName[hi]=यूट्यूब शिक्षित चैनल
GenericName[hr]=YouTubeov edukativni kanal
GenericName[hu]=Youtube oktatócsatorna
GenericName[id]=Saluran edukasi Youtube
GenericName[it]=Canale educativo di Youtube
GenericName[ja]=YouTubeの教育チャネル
GenericName[ko]=YouTube 교육 채널
GenericName[lt]=Youtube edukacinis kanalas
GenericName[lv]=Youtube izglītojošs kanāls
GenericName[ms]=Saluran pendidikan Youtube
GenericName[nb]=Youtube pedagogisk kanal
GenericName[nl]=YouTube educatief kanaal
GenericName[no]=Youtube pedagogisk kanal
GenericName[pl]=Kanał edukacyjny Youtube
GenericName[pt]=Canal educativo do Youtube
GenericName[ro]=Youtube canal educativ
GenericName[sk]=Youtube vzdelávací kanál
GenericName[sl]=Youtube izobraževalni kanal
GenericName[sr]=Иоутубе едукативни канал
GenericName[sv]=Youtube pedagogisk kanal
GenericName[te]=Youtube విద్యా ఛానెల్
GenericName[tl]=Ang edukasyonal na channel sa Youtube
GenericName[tr]=Youtube eğitim kanalı
GenericName[uk]=Навчальний канал YouTube
GenericName[vi]=Kênh giáo dục Youtube
Categories=Education;WebApp
StartupNotify=true
NoDisplay=false
Icon=video
Exec=web-launcher --app="https://www.youtube.com/user/1veritasium/videos"
